<ion-card *ngIf="candidate" [class.assigned]="candidate.store">

  <ion-item lines="none">
    <div tabindex="0"></div>

    <ion-avatar slot="start">
      <img *ngIf="candidate.candidate_personal_photo"
        src="{{ aws.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}" onerror="this.src='/assets/icon/icon.png';">
      <img *ngIf="candidate && !candidate.candidate_personal_photo" src="/assets/icon/icon.png">
    </ion-avatar>

    <ion-label>

      <h2 class="candidate_name">
        {{ candidate.candidate_name ? candidate.candidate_name : candidate.candidate_name_ar }}
        &nbsp;
        <ion-icon class="verified" src="../../assets/images/ic_verified.svg" *ngIf="candidate.isProfileCompleted" title="Completed Profile"></ion-icon>
      </h2>

      <p>{{ candidate.candidate_birth_date | candidateAge }}
        <span *ngIf="candidate.candidate_hourly_rate > 0"><span class="sep">•</span>{{ candidate.candidate_hourly_rate }} KD /hour</span>
      </p>

      <p class="nationality" *ngIf="candidate.nationality">
        {{
        translateService.langContent(candidate.nationality.country_nationality_name_en,
        candidate.nationality.country_nationality_name_ar) }}
      </p>

      <p class="nationality" *ngIf="!candidate.nationality && candidate.country">
        {{
        translateService.langContent(candidate.country.country_name_en,
        candidate.country.country_name_ar) }}
      </p>

      <p *ngIf="candidate.store">
        {{ candidate.store.store_name }}

        <span *ngIf="candidate.company">@ {{ candidate.company.company_name }} </span>

        <br/>

        <small *ngIf="latestWorkStartedOn">
          Latest Work Started on {{ toDate(latestWorkStartedOn) | date }}
        </small>
      </p>

      <ion-badge *ngIf="candidate.isProfileCompleted == false" color="danger">
        Incomplete Profile
      </ion-badge>

      <ion-badge *ngIf="candidate.civilExpired" color="danger">
        Civil Expired
      </ion-badge>

      <ion-badge *ngIf="!candidate.candidate_email_verification" color="danger">
        Email Not Verified
      </ion-badge>
      <ion-badge *ngIf="candidate.deleted" color="danger">
        Deleted
      </ion-badge>
    </ion-label>

    <ion-checkbox *ngIf="type == 'candidate'" #checkbox
      (click)="$event.preventDefault();$event.stopPropagation();" slot="end"
      (ionChange)="onCandidateSelected($event)"
      [value]="candidate.candidate_id"></ion-checkbox>

  </ion-item>

</ion-card>

