<ion-item-sliding  [disabled]="platform.width() > 768">
  <ion-item tappable (click)="rowSelected(candidate)">
    <div tabindex="0"></div>

    <ion-avatar slot="start">
      <img *ngIf="candidate.candidate_personal_photo"
        src="{{ aws.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}" onerror="this.src='/assets/icon/icon.png';">
      <img *ngIf="candidate && !candidate.candidate_personal_photo" src="/assets/icon/icon.png">
    </ion-avatar>

    <ion-label>
      <h2 class="candidate_name">{{ candidate.candidate_name ?candidate.candidate_name : candidate.candidate_name_ar }}</h2>

      <p *ngIf="candidate.store">
        {{ candidate.store.store_name }}
        <span *ngIf="candidate.company">@ {{ candidate.company.company_name }} </span>
        <br/>
        <small *ngIf="latestWorkStartedOn"> Latest Work Started on {{ toDate(latestWorkStartedOn) | date }} </small>
      </p>

      <ion-badge *ngIf="candidate.approved == 0 && candidate.isProfileCompleted == true" color="warning">
        Requires Approval
      </ion-badge>

      <ion-badge *ngIf="candidate.isProfileCompleted == false" color="danger">
        Incomplete Profile
      </ion-badge>

      <ion-badge *ngIf="!candidate.candidate_email_verification" color="danger">
        Email Not Verified
      </ion-badge>
    </ion-label>

    <ion-checkbox *ngIf="type == 'candidate'" #checkbox
      (click)="$event.preventDefault();$event.stopPropagation();" slot="end"
      (ionChange)="onCandidateSelected($event)"
      [value]="candidate.candidate_id"></ion-checkbox>

  </ion-item>

  <ion-item-options side="end" *ngIf="!candidate.store">
    <ion-button color="danger" (click)="delete(candidate)">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete
    </ion-button>
  </ion-item-options>
</ion-item-sliding>
