<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/candidate-view/{{ candidate_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <h3>Candidate Suggestion</h3>

    <h4 *ngIf="candidate">
      {{ candidate.candidate_name }}
      <span *ngIf="!candidate.candidate_name">{{ candidate.candidate_name_ar }}</span>
    </h4>

    <ng-container *ngFor="let suggestion of suggestions" >
      <suggestion [model]="suggestion" (onUpdate)="loadSuggestions()"></suggestion>
      <ng-container *ngIf="suggestion.feedbacks && suggestion.feedbacks.length > 0 && this.status != 1">
        <note *ngFor="let feedback of suggestion.feedbacks" [routerLink]="'/note-view/' + feedback.note_uuid"
              [note]="feedback"></note>
      </ng-container>
    </ng-container>


    <loading-modal [loading]="loading" type="note-list"></loading-modal>
  </div>
</ion-content>
