
.end {
  ion-badge {
    display: block;
    margin-bottom: 4px;
  }
}

.contact-list a {
  text-decoration: none;

  ion-icon {
      top: 2px;
      position: relative;
      color: var(--ion-color-step-600, #666666);
  }
}

ion-content,ion-list,section {
  background: #f7f8fa;
  --background: #f7f8fa;
}
//ion-content .container {
//  padding-top: 24px;
//}

ion-badge {
  border: solid 1px #4354a4;
  background-color: #ffffff;
  padding: 4px 17px;
  margin: 0 7px 7px 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #4354a4;
}
ion-badge.active {
  background-color: #4354a4;
  color: #fff;
}

h1 {
  margin: 15px 0 24px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

ion-searchbar {
  padding: 3px 0 0 23px;
  --background: #f5f5f7;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d8d;
}
section {
  padding: 2px;
}

.setting{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f5f5f7;
  margin-top: 8px;
  margin-right: 26px;
  margin-left: 12px;
  ion-icon{
    color:#68687a;
  }
}

ion-toolbar.title {
  padding: 10px 0;

  ion-title {
    font-family: Inter;
    font-size: 32px!important;
    font-weight: bold!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #23233d;
    padding:29px 29px 0 29px;
  }
}
ion-toolbar.search {
  padding: 4px 0 13px;
}
.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: #4c70f2;
  ion-icon {
    color:#fff;
  }
}
.filter-tag {
  padding: 12px 0 0;
  ion-badge {
    text-transform: capitalize;
    margin-right:12px;
    background: #3880ff;
    margin: 0;
    font-size: 12px;
    color: #fff;
    margin-right: 5px;
    border: none;
  }
}
