<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!this.company_id"></ion-menu-button>
      <ion-back-button *ngIf="this.company_id" defaultHref="/company-list"></ion-back-button>
    </ion-buttons>

    <ion-title>Select Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let company of companies" (click)="rowSelected(company)">
      <ion-label>
        {{ company.company_name }}
      </ion-label>
      <ion-badge slot="end" *ngIf="company.total_candidates > 0">
        {{ company.total_candidates }} candidates
      </ion-badge>

      <ion-badge slot="end" *ngIf="company.subCompanies && company.subCompanies.length > 0">
        {{ company.subCompanies.length }} sub-companies
      </ion-badge>
      <ion-badge slot="end" *ngIf="company.stores.length > 0">
        {{ company.stores.length }} stores
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-row class="ion-text-center">
    <div class="pagination-wrapper">
      <ion-button *ngFor="let page of pages" size="small" color="{{ pageLinkColor(page) }}" (click)="loadCompanyList(page)">
        {{ page }}
      </ion-button>
    </div>
  </ion-row>

</ion-content>
