
.end {
  ion-badge {
    display: block;
    margin-bottom: 4px;
  }
}

.contact-list a {
  text-decoration: none;

  ion-icon {
      top: 2px;
      position: relative;
      color: var(--ion-color-step-600, #666666);
  }
}

.searchbar-wrapper {
  padding: 0 20px 13px;

  ion-searchbar {
    --background: var(--ion-color-custom-8);
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    --placeholder-color: var(--ion-color-custom-7);
    color: var(--ion-color-custom-10);
    --box-shadow: none;
    --min-height: 40px;
    --height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    --icon-color: rgba(125, 125, 141, 0.7);
  }

  ion-button {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 0 0 0 16px;
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
  }

  ion-button.active::after { 
    content: " ";
    background: red;
    background: var(--ion-color-primary);
    border-radius: 100%;
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    padding: 5px;
  }
}


ion-content,ion-list,section {
  background: var(--ion-color-custom-9);
  --background: var(--ion-color-custom-9);
}
//ion-content .container {
//  padding-top: 24px;
//}

ion-badge {
  border: solid 1px #4354a4;
  background-color: var(--ion-card-background);
  padding: 4px 17px;
  margin: 0 7px 7px 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: var(--ion-color-custom-53);
}
ion-badge.active {
  background-color: var(--ion-color-custom-53);
  color: var(--ion-color-primary-contrast);
}

h1 {
  margin: 15px 0 24px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

ion-searchbar {
  padding: 3px 0 0 23px;
  --background: var(--ion-color-custom-8);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-7);
}
section {
  padding: 2px;
}

.setting{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--ion-color-custom-8);
  margin-top: 8px;
  margin-right: 26px;
  margin-left: 12px;
  ion-icon{
    color:var(--ion-color-custom-5);
  }
}

ion-toolbar.title {
  padding: 10px 0;

  ion-title {
    font-family: Inter;
    font-size: 32px!important;
    font-weight: bold!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--ion-color-custom-6);
    padding:29px 29px 0 29px;
  }
}

.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: var(--ion-color-custom-14);
  ion-icon {
    color:var(--ion-color-primary-contrast);
  }
}
.filter-tag {
  padding: 12px 0 0;
  ion-badge {
    text-transform: capitalize;
    margin-right:12px;
    background: var(--ion-color-primary);
    margin: 0;
    font-size: 12px;
    color: var(--ion-color-primary-contrast);
    margin-right: 5px;
    border: none;
  }
}
