<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!this.company_id"></ion-menu-button>
      <ion-back-button *ngIf="this.company_id" defaultHref="/company-list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="!company">Select Company</ion-title>
    <ion-title *ngIf="company">{{ company.company_name }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!company">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="1">
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button value="0">
        <ion-label>In Active</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-container>

  <loading-modal [loading]="loading || loadingMore" type="text-list"></loading-modal>

  <div class="ion-text-center ion-padding" *ngIf="company">
    <img *ngIf="company.company_logo" src="{{ aws.cloudinaryUrl + company.company_logo }}"
      (error)="loadLogo($event,company)" width="80">
    <img *ngIf="!company.company_logo" src="/assets/icon/icon.png" width="80">
  </div>

  <section *ngIf="company && company.company_email">

    <ion-item lines="none">
      <ion-label>
        <h3>Followup</h3>
        <ion-chip color="primary" *ngIf="company.company_followup">
          Yes
        </ion-chip>
        <ion-chip color="light" *ngIf="!company.company_followup">
          No
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="company.company_followup">
      <ion-button (click)="addFollowupNote()">
        I have followed up with this company
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Last Followup</h3>
        <p>@ {{ toDate(company.company_last_followup_datetime) | date: 'MMM d, y, h:mm:ss a' }}</p>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">
      <ion-label>
        Contact
      </ion-label>
    </ion-item-divider>

    <ion-item href='mailto:{{ company.company_email }}'>
      <ion-label>
        <h3>Email</h3>
        <p>{{ company.company_email }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Common Name [English]</h3>
        <p>{{ company.company_common_name_en }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Common Name [Arabic]</h3>
        <p>{{ company.company_common_name_ar }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Description [English]</h3>
        <p>{{ company.company_description_en }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Description [Arabic]</h3>
        <p>{{ company.company_description_ar }}</p>
      </ion-label>
    </ion-item>

    <ion-item href='{{ company.company_website }}'>
      <ion-label>
        <h3>Website</h3>
        <p>{{ company.company_website }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-button expand="full" color="danger" (click)="uploadDocument()">
        <span>Upload Document</span>
      </ion-button>
    </ion-item>

    <div *ngIf="company.files && company.files.length > 0">
      <ion-item-divider color="light">
        <ion-label>
          Uploaded Document
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let file of company.files">
        <ion-label>
          <a target="_blank" (click)="$event.stopPropagation()"
            href="{{ aws.permanentBucketUrl }}{{ file.file_s3_path }}">
            {{file.file_title}}
          </a>
          <p>{{file.file_description}}</p>
        </ion-label>
      </ion-item>
    </div>

    <!-- Brand List -->

    <section *ngIf="company.brands && company.brands.length > 0">

      <ion-item-divider color="light">
        <ion-label>
          Brands
        </ion-label>
      </ion-item-divider>

      <ion-list>
        <ion-item tappable *ngFor="let brand of company.brands">
          <ion-thumbnail slot="start">
            <ion-img *ngIf="brand.brand_logo" [src]="aws.cloudinaryUrl + 'company-brand/' + brand.brand_logo">
            </ion-img>
            <ion-img *ngIf="!brand.brand_logo" src="assets/images/placeholder.png"></ion-img>
          </ion-thumbnail>
          <ion-label>
            {{ brand.brand_name_en }}
          </ion-label>
        </ion-item>
      </ion-list>
    </section>

    <!-- Contact List -->

    <section>

      <ion-item-divider color="light">
        <ion-label>
          Contacts
        </ion-label>
      </ion-item-divider>

      <ion-list class="contact-list">
        <ion-item-sliding *ngFor="let companyContact of companyContacts" [disabled]="platform.width() > 768">
          <ion-item tappable (click)="onContactSelected(companyContact)">
            <ion-label>
              <h4>{{ companyContact.contact_name }}</h4>
              <p>
                {{ companyContact.contact_position }}
              </p>
              <p>
                <a href="mailto:{{ companyContactEmail.email_address }}" (click)="doNothing($event)"
                  *ngFor="let companyContactEmail of companyContact.companyContactEmails">
                  <ion-icon name="mail-outline"></ion-icon> {{ companyContactEmail.email_address }}
                </a>
              </p>
              <p>
                <a href="tel:{{ companyContactPhone.phone_number }}" (click)="doNothing($event)"
                  *ngFor="let companyContactPhone of companyContact.companyContactPhones">
                  <ion-icon name="call-outline"></ion-icon> {{ companyContactPhone.phone_number }}
                </a>
              </p>
            </ion-label>

            <ion-buttons slot="end" *ngIf="platform.width() > 768">
              <ion-button color="danger" (click)="deleteContact($event, companyContact)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Delete
              </ion-button>
            </ion-buttons>

          </ion-item>

          <ion-item-options side="end">
            <ion-button color="danger" (click)="deleteContact($event, companyContact)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item lines="none">
          <ion-button (click)="addCompanyContact()">
            Add New Contact
          </ion-button>
        </ion-item>
      </ion-list>
    </section>

    <!-- request List -->
    
    <section *ngIf="!loading && company">

      <ion-item-divider color="light">
        <ion-label>
          Requests
        </ion-label>
      </ion-item-divider>

      <ion-list>
        <ion-item-sliding [disabled]="platform.width() > 768" *ngFor="let request of company.requests">
          <ion-item tappable (click)="addRequest(request)">
            <ion-label>
              {{ request.request_position_title }}<br />
              <small>{{ request.request_created_datetime | date}}</small>
            </ion-label>

            <ion-buttons slot="end" *ngIf="platform.width() > 768">
              <ion-button color="danger" (click)="remoteRequest($event, request)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Delete
              </ion-button>
            </ion-buttons>

          </ion-item>
          <ion-item-options side="end">
            <ion-button color="danger" (click)="remoteRequest($event, request)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item>
          <ion-button expand="full" color="danger" (click)="addRequest()">
            <span>Add New Request</span>
          </ion-button>
        </ion-item>
      </ion-list>
    </section>

    <!-- note List -->
    <section *ngIf="!loading && company">

      <ion-item-divider color="light">
        <ion-label>
          Notes
        </ion-label>
      </ion-item-divider>

      <ion-list>
        <ion-item-sliding [disabled]="platform.width() > 768" *ngFor="let note of company.notes">
          <ion-item tappable (click)="addNote(note)">
            <ion-label>
              {{ note.note_text }}<br />
              <small>{{ note.note_created_datetime | date}}</small>
            </ion-label>

            <ion-buttons slot="end" *ngIf="platform.width() > 768">
              <ion-button color="danger" (click)="remoteNote($event, note)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Delete
              </ion-button>
            </ion-buttons>

          </ion-item>
          <ion-item-options side="end">
            <ion-button color="danger" (click)="remoteNote($event, note)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item>
          <ion-button expand="full" color="danger" (click)="addNote(null)">
            <span>Add New Note</span>
          </ion-button>
        </ion-item>
      </ion-list>
    </section>

    <ion-item-divider color="light">
      <ion-label>
        Payment
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        Bonus Commission(%) - {{ company.company_bonus_commission }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Hourly Rate - {{ company.company_hourly_rate | number:'1.3-3' }} KWD
      </ion-label>
    </ion-item>

  </section>

  <ion-list *ngIf="!loading">
    <section>

      <ion-item-divider color="light" *ngIf="company && company.subCompanies && company.subCompanies.length > 0">
        <ion-label>
          Companies under this company
        </ion-label>
      </ion-item-divider>

      <ng-container *ngIf="segment == 1">
        <ion-item tappable *ngFor="let company of enableCompanies" (click)="rowSelected(company)">

          <ion-avatar slot="start">
            <img *ngIf="company.company_logo" src="{{ aws.cloudinaryUrl + company.company_logo }}"
              (error)="loadLogo($event,company)">
            <img *ngIf="!company.company_logo" src="/assets/icon/icon.png">
          </ion-avatar>

          <ion-label>
            {{ company.company_name }}
          </ion-label>
          <ng-container *ngIf="platform.width() > 450">
            <ion-badge slot="end" *ngIf="company.total_candidates > 0">
              {{ company.total_candidates }} candidates
            </ion-badge>
            <ion-badge slot="end" *ngIf="company.subCompanies && company.subCompanies.length > 0">
              {{ company.subCompanies.length }} sub-companies
            </ion-badge>
            <ion-badge slot="end" *ngIf="company.stores.length > 0">
              {{ company.stores.length }} stores
            </ion-badge>
          </ng-container>

          <ng-container *ngIf="platform.width() <= 449">
            <div slot="end" class="end">
              <ion-badge *ngIf="company.total_candidates > 0">
                {{ company.total_candidates }} candidates
              </ion-badge>
              <ion-badge *ngIf="company.subCompanies && company.subCompanies.length > 0">
                {{ company.subCompanies.length }} sub-companies
              </ion-badge>
              <ion-badge *ngIf="company.stores.length > 0">
                {{ company.stores.length }} stores
              </ion-badge>
            </div>
          </ng-container>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="segment == 0">
        <ion-item tappable *ngFor="let company of disableCompanies" (click)="rowSelected(company)">

          <ion-avatar slot="start">
            <img *ngIf="company.company_logo" src="{{ aws.cloudinaryUrl + company.company_logo }}"
              (error)="loadLogo($event,company)">
            <img *ngIf="!company.company_logo" src="/assets/icon/icon.png">
          </ion-avatar>

          <ion-label>
            {{ company.company_name }}
          </ion-label>
          <ng-container *ngIf="platform.width() > 450">
            <ion-badge slot="end" *ngIf="company.total_candidates > 0">
              {{ company.total_candidates }} candidates
            </ion-badge>
            <ion-badge slot="end" *ngIf="company.subCompanies && company.subCompanies.length > 0">
              {{ company.subCompanies.length }} sub-companies
            </ion-badge>
            <ion-badge slot="end" *ngIf="company.stores.length > 0">
              {{ company.stores.length }} stores
            </ion-badge>
          </ng-container>

          <ng-container *ngIf="platform.width() <= 449">
            <div slot="end" class="end">
              <ion-badge *ngIf="company.total_candidates > 0">
                {{ company.total_candidates }} candidates
              </ion-badge>
              <ion-badge *ngIf="company.subCompanies && company.subCompanies.length > 0">
                {{ company.subCompanies.length }} sub-companies
              </ion-badge>
              <ion-badge *ngIf="company.stores.length > 0">
                {{ company.stores.length }} stores
              </ion-badge>
            </div>
          </ng-container>
        </ion-item>
      </ng-container>

    </section>
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
