<ion-header mode="md">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" (click)="close()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="container">
    <ion-title>{{ operation }}</ion-title>

    <ion-buttons slot="end">

      <ion-button clear class="cancel" color="primary" (click)="close()">
        Cancel
      </ion-button>
<!-- 
      <ion-button clear color="primary" (click)="save()" [disabled]="!form || !form.valid">
        Save
      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">

    <candidate *ngIf="candidate" [candidate]="candidate" type="contract"></candidate>

    <form [formGroup]="form" *ngIf="form">

      <ion-list lines="none" mode="md">
 
        <ion-list>
          <ion-list-header>Type</ion-list-header>
       
          <ion-radio-group formControlName="type">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <div tabindex="0"></div>
                    <ion-label>Fixed price</ion-label>
                    <ion-radio slot="end" value="FIXED_PRICE"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col> 
                  <ion-item>
                    <div tabindex="0"></div>
                    <ion-label>Hourly</ion-label>
                    <ion-radio slot="end" value="HOURLY"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <div tabindex="0"></div>
                    <ion-label>Monthly salary</ion-label>
                    <ion-radio slot="end" value="MONTHLY_SALARY"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

          
          </ion-radio-group>
        </ion-list>

        <ion-item class="input-wrapper" >
          <div tabindex="0"></div>
          <ion-label position="floating">Detail</ion-label>
          <ion-textarea formControlName="detail"></ion-textarea>
        </ion-item>

        <ion-item class="input-wrapper" *ngIf="form.value.type == 'HOURLY'">
          <div tabindex="0"></div>
          <ion-label position="floating">Transfer cost (Optional)</ion-label>
          <ion-input type="number" formControlName="transfer_cost"></ion-input>
          <p>How much company will pay for the transfer as transfer fee</p>
        </ion-item>

        <!--
        <ion-item class="input-wrapper" >
          <div tabindex="0"></div>
          <ion-label position="floating">Currency code</ion-label>
          <ion-select  *ngIf="form" formControlName="currency_code"> 
            <ion-select-option [value]="currency.code" *ngFor="let currency of authService.currencies">
              {{ currency.code }}
            </ion-select-option>
          </ion-select>
        </ion-item>-->

        <!--
        <ion-item class="input-wrapper" >
          <div tabindex="0"></div>
          <ion-label position="floating">Start date (Optional)</ion-label>
          <ion-input formControlName="start_date" id="start_date" placeholder="YYYY-MM-DD"></ion-input>
          <app-date-popup presentation="date" key="start_date" (onClose)="selectDate($event,'start_date')"></app-date-popup>
        </ion-item>

        <ion-item class="input-wrapper" >
          <div tabindex="0"></div>
          <ion-label position="floating">End date (Optional)</ion-label>
          <ion-input formControlName="end_date" id="end_date" placeholder="YYYY-MM-DD"></ion-input>
          <app-date-popup presentation="date" key="end_date" (onClose)="selectDate($event,'end_date')"></app-date-popup>
        </ion-item>-->
          
        <ng-container *ngIf="form.value.type == 'FIXED_PRICE'">

          <ion-item class="input-wrapper">
            <div tabindex="0"></div>
            <ion-label position="floating">Candidate total</ion-label>
            <ion-input type="number" formControlName="candidate_total"></ion-input>
            <p>How much candidate will receive</p>
          </ion-item>

          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Company total (including transfer cost)</ion-label>
            <ion-input type="number" formControlName="company_total"></ion-input>
            <p>How much company will receive</p>  
          </ion-item>

          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Completion percentage (Optional)</ion-label>
            <ion-input type="number" formControlName="completion_percentage"></ion-input>
            <p>To track record of completion</p>  
          </ion-item>
        </ng-container>
  
        <ng-container *ngIf="form.value.type == 'HOURLY'">

          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Candidate hourly rate</ion-label>
            <ion-input type="number" formControlName="candidate_hourly_rate"></ion-input>
            <p>How much candidate will receive per hour</p>
          </ion-item>

          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Company hourly rate</ion-label>
            <ion-input type="number" formControlName="company_hourly_rate"></ion-input>
            <p>How much company will receive per hour</p>
          </ion-item>

        </ng-container>
 
        <ng-container *ngIf="form.value.type == 'MONTHLY_SALARY'">

          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Candidate total</ion-label>
            <ion-input type="number" formControlName="candidate_total"></ion-input>
            <p>How much candidate will receive</p>
          </ion-item>

          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Company total (including transfer cost)</ion-label>
            <ion-input type="number" formControlName="company_total"></ion-input>
            <p>How much company will receive</p>
          </ion-item>

          <!--
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating">Salary day (Optional)</ion-label>
            <ion-input type="number" formControlName="salary_day"></ion-input>
            <p>When the salary will be paid</p>
          </ion-item>
-->
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label>Auto generate transfers</ion-label>
            <ion-toggle slot="start" formControlName="auto_generate"></ion-toggle>
            <p>If checked, the transfers will be generated automatically in draft mode each week, 
              Transfer amount will be Monthly salary / 4.
            </p>
          </ion-item>
        </ng-container>
      </ion-list>
    </form>
  </div>      
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <div class="container">
    <ion-button class="btn-save" [disabled]="!form || form.invalid || saving" (click)="save()">
      <span *ngIf="!saving">Submit</span>
      <ion-spinner *ngIf="saving"></ion-spinner>
    </ion-button>
  </div>
</ion-footer>
