<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()" defaultHref="/company-list"></ion-back-button>
    </ion-buttons>
    
    <ion-title *ngIf="mall">{{ mall.mall_name_en }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="update()">
        Update
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ng-container *ngIf="mall">
    <ion-list *ngIf="mall && mall.stores">

      <section *ngIf="mall.stores.length > 0">

        <ion-item-divider color="light">
          <ion-label>
            Stores
          </ion-label>
        </ion-item-divider>

        <ion-item tappable (click)="rowSelected(store)" *ngFor="let store of mall.stores">
          <div tabindex="0"></div>
          <ion-label>
            <h5>{{ store.store_name }}</h5>
            <p *ngIf="store.store_location">
              <ion-icon name="location-outline"></ion-icon> {{ store.store_location }}
            </p>
          </ion-label>
          <ion-badge slot="end" *ngIf="store.candidatesCount">
            <ion-icon name="person"></ion-icon> {{ store.candidatesCount }}
          </ion-badge>
        </ion-item>

      </section>

    </ion-list>

    <no-items *ngIf="!loading && mall.stores && mall.stores.length == 0" message="No store added yet!"></no-items>
  </ng-container>

  <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="delete($event, mall)">
    Delete
  </ion-button>
</ion-footer>

