<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-title>Feedback backlog </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">

    <ng-container>

    <ion-searchbar mode="md" debounce="500" placeholder="Type to search" (ionChange)="searchByName($event)"></ion-searchbar>
      
      <request-listing *ngFor="let request of activeRequests" tappable (click)="requestDetail(request)"
                       [request]="request" [showStatus]="false"></request-listing>
    </ng-container>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <loading-modal [loading]="loading" type="request-list"></loading-modal>
    
  </div>
  
  <ion-fab class="mobile-only" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/request-form">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
