<ion-content>

  <ion-tabs #tabRef>

    <ion-tab-bar slot="top" *ngIf="!platform.is('mobile')">

      <ion-tab-button #browserTaskRef tab="tasks" layout="icon-start">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>{{ 'Dashboard' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-request-dashboard" layout="icon-start">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>{{ 'Requests' | translate }}</ion-label>
        <ion-badge>{{ totalRequest }}</ion-badge>
      </ion-tab-button>

<!--      <ion-tab-button tab="story-list" layout="icon-start">-->
<!--        <ion-icon name="chatbubble-outline"></ion-icon>-->
<!--        <ion-label>{{ 'Stories' | translate }}</ion-label>-->
<!--      </ion-tab-button>-->
<!--
      <ion-tab-button tab="my-work" layout="icon-start">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>{{ 'My Work' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="feedback-backlog" layout="icon-start">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>{{ 'Feedback Backlog' | translate }}</ion-label>
      </ion-tab-button>-->

      <ion-tab-button tab="candidate-search" layout="icon-start">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{ 'Part-timers' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="fulltimer-search" layout="icon-start">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{ 'Full-timers' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-list" layout="icon-start">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>{{ 'Clients' | translate }}</ion-label>
        <ion-badge>{{ companyUnderReview }}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="report-list" layout="icon-start">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>{{ 'Reports' | translate }}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

    <ion-tab-bar slot="bottom" class="mobile" *ngIf="platform.is('mobile')">

      <ion-tab-button tab="tasks">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>{{ 'Dashboard' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-request-dashboard">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>{{ 'Requests' | translate }}</ion-label>
        <ion-badge>{{ totalRequest }}</ion-badge>
      </ion-tab-button>

      <ion-tab-button (click)="showCandidateActions()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{ 'Candidates' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-list">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>{{ 'Clients' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="report-list">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>{{ 'Reports' | translate }}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>

