<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-title>Salary Transfer List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/candidate-view/{{ candidate_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container" *ngIf="this.salaryTransfers">

    <h4 *ngIf="candidate">
      {{ candidate.candidate_name }}
      <span *ngIf="!candidate.candidate_name">{{ candidate.candidate_name_ar }}</span>
    </h4>

    <ion-card *ngFor="let transferCandidate of salaryTransfers">
      <ion-badge *ngIf="transferCandidate.status == 'Paid'">Paid</ion-badge>
      <ion-badge *ngIf="transferCandidate.status =='Unpaid'">In Progress</ion-badge>

      <div class="salary">
        <b>KWD {{transferCandidate.total | number:'1.3-3' }}</b>
        <p *ngIf="transferCandidate.bonus > 0">Base {{ transferCandidate.base | number:'1.3-3' }} KWD + Bonus KWD {{transferCandidate.candidate_bonus | number:'1.3-3' }}</p>
      </div>

      <p *ngIf="transferCandidate.transfer_confirmation_id">Confirmation #{{ transferCandidate.transfer_confirmation_id }}</p>

      <p>{{ transferCandidate.transfer_benef_name }}</p>

      <p *ngIf="transferCandidate.bank">{{ transferCandidate.bank.bank_name }}</p>

      <p>{{ transferCandidate.transfer_benef_iban }}</p>

      <p class="txt-time">
        {{ transferCandidate.tc_created_at | timeAgo }} on
        {{ toDate(transferCandidate.tc_created_at) | date: 'MMM d, y' }}
      </p>
    </ion-card>

    <loading-modal [loading]="loading" type="note-list"></loading-modal>
  </div>
</ion-content>
