<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button (click)="close()"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ operation }}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="form && !form.valid" (click)="save()">
        <span *ngIf="!saving">Save</span>
        <ion-spinner *ngIf="saving"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <form [formGroup]="form" *ngIf="form">

    <ion-list>
      <ion-item tappable (click)="openClient($event)" *ngIf="!model.request_uuid">
        <ion-label position="floating">Contact</ion-label>
        <ion-input type="text" formControlName="contact_name" readonly></ion-input>
      </ion-item>

      <ion-item *ngIf="model.request_uuid">
        <ion-label position="floating">Contact</ion-label>
        <ion-input type="text" formControlName="contact_name" disabled></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-radio-group formControlName="position_type">
        <ion-row>
          <ion-col>
            <ion-item>
              <div tabindex="0"></div>
              <ion-radio slot="start" value="1"></ion-radio>
              <ion-label>Full time</ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <div tabindex="0"></div>
              <ion-radio slot="start" value="2"></ion-radio>
              <ion-label>Part time</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Position title</ion-label>
        <ion-input type="text" formControlName="position_title"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Job Description</ion-label>

        <ckeditor [config]="editorConfig" #ckeditor [editor]="Editor"
          (ready)="onEditorReady()" (change)="onChange($event)">
        </ckeditor>

      </ion-item>
    </ion-list>

    <ion-list *ngIf="!model.request_uuid">
      <ion-item>
        <ion-label position="floating">Number of employees</ion-label>
        <ion-input type="text" formControlName="number_of_employees"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Compensation</ion-label>
        <ion-textarea formControlName="compensation" placeholder="Please provide compensation detail"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Additional info</ion-label>
        <ion-textarea formControlName="additional_info" placeholder="Female only, Lebanese Jordanian Syrian NO EGYPTIAN"></ion-textarea>
      </ion-item>
    </ion-list>

  </form>
  </div>
</ion-content>
<ion-footer *ngIf="!model.request_uuid">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="form && !form.valid" (click)="save()">
          <span *ngIf="!saving">Save</span>
          <ion-spinner *ngIf="saving"></ion-spinner>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="resetForm();">Reset</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
