<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="close()"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ operation }}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="form && !form.valid" (click)="save()">
        <span *ngIf="!saving">Save</span>
        <ion-spinner *ngIf="saving"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="form">

    <ion-list>
      <ion-item>
        <ion-label position="floating">Contact</ion-label>
        <ion-select formControlName="contact_uuid">
          <ion-select-option *ngFor="let contact of company.companyContacts" [value]="contact.contact_uuid">
            {{ contact.contact_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Position type</ion-label>
        <ion-select formControlName="position_type">
          <ion-select-option value="1">Full time</ion-select-option>
          <ion-select-option value="2">Part time</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-item>
        <ion-label position="floating">Position title</ion-label>
        <ion-input type="text" formControlName="position_title"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-item>
        <ion-label position="floating">Number of employees</ion-label>
        <ion-input type="text" formControlName="number_of_employees"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-item>
        <ion-label position="floating">Additional info</ion-label>
        <ion-textarea formControlName="additional_info"></ion-textarea>
      </ion-item>
    </ion-list>

  </form>
</ion-content>
