<ion-header mode="md" [class.add-border]="borderLimit" class="{{ authService.theme }} ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/candidate-search"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)" *ngIf="candidate && !candidate?.deleted">
        <ion-icon src="assets/icon/icon-option.svg"></ion-icon>
      </ion-button>

      <ion-button [disabled]="markingNotDeleted" (click)="markNotDeleted()" *ngIf="candidate && candidate.deleted">
        Undo delete
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
  <ion-toolbar class="container" *ngIf="candidate">

    <div *ngIf="jobInterest && jobInterest.job" class="job-interest w-full h-[52px] relative p-4 rounded-lg bg-[#F5F7FF] block">
      <span class="text-[#22223d] text-sm font-normal leading-tight">
        You’re inviting for
      </span>
      <span class="text-[#4c6ff2] text-sm font-semibold leading-tight job-position">
         {{ jobInterest.job.position }}  
      </span>
    </div>
    
    <ion-thumbnail slot="start" *ngIf="candidate.candidate_personal_photo">
      <img (error)="onPhotoError()"
        src="{{ awsService.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}" />
    </ion-thumbnail>

    <h2 class="candidate-name" *ngIf="candidate.candidate_name">
      {{ candidate.candidate_name }} <small>({{candidate.candidate_id}})</small><ion-badge color="danger" *ngIf="candidate.deleted">Deleted</ion-badge>

      <ion-button size="small" fill="clear" color="primary" class="btn-copy" (click)="copy($event, capitalizeWords(candidate.candidate_name))">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
    </h2>

    <h4 class="candidate-name" *ngIf="candidate.candidate_name_ar">
      {{ candidate.candidate_name_ar }}
      &nbsp;
      <ion-icon class="verified" src="../../../../assets/images/ic_verified.svg" *ngIf="candidate.isProfileCompleted" title="Completed Profile"></ion-icon>
      <ion-button size="small" fill="clear" color="primary" class="btn-copy" (click)="copy($event, capitalizeWords(candidate.candidate_name_ar))">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
    </h4>
 
    <ng-container *ngIf="candidate.candidateTags">
      <ion-badge color="warning" class="candidate-tag" *ngFor="let candidateTag of candidate.candidateTags">
        {{ candidateTag.tag }}
      </ion-badge> 
    </ng-container>
 
    <ion-badge color="warning" id="pending-fields" *ngIf="candidate && !candidate.isProfileCompleted">Incomplete profile</ion-badge>

    <ng-container  *ngIf="candidate && candidate.civilExpired">
      &nbsp;&nbsp;<ion-badge color="danger">Civil Id Expired</ion-badge>
    </ng-container>

    <ion-popover [keepContentsMounted]="true" trigger="pending-fields">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item *ngFor="let data of candidate.pendingField">{{data}}</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>


  </ion-toolbar>

  <ion-toolbar class="container">

    <ion-segment mode="md" *ngIf="!platform.is('mobile')" (ionChange)="segmentChanged($event)" [value]="segment">

      <ion-segment-button mode="md" value="activity">
        <ion-label>Activity</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="work-details">
        <ion-label>Work Details</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="personal-details">
        <ion-label>Personal Details</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="financials">
        <ion-label>Financials</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="applications">
        <ion-label>Applications</ion-label>
      </ion-segment-button>

      <!-- <ion-segment-button mode="md" value="interview-evaluation">
        <ion-label>Interview Evaluations</ion-label>
      </ion-segment-button>-->

    </ion-segment>

    <ion-select *ngIf="platform.is('mobile')" interface="popover" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-select-option value="activity">Activity</ion-select-option>
      <ion-select-option value="work-details">Work Details</ion-select-option>
      <ion-select-option value="personal-details">Personal Details</ion-select-option>
      <ion-select-option value="financials">Financials</ion-select-option>
      <ion-select-option value="applications">Applications</ion-select-option>
      <!-- <ion-select-option value="interview-evaluation">Interview Evaluations</ion-select-option>-->
    </ion-select>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" *ngIf="approving || unapproving"></ion-progress-bar>

</ion-header>

<ion-content scrollEvents="true" class="{{ authService.theme }}" (ionScroll)="logScrolling($event)">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
     
    <div class="personal-details" *ngIf="candidate && segment == 'personal-details'">

      <h5>Bio</h5>

      <div class="objective" [class.required]="!candidate.candidate_objective">
        <span *ngIf="candidate.candidate_objective">{{ candidate.candidate_objective }}</span>
        <span *ngIf="!candidate.candidate_objective">Objective (not set)</span>
      </div>

      <h5>Contact Information</h5>

      <a class="phone" target="_blank" href="tel:{{ candidate.candidate_phone }}"
        [class.required]="!candidate.candidate_phone">
        {{ candidate.candidate_phone }}
        <ion-button slot="end" size="small" clear class="btn-copy" (click)="copy($event, candidate.candidate_phone)">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>
      </a>

      <a class="email" [class.required]="!candidate.candidate_email" href='mailto:{{ candidate.candidate_email }}'
        target='_blank'>
        {{ candidate.candidate_email }}
        <ion-button slot="end" size="small" clear class="btn-copy" (click)="copy($event, candidate.candidate_email)">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>
      </a>

      <a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone={{ candidate.candidate_phone }}"
        [class.required]="!candidate.candidate_phone">
        {{ candidate.candidate_phone }}
        <ion-button slot="end" size="small" class="btn-copy" (click)="copy($event, candidate.candidate_phone)">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>
      </a>

      <p class="phone" *ngIf="candidate.candidate_preferred_time">
        {{ candidate.candidate_preferred_time }}
      </p>

      <h5 class="txt-general-info">General Information</h5>

      <p class="area" *ngIf="candidate.area && candidate.country"
        [class.required]="!candidate.country || !candidate.area">
        <span [innerHtml]="'txt_lives_in' | translate : {
          area : area(candidate.area, candidate.country)
          }">
        </span>
      </p>

      <p class="nationality" *ngIf="candidate.nationality" [class.required]="!candidate.nationality">
        {{
        translateService.langContent(candidate.nationality.country_nationality_name_en,
        candidate.nationality.country_nationality_name_ar) }}
      </p>

      <p class="university" *ngIf="candidate.university" [class.required]="!candidate.university">
        {{ translateService.langContent(candidate.university.university_name_en,
        candidate.university.university_name_ar) }}
      </p>

      <p class="id-number" *ngIf="candidate.candidate_civil_expiry_date"
        [class.required]="!candidate.candidate_civil_id">
        {{ candidate.candidate_civil_id | translate }}<br />
        <span class="txt-expiring-on"  tappable (click)="updateCivilExpiry($event)"> {{ "Expiring on" | translate }} {{
          toDate(candidate.candidate_civil_expiry_date) | date :'MMMM d, y': undefined: translateService.currentLang
          }}
        </span>
        <ion-button class="btn-copy" (click)="copy($event, candidate.candidate_civil_id)">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>
      </p>

      <p class="driving-license" *ngIf="candidate.candidate_driving_license"
        [class.required]="!candidate.candidate_driving_license">
        <span *ngIf="candidate.candidate_driving_license == 1"
          [innerHtml]="'Has Driving License</b>' | translate"></span>
        <span *ngIf="candidate.candidate_driving_license == 2"
          [innerHtml]="'Has no Driving License</b>' | translate"></span>
      </p>

      <p class="mother-nationality" *ngIf="candidate.candidate_mom_kuwaiti"
        [class.required]="!candidate.candidate_mom_kuwaiti">
        <span *ngIf="candidate.candidate_mom_kuwaiti == 1" [innerHtml]="'Mother is Kuwaiti' | translate"></span>
        <span *ngIf="candidate.candidate_mom_kuwaiti == 2" [innerHtml]="'Mother is not Kuwaiti' | translate"></span>
      </p>

      <p class="birth-date" *ngIf="candidate.candidate_birth_date" [class.required]="!candidate.candidate_birth_date">
        {{
        toDate(candidate.candidate_birth_date) | date :'MMMM d, y': undefined: translateService.currentLang
        }} ({{ candidate.candidate_birth_date | candidateAge }} )
      </p>

      <p class="created-at">
        Created On {{ toDate(candidate.candidate_created_at) | date}}
        <span class="txt-updated-on">Updated On {{ toDate(candidate.candidate_updated_at) | date}} </span>
      </p>

      <ng-container *ngIf="candidate.candidate_civil_photo_front">
        <h5 class="txt-id">ID Photo Front</h5>

        <img class="image-id" width="342" (error)="onCivilFrontError()" *ngIf="candidate.candidate_civil_photo_front"
          src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_front }}" />
      </ng-container>

      <ng-container *ngIf="candidate.candidate_civil_photo_front">
        <h5 class="txt-id">ID Photo Back</h5>
        <img class="image-id" width="342" (error)="onCivilBackError()" *ngIf="candidate.candidate_civil_photo_back"
          src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_back }}" />
      </ng-container>

    </div><!-- END personal-details -->

    <div class="segment-work-details" *ngIf="candidate && segment == 'work-details'">

      <ion-button class="btn-resume" target="_blank" href="{{ getResumeUrl(candidate) }}"
        *ngIf="candidate.candidate_resume">
        <ion-icon src="assets/images/icon-download.svg"></ion-icon> {{ "CV / Portfolio" | translate }}
      </ion-button>

      <ion-button class="btn-video" *ngIf="candidate.candidate_video && candidate.candidate_video_processed" 
        href="{{ awsService.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.mp4"
        target="_blank"
        [class.required]="!candidate.candidate_video">
        <ion-icon src="assets/images/icon-video.svg"></ion-icon> {{ "Intro Video" | translate }}
      </ion-button>

      <!--
      <ng-container *ngIf="candidate.candidate_video && candidate.candidate_video_processed">
        <video class="manipulation-video" controls="true" preload="none" width="300"
          poster="{{ awsService.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.jpg">
          <source src="{{ awsService.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.mp4"
            type="video/mp4">
          Your browser does not support HTML5 video tags
        </video>
      </ng-container> -->
 

      <div class="job-status-wrapper">
        <h5>
          <ion-icon src="assets/images/icon-suitcase.svg"></ion-icon> 
          Candidate’s Job Seeking Status
        </h5>
        <div class="inline-flex justify-start items-start gap-1">
          <div class="justify-start text-slate-800 text-sm font-semibold leading-tight">Last Changed Status:</div>
          <div class="justify-start text-gray-600 text-sm font-normal leading-tight">Not Changed yet</div>
        </div>
        <div class="self-stretch self-stretch px-4 pt-1.5 pb-2 bg-white rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-200 inline-flex justify-start items-center gap-2">
          <div class="flex-1 inline-flex flex-col justify-start items-start">
              <div class="w-44 justify-start text-gray-500 text-[10px] font-medium leading-none tracking-wide">
                Candidate is currently</div>
              <div class="justify-start text-slate-800 text-sm font-medium leading-tight">
                Actively Looking for a Job</div>
          </div>
          <div class="w-6 h-6 relative">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
      </div>
      </div>

      <div class="mt-4 w-full p-4 bg-white rounded-lg shadow-[0px_2px_4px_0px_rgba(0,0,0,0.10)] inline-flex flex-col justify-start items-start gap-2">
        <h5 class="self-stretch justify-start text-[#0f0f2c] text-base font-semibold leading-normal">
          <ion-icon src="assets/images/icon-suitcase.svg" class="inline-block"></ion-icon> 
          Candidate’s Job Seeking Status 
        </h5>
        <div class="inline-flex justify-start items-start gap-1">
          <div class="justify-start text-[#22223d] text-sm font-semibold leading-tight">Last Changed Status:</div>
          <div  class="justify-start text-[#4b4b61] text-sm font-normal leading-tight">
           <ng-container *ngIf="candidate.candidate_job_search_updated_at">
            {{ toDate(candidate.candidate_job_search_updated_at) | date : 'd/M/yyyy hh:mm a' : undefined : translateService.currentLang }}
           </ng-container>
           <ng-container *ngIf="!candidate.candidate_job_search_updated_at">
             Not Changed yet
           </ng-container>
          </div>
        </div>
        <div data-helper-Text="Off" data-state="filled" data-type="Dropdown" (click)="openJobSearchStatusList($event)" class="cursor-pointer self-stretch h-12 inline-flex flex-col justify-start items-start gap-[7px]">
          <div class="self-stretch self-stretch px-4 pt-1.5 pb-2 bg-white rounded-lg outline outline-1 outline-offset-[-1px] outline-[#e2e2e6] inline-flex justify-start items-center gap-2">
              <div class="self-stretch inline-flex flex-col justify-start items-start">
                <div class="w-[177px] justify-start text-[#68687a] text-[10px] font-medium leading-[14px] tracking-wide">
                  Candidate is currently
                </div>
                <div class="justify-start text-[#22223d] text-sm font-medium leading-tight">
                  <ng-container *ngIf="candidate.candidate_job_search_status == 1">Actively Looking for a Job</ng-container>
                  <ng-container *ngIf="candidate.candidate_job_search_status == 2">Not looking but open to offers</ng-container>
                  <ng-container *ngIf="candidate.candidate_job_search_status == 0">Not Looking and closed to offers</ng-container>
                </div>
              </div>
              <div class="inline-flex flex-col justify-start items-start">
                <ion-icon class="text-[#7d7d8d] fill-[#7d7d8d] stroke-[#7d7d8d]" 
                  name="chevron-down-outline"></ion-icon>
              </div>
          </div>
        </div>
      </div>

      <div class="work-experience-wrapper">
        <h5>
          <ion-icon src="assets/images/icon-suitcase.svg"></ion-icon> {{ "Candidate Links" | translate }}
        </h5>
        <p *ngFor="let candidateLink of candidate.candidateLinks">
          <a href="{{ candidateLink.url }}" target="_blank" class="">
            {{ candidateLink.title }}
            <ion-icon name="open-outline"></ion-icon>
          </a>
          <!--
          <ion-button fill="clear" class="float-end top-[-5px]" (click)="copy($event, candidateLink.url)">
            <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
          </ion-button>-->
        </p>
      </div>

      <div class="work-experience-wrapper"
        *ngIf="candidate.candidateExperiences && candidate.candidateExperiences.length > 0">
        <h5>
          <ion-icon src="assets/images/icon-suitcase.svg"></ion-icon> {{ "Experiences" | translate }}
        </h5>
        <p *ngFor="let candidateExperience of candidate.candidateExperiences">
          {{ candidateExperience.experience }}
        </p>
      </div>

      <div class="skill-wrapper" *ngIf="candidate.candidateSkills && candidate.candidateSkills.length > 0">
        <h5>
          <ion-icon src="assets/images/icon-puzzle.svg"></ion-icon> {{ "Skills" | translate }}
        </h5>
        <ion-badge *ngFor="let candidateSkill of candidate.candidateSkills">
          {{ candidateSkill.skill }}
        </ion-badge>
      </div>

      <div class="education-wrapper" *ngIf="candidate.candidateEducations && candidate.candidateEducations.length > 0">
        <h5>
          <ion-icon name="ribbon-outline"></ion-icon> {{ "Educations" | translate }}
        </h5>

        <ion-card *ngFor="let candidateEducation of candidate.candidateEducations">
          
          <ion-card-content>
            <p *ngIf="candidateEducation.degree">
              {{ translateService.langContent(candidateEducation.degree.degree_name_en, candidateEducation.degree.degree_name_ar) }}
            </p>

            <p *ngIf="candidateEducation.major">
              {{ translateService.langContent(candidateEducation.major.major_name_en, candidateEducation.major.major_name_ar) }}
            </p>

            <p *ngIf="candidateEducation.university">
              {{ translateService.langContent(candidateEducation.university.university_name_en, candidateEducation.university.university_name_ar) }}
            </p> 

            <ion-note slot="end" *ngIf="candidateEducation.graduation_year">
              {{ candidateEducation.graduation_year }}
            </ion-note>
          </ion-card-content>
        </ion-card>
      </div>    

    </div><!-- END work-details -->

    <div *ngIf="candidate && segment == 'financials'" class="segment-financials">

      <ion-row>
        <ion-col size="12" size-md="4" *ngFor="let candidateStat of candidate.candidateStats">
          <ion-card>
            <div class="avatar bg-rgba-warning">
              <div class="avatar-content">
                <ion-icon name="cash-outline" class="text-primary"></ion-icon>
              </div>
            </div>
            <h2 class="bold">{{ candidateStat.total_revenue | number:'1.0-0' }} {{ candidateStat.currency_code }}</h2>
            <p class="fs-12" color="light">Revenue / Total We Earned</p>
          </ion-card>
        </ion-col>
      </ion-row>

      <no-items *ngIf="salaryTransfers.length == 0" message="No Salary transfered yet"></no-items>

      <h5 *ngIf="salaryTransfers.length > 0">
        <ion-icon class="icon-salary" src="assets/images/icon-bank.svg"></ion-icon> Salary Transfers
      </h5>

      <transfer [transferCandidate]="salary" *ngFor="let salary of salaryTransfers | slice:0:3"></transfer>

      <!--
      <ion-item class="item-salary" *ngFor="let salary of salaryTransfers | slice:0:3">
        <div tabindex="0"></div>
        <ion-label>
          <h5>{{ salary.currency_code }} {{salary.total | number:'1.3-3' }}</h5>
          <p>#{{ salary.tc_id }}</p>
        </ion-label>

        <ion-badge slot="end" *ngIf="salary.status == 'Paid'">Paid</ion-badge>
        <ion-badge class="badge-unpaid" slot="end" *ngIf="salary.status =='Unpaid'">In Progress</ion-badge>

      </ion-item>-->

      <ion-button class="btn-view-notes" *ngIf="salaryTransfers.length > 3" (click)="openSalary()">
        <span>View all {{ salaryTransfers.length }} Transfers</span>
      </ion-button>

      <div class="bank-detail" *ngIf="candidate.bank">
        <h5>
          <ion-icon class="icon-bank" src="assets/images/icon-salary.svg"></ion-icon> {{ candidate.bank.bank_name }}
        </h5>
        <p *ngIf="candidate.bank_account_name">{{ candidate.bank_account_name }}</p>
        <p *ngIf="candidate.candidate_iban">{{ candidate.candidate_iban }}</p>
      </div>

    </div><!-- END financials -->

    <div *ngIf="candidate && segment == 'activity'">
 
      <div class="invitation-stats-wrapper">
        <h5 class="heading">
          <ion-icon src="assets/images/icon-assignment.svg"></ion-icon> Stats
        </h5>

        <p *ngIf="!candidate.avgTimeToViewInvitations">
          No invitation viewed yet
        </p>

        <ion-card class="card-invitation-stats" *ngIf="candidate.avgTimeToViewInvitations > 0">
          <ion-card-content>
            <h5>Average time to view invitations </h5>
            <p>~ {{ candidate.avgTimeToViewInvitations | durationBySecond }}</p>

            <div class="invitation-chart">
              <canvas #invitationChart></canvas>
            </div>
            
            <h5>Where they're likely to view invites </h5>
            <p>{{ candidate.invitationStats.totalEmailPercentage | number:'1.0-2' }}% email, {{ candidate.invitationStats.totalAppPercentage | number:'1.0-2' }}% app</p>
            <p *ngIf="candidate.invited > 0">{{ candidate.invited }} times invited, {{ candidate.invitationAccepted }} ({{ (candidate.invitationAccepted * 100 / candidate.invited) | number:'1.0-2' }}%) accepted, 
              {{ candidate.invitationRejected }} ({{ (candidate.invitationRejected * 100 / candidate.invited) | number:'1.0-2' }}%) rejected</p>
          </ion-card-content>
        </ion-card>    
      </div>
       
      <div class="certificates-wrapper" *ngIf="candidate.certificates && candidate.certificates.length > 0">
        
        <h5 class="heading">
          <ion-icon src="assets/images/icon-assignment.svg"></ion-icon> Certificates
        </h5>

        <ion-card class="card-history" *ngFor="let certificate of candidate.certificates">
          <ion-card-header>

            <ion-item lines="none" *ngIf="certificate.exam">
              <div tabindex="0"></div>

              <ion-label>
                <h5>StudentHub</h5>
                <p>{{ certificate.exam.title_en }}</p>
              </ion-label>

              <ion-button (click)="toggleOpen(certificate, $event)" [class.is-open]="certificate.isOpen">
                <ion-icon src="assets/images/icon-arrow-down.svg"></ion-icon>
              </ion-button>

            </ion-item>
            <ion-item lines="none" *ngIf="certificate.store">
              <div tabindex="0"></div>

              <ion-thumbnail *ngIf="certificate.company && certificate.company.company_logo">
                <img src="{{ awsService.cloudinaryUrl + certificate.company.company_logo }}" (error)="imageError(certificate)">
              </ion-thumbnail>

              <ion-label>
                <h5 *ngIf="certificate.store">{{ certificate.store.store_name }}</h5>
                <a [routerLink]="'/company-view/' + certificate.company_id">{{ certificate.company.company_name }}</a>
              </ion-label>

              <ion-button (click)="toggleOpen(certificate, $event)" [class.is-open]="certificate.isOpen">
                <ion-icon src="assets/images/icon-arrow-down.svg"></ion-icon>
              </ion-button>

            </ion-item>
          </ion-card-header>

          <ion-card-content *ngIf="certificate.isOpen">
 
            <p>
              {{ toDate(certificate.start_date) | date }}
              <ng-container *ngIf="certificate.end_date">to {{ toDate(certificate.end_date) | date }}</ng-container>
              <ng-container *ngIf="!certificate.end_date && !isFutureDate(certificate.start_date)">to now</ng-container>
            </p>

            <ion-button [disabled]="downloading" class="btn-certificate" (click)="downloadCertificate(certificate)">
              <ion-icon slot="start" name="cloud-download-outline"></ion-icon>&nbsp;Certificate
            </ion-button>
 
            <ion-button [disabled]="deletingCertificates" class="btn-delete-certificate" color="danger"
              (click)="deleteCertificate(certificate)">&nbsp;
              <ion-icon slot="start" name="trash-outline"></ion-icon>Delete
            </ion-button>

          </ion-card-content>
        </ion-card>


        <ion-button (click)="openCertificateFormPage()" class="btn-add-certificate">
          <!-- <ion-icon name="add-outline"></ion-icon>  --> Add certificate
        </ion-button>
      </div>
      
      <div class="assignment-wrapper">
        <!--
        <h5 class="hourly-rate" *ngIf="candidate.store && candidate.candidate_hourly_rate">
          Assigned to work at {{ candidate.store.store_name }} for {{ candidate.candidate_hourly_rate | number:'1.0-3' }}
          {{ candidate.currency_code }} per hour
        </h5>-->

        <h5 class="heading" *ngIf="workHistory.length > 0"><ion-icon src="assets/images/icon-assignment.svg"></ion-icon> Contracts</h5>

        <ion-card class="card-history" *ngFor="let history of workHistory">
          <ion-card-header>
            <ion-item lines="none" *ngIf="history.store">
              <div tabindex="0"></div>

              <ion-thumbnail *ngIf="history.company && history.company.company_logo">
                <img src="{{ awsService.cloudinaryUrl + history.company.company_logo }}" (error)="imageError(history)">
              </ion-thumbnail>

              <ion-label>
                <h5 *ngIf="history.store">{{ history.store.store_name }}</h5>
                <a [routerLink]="'/company-view/' + history.company_id">{{ history.company.company_name }}</a>
              </ion-label>

              <ion-button (click)="toggleOpen(history, $event)" [class.is-open]="history.isOpen">
                <ion-icon src="assets/images/icon-arrow-down.svg"></ion-icon>
              </ion-button>
 
            </ion-item>
          </ion-card-header>

          <ion-card-content *ngIf="history.isOpen">

            <p *ngIf="!history.contract">
              {{ history.candidate_hourly_rate | number:'1.0-3' }} {{ history.company.currency_code }}/hr
            </p>

            <ng-container *ngIf="history.contract && history.contract.amount">
              <p *ngIf=" history.contract.type == 'HOURLY'">
                {{ history.contract.amount.candidate_hourly_rate | number:'1.0-3' }} {{ history.contract.currency_code }}/hr
              </p>
              
              <p *ngIf="history.contract.type == 'FIXED_PRICE'">
                {{ history.contract.amount.candidate_total | number:'1.0-3' }} {{ history.contract.currency_code }} 
              </p>
              
              <p *ngIf="history.contract.type == 'MONTHLY_SALARY'">
                {{ history.contract.amount.candidate_total | number:'1.0-3' }} {{ history.contract.currency_code }}/month
              </p>
            </ng-container>

            <p>
              {{ toDate(history.start_date) | date }}
              <ng-container *ngIf="history.end_date">to {{ toDate(history.end_date) | date }}</ng-container>
              <ng-container *ngIf="!history.end_date && !isFutureDate(history.start_date)">to now</ng-container>
            </p>

            <!--
            <ion-button class="btn-certificate" (click)="downloadAppreciationCertificate(history)">
              <ion-icon slot="start" name="cloud-download-outline"></ion-icon>&nbsp;Certificate
            </ion-button>-->

            <ion-button class="btn-certificate" [disabled]="issueingCertificates" (click)="issueCertificate(history)">
              <ion-icon slot="start" name="trophy-outline"></ion-icon> Issue Certificate
            </ion-button>

            <ion-button *ngIf="!history.end_date" class="btn-unassign"
              (click)="unassignCandidateFromStore(history.store_id, history.id)">&nbsp;
              Mark contract as completed
            </ion-button>

            <ion-button *ngIf="history.contract" class="btn-unassign"
              (click)="updateContract(history.contract)">&nbsp;
              Update Contract
            </ion-button>

          </ion-card-content>
        </ion-card>
      </div>

      <div class="suggestion-wrapper">

        <h5 class="heading"><ion-icon src="assets/images/icon-star.svg"></ion-icon> Activity</h5>

        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable (click)="invitationListPage(1)">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Invited</h5>
                  <p>{{ candidate.invited }}</p>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable (click)="invitationListPage(3)">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Accepted Invitation</h5>
                  <p>{{ candidate.invitationAccepted }}</p>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable (click)="invitationListPage(2)">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Rejected Invitation</h5>
                  <p>{{ candidate.invitationRejected }}</p>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable (click)="suggestionListPage(1)">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Suggested to client</h5>
                  <p>{{ candidate.suggested }}</p>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable (click)="suggestionListPage(3)">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Accepted by client</h5>
                  <p>{{ candidate.suggestionAccepted }}</p>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable (click)="suggestionListPage(2)">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Rejected by client</h5>
                  <p>{{ candidate.suggestionRejected }}</p>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable [routerLink]="['/log-date-list/',candidate.candidate_id]">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Working Log</h5>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable [routerLink]="['/evaluation-report-list/',candidate.candidate_id]">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Evaluation Report</h5>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable [routerLink]="['/candidate-tags/',candidate.candidate_id]">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Tags</h5>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item tappable [routerLink]="['/candidate-warning-list/',candidate.candidate_id]">
                <div tabindex="0"></div>
                <ion-label>
                  <h5>Warnings</h5>
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>

      <div class="note-wrapper">

        <h5 class="heading"><ion-icon src="assets/images/icon-note.svg"></ion-icon> Evaluations</h5>
  
        <interview-evaluation *ngIf="interviewEvaluations.length > 0" tappable (click)="interviewEvaluationSelected(interviewEvaluations[0])" 
          [interviewEvaluation]="interviewEvaluations[0]">
        </interview-evaluation>

        <ion-button class="btn-view-notes" *ngIf="interviewEvaluations.length > 0" (click)="openEvaluations()">
          <span *ngIf="interviewEvaluations.length > 1">View all {{ interviewTotal }} evaluations</span>
          <span *ngIf="interviewEvaluations.length == 1">Manage evaluations</span>
        </ion-button>

        <ion-button class="btn-add-note" *ngIf="interviewEvaluations.length == 0" (click)="addEvaluation()">
          Add evaluations
        </ion-button>

      </div>

      <div class="note-wrapper">

        <h5 class="heading"><ion-icon src="assets/images/icon-note.svg"></ion-icon>  Notes</h5>

        <note tappable *ngIf="notes.length > 0" [routerLink]="'/note-view/' + notes[0].note_uuid" from="company-view"
          [note]="notes[0]" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>

        <ion-button class="btn-view-notes" *ngIf="notes.length > 0" (click)="openNotes()">
          <span *ngIf="notes.length > 1">View all {{ notes.length }} notes</span>
          <span *ngIf="notes.length == 1">Manage notes</span>
        </ion-button>

        <ion-button class="btn-add-note" *ngIf="notes.length == 0" (click)="addNote()">
          Add note
        </ion-button>

      </div>

    </div><!-- END activity -->

    <div *ngIf="segment == 'applications'">

      <div *ngIf="!loadingApplications && candidateApplications.length == 0" class="ion-text-center no-invi">
        <img src="assets/images/no-invitation.png"/>
        <p class="ion-text-center">No applications yet!</p>
      </div>
      
      <!-- [application]="candidateApplication" -->
      <request-listing tappable (click)="applicationSelected(candidateApplication.request)" 
        [request]="candidateApplication.request" 
        *ngFor="let candidateApplication of candidateApplications">
      </request-listing>
  
      <ion-infinite-scroll *ngIf="applicationCurrentPage < applicationPageCount" (ionInfinite)="doInfiniteApplications($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="segment == 'interview-evaluation'">

      <ion-button class="btn-add-evaluation" (click)="addEvaluation()">
        Add new evaluation
      </ion-button>

      <div *ngIf="!loadingInterviewEvaluations && interviewEvaluations.length == 0" class="ion-text-center no-invi">
        <img src="assets/images/no-invitation.png"/>
        <p class="ion-text-center">No evaluation yet!</p>
      </div>
      
      <interview-evaluation tappable (click)="interviewEvaluationSelected(interviewEvaluation)" 
        [interviewEvaluation]="interviewEvaluation" 
        *ngFor="let interviewEvaluation of interviewEvaluations">
      </interview-evaluation>
  
      <ion-infinite-scroll *ngIf="interviewCurrentPage < interviewPageCount" (ionInfinite)="doInfiniteInterviews($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <!-- todo: option to add new evaluation -->
    </div>

    <loading-modal [loading]="loading" type="request-listing"></loading-modal>
  </div><!-- END .container -->

</ion-content>
<ion-footer class="ion-no-border {{ authService.theme }}" *ngIf="candidate && candidate.isProfileCompleted">
  <div class="container" *ngIf="authService.story && authService.story.request && authService.story.story_status == 1
  && authService.story.staff_id == authService.staff_id && ['cancelled', 'delivered'].indexOf(authService.story.request.request_status) == -1">
      
    <ion-button class="btn-invite" *ngIf="candidate.isAlreadyInvited && story" [routerLink]="'/story-view/' + story.story_uuid">
      Back to Interested Candidates
    </ion-button>

    <ion-button fill="outline" class="btn-invite-more" *ngIf="candidate.isAlreadyInvited && story" 
      [routerLink]="'/story-view/' + story.story_uuid">
     Invite more Candidates
    </ion-button>

    <ion-button class="btn-invite" *ngIf="!candidate.isAlreadyInvited" [disabled]="candidate.isAlreadyInvited || inviting" (click)="invite()">
      <span *ngIf="!candidate.isAlreadyInvited && !inviting">Invite for Client Request</span>
      <span *ngIf="candidate.isAlreadyInvited && !inviting">Invitation sent</span>
      <ion-spinner *ngIf="inviting"></ion-spinner>
    </ion-button>

  </div>
</ion-footer>
