<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar  class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/candidate-search"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="!candidate" (click)="updateEmailForm()">
        Update Email
      </ion-button>

      <ion-button (click)="openPopover($event)" *ngIf="candidate">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" *ngIf="approving || unapproving"></ion-progress-bar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <div  class="container">
    <div *ngIf="candidate">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <div class="left-side">

              <ion-thumbnail *ngIf="candidate.candidate_personal_photo">
                <img (error)="onPhotoError()"
                  src="{{ awsService.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}" />
              </ion-thumbnail>

              <h2 class="candidate-name" [title]=pendingData *ngIf="candidate.candidate_name">
                {{ candidate.candidate_name }}

                <ion-button size="small" class="btn-copy" (click)="copy($event, candidate.candidate_name)">
                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                </ion-button>
              </h2>

              <h4 class="candidate-name" *ngIf="candidate.candidate_name_ar">
                {{ candidate.candidate_name_ar }}

                <ion-button size="small" class="btn-copy" (click)="copy($event, candidate.candidate_name_ar)">
                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                </ion-button>
              </h4>

              <h5 class="hourly-rate" *ngIf="candidate.store && candidate.candidate_hourly_rate">
                Assigned to work at {{ candidate.store.store_name }} for {{ candidate.candidate_hourly_rate | number:'1.0-3' }} KD per hour
              </h5>

              <div class="birth-date" [class.required]="!candidate.candidate_birth_date">

                <span *ngIf="candidate.candidate_birth_date">

                  <b>{{ candidate.candidate_birth_date | candidateAge }}</b> <br />

                  <span class="txt-born-on">
                    Born on
                    <b>{{
                    toDate(candidate.candidate_birth_date) | date :'MMMM d, y': undefined: translateService.currentLang
                    }}</b>
                  </span>
                </span>

                <span *ngIf="!candidate.candidate_birth_date">Birth Date (not set) </span>

              </div>

              <ion-badge class="job-status interested" *ngIf="candidate.candidate_job_search_status">
                Interested in working
              </ion-badge>

              <ion-badge class="job-status not-interested" *ngIf="!candidate.candidate_job_search_status">
                Not looking for job
              </ion-badge>

              <div class="objective" [class.required]="!candidate.candidate_objective">
                <span *ngIf="candidate.candidate_objective">{{ candidate.candidate_objective }}</span>
                <span *ngIf="!candidate.candidate_objective">Objective (not set)</span>
              </div>

              <ion-item class="phone" target="_blank" href="tel:{{ candidate.candidate_phone }}"
                [class.required]="!candidate.candidate_phone">
                <div tabindex="0"></div>
                <ion-label *ngIf="candidate.candidate_phone">
                  <h5>Call</h5>
                  <p> {{ candidate.candidate_phone }}</p>
                </ion-label>
                <ion-label *ngIf="!candidate.candidate_phone">
                  <p>Call (not set)</p>
                </ion-label>

                <ion-button slot="end" size="small" class="btn-copy" (click)="copy($event, candidate.candidate_phone)">
                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                </ion-button>

              </ion-item>

              <ion-item class="whatsapp" target="_blank"
                href="https://api.whatsapp.com/send?phone={{ candidate.candidate_phone }}"
                [class.required]="!candidate.candidate_phone">
                <div tabindex="0"></div>
                <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                <ion-label *ngIf="candidate.candidate_phone">
                  <h5>Whatsapp</h5>
                  <p> {{ candidate.candidate_phone }}</p>
                </ion-label>
                <ion-label *ngIf="!candidate.candidate_phone">
                  <p>Whatsapp (not set)</p>
                </ion-label>

                <ion-button slot="end" size="small" class="btn-copy" (click)="copy($event, candidate.candidate_phone)">
                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-item class="email" lines="none" [class.required]="!candidate.candidate_email"
                href='mailto:{{ candidate.candidate_email }}' target='_blank'>
                <div tabindex="0"></div>
                <ion-label *ngIf="candidate.candidate_email">
                  <h5>Email</h5>
                  <p> {{ candidate.candidate_email }}</p>
                </ion-label>
                <ion-label *ngIf="!candidate.candidate_email">
                  <p>Email (not set)</p>
                </ion-label>

                <ion-button slot="end" size="small" class="btn-copy" (click)="copy($event, candidate.candidate_email)">
                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <ion-item class="phone" target="_blank">
                <div tabindex="0"></div>
                <ion-label *ngIf="candidate.candidate_preferred_time">
                  <h5>Preferred time to contact</h5>
                  <p> {{ candidate.candidate_preferred_time }}</p>
                </ion-label>
                <ion-label *ngIf="!candidate.candidate_preferred_time">
                  <p>Preferred time to contact (not set)</p>
                </ion-label>
              </ion-item>

              <div class="work-history-wrapper">

                <h5 class="heading" *ngIf="workHistory.length > 0">StudentHub Assignments</h5>

                <ng-container *ngFor="let history of workHistory">
                  <ion-item lines="none" *ngIf="history.store">
                    <div tabindex="0"></div>
                    <label tappable (click)="openWorkPlace(history)">
                      <h5 *ngIf="history.store">{{ history.store.store_name }} @ {{ history.company.company_name }}</h5>

                      <h5 *ngIf="!history.store">@ {{ history.company.company_name }}</h5>

                      <p>
                        for {{ history.candidate_hourly_rate | number:'1.0-3' }} KD per hour
                      </p>

                      <ng-container *ngIf="history.end_date">{{ toDate(history.end_date) | date }}</ng-container>

                      <p>
                        {{ toDate(history.start_date) | date }} to
                        <ng-container *ngIf="history.end_date">{{ toDate(history.end_date) | date }}</ng-container>
                        <ng-container *ngIf="!history.end_date">now</ng-container>
                      </p>
                    </label>
                    <ion-button slot="end" (click)="downloadCertification(history)"><ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Certificate</ion-button>
                  </ion-item>
                </ng-container>
              </div>

              <div class="suggestion-wrapper">

                <h5 class="heading">Candidate has been</h5>

                <ion-item tappable (click)="invitationListPage(1)">
                  <div tabindex="0"></div>
                  <ion-label>Invited</ion-label>
                  <ion-note slot="end">{{ candidate.invited }}</ion-note>
                </ion-item>

                <ion-item tappable (click)="invitationListPage(3)">
                  <div tabindex="0"></div>
                  <ion-label>Accepted Invitation</ion-label>
                  <ion-note slot="end">{{ candidate.invitationAccepted }}</ion-note>
                </ion-item>

                <ion-item tappable (click)="invitationListPage(2)">
                  <div tabindex="0"></div>
                  <ion-label>Rejected Invitation</ion-label>
                  <ion-note slot="end">{{ candidate.invitationRejected }}</ion-note>
                </ion-item>

                <ion-item tappable (click)="suggestionListPage(1)">
                  <div tabindex="0"></div>
                  <ion-label>Suggested to client</ion-label>
                  <ion-note slot="end">{{ candidate.suggested }}</ion-note>
                </ion-item>

                <ion-item tappable (click)="suggestionListPage(3)">
                  <div tabindex="0"></div>
                  <ion-label>Accepted by client</ion-label>
                  <ion-note class="accepted" slot="end">{{ candidate.suggestionAccepted }}</ion-note>
                </ion-item>

                <ion-item tappable (click)="suggestionListPage(2)">
                  <div tabindex="0"></div>
                  <ion-label>Rejected by client</ion-label>
                  <ion-note class="rejected" slot="end">{{ candidate.suggestionRejected }}</ion-note>
                </ion-item>
              </div>

              <div class="note-wrapper">

                <h5 class="heading">Notes</h5>

                <note tappable *ngIf="notes.length > 0" [routerLink]="'/note-view/' + notes[0].note_uuid" from="company-view"
                      [note]="notes[0]" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>

                <ion-button class="btn-view-notes" *ngIf="notes.length > 0" (click)="openNotes()">
                  <span *ngIf="notes.length > 1">View all {{ notes.length }} notes</span>
                  <span *ngIf="notes.length == 1">Manage notes</span>
                </ion-button>

                <ion-button class="btn-add-note" *ngIf="notes.length == 0" (click)="addNote()">
                  Add note
                </ion-button>

              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <div class="right-side">

              <div class="details">

                <ion-item class="video" [class.required]="!candidate.candidate_video">
                  <div tabindex="0"></div>
                  <ion-label>

                    <p *ngIf="!candidate.candidate_video">Introductory video (not set)</p>

                    <div *ngIf="candidate.candidate_video">
                      <h5>{{ "Introductory video" | translate }}</h5>
                      <ng-container *ngIf="candidate.candidate_video && candidate.candidate_video_processed">
                        <video class="manipulation-video" controls="true" preload="none" width="300"
                          poster="{{ awsService.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.jpg">
                          <source
                            src="{{ awsService.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.mp4"
                            type="video/mp4">
                          Your browser does not support HTML5 video tags
                        </video>
                      </ng-container>
                    </div>

                  </ion-label>
                </ion-item>

                <ion-item class="resume" target="_blank" href="{{ getResumeUrl(candidate) }}"
                  *ngIf="candidate.candidate_resume">
                  <div tabindex="0"></div>
                  <ion-label>
                    <h5>{{ "CV / Portfolio" | translate }}</h5>
                    <p>Download uploaded PDF file</p>
                  </ion-label>
                </ion-item>

                <ion-item class="resume required" *ngIf="!candidate.candidate_resume">
                  <div tabindex="0"></div>
                  <ion-label>
                    <p>{{ "CV / Portfolio (not set)" | translate }}</p>
                  </ion-label>
                </ion-item>

                <ion-item class="skills"
                  [class.required]="candidate.candidateSkills && candidate.candidateSkills.length == 0">
                  <div tabindex="0"></div>
                  <ion-label *ngIf="candidate.candidateSkills && candidate.candidateSkills.length > 0">
                    <h5>{{ "Skills" | translate }}</h5>
                    <p>
                      <span *ngFor="let candidateSkill of candidate.candidateSkills">
                        {{ candidateSkill.skill }}
                      </span>
                    </p>
                  </ion-label>
                  <ion-label *ngIf="!candidate.candidateSkills || candidate.candidateSkills.length == 0">
                    <p>{{ "Skills (not set)" | translate }}</p>
                  </ion-label>
                </ion-item>

                <ion-item class="experiences"
                  [class.required]="candidate.candidateExperiences && candidate.candidateExperiences.length == 0">
                  <div tabindex="0"></div>
                  <ion-label *ngIf="candidate.candidateExperiences && candidate.candidateExperiences.length > 0">
                    <h5>{{ "Work Experience" | translate }}</h5>
                    <p *ngIf="candidate.candidateExperiences">
                      <span *ngFor="let candidateExperience of candidate.candidateExperiences">
                        {{ candidateExperience.experience }}
                      </span>
                    </p>
                  </ion-label>
                  <ion-label *ngIf="!candidate.candidateExperiences || candidate.candidateExperiences.length == 0">
                    <p>Work Experience (not set)</p>
                  </ion-label>
                </ion-item>

                <ion-item class="area" [class.required]="!candidate.country || !candidate.area">
                  <div tabindex="0"></div>
                  <ion-label>
                    <p *ngIf="candidate.area && candidate.country" [innerHtml]="'txt_lives_in' | translate : {
               area : area(candidate.area, candidate.country)
              }">
                    </p>
                    <p *ngIf="!candidate.area || !candidate.country">{{ "Address (not set)" | translate }}</p>
                  </ion-label>
                </ion-item>

                <ion-item class="nationality" [class.required]="!candidate.nationality">
                  <div tabindex="0"></div>
                  <ion-label>
                    <b *ngIf="candidate.nationality">{{
                      translateService.langContent(candidate.nationality.country_nationality_name_en,
                        candidate.nationality.country_nationality_name_ar) }}</b>
                    <p *ngIf="!candidate.nationality">{{ "Nationality (not set)" | translate }} </p>
                  </ion-label>
                </ion-item>

                <ion-item class="gender" [class.required]="!candidate.candidate_gender">
                  <div tabindex="0"></div>
                  <ion-label>
                    <b *ngIf="candidate.candidate_gender == 1">{{ "Male" | translate }}</b>
                    <b *ngIf="candidate.candidate_gender == 2">{{ "Female" | translate }}</b>
                    <b *ngIf="candidate.candidate_gender == 3">{{ "Other" | translate }}</b>
                    <p *ngIf="!candidate.candidate_gender">{{ "Gender (not set)" | translate }} </p>
                  </ion-label>
                </ion-item>

                <ion-item class="university" [class.required]="!candidate.university">
                  <div tabindex="0"></div>
                  <ion-label>
                    <b *ngIf="candidate.university">{{ translateService.langContent(candidate.university.university_name_en,
                      candidate.university.university_name_ar) }}</b>
                    <p *ngIf="!candidate.university">{{ "University (not set)" | translate }} </p>
                  </ion-label>
                </ion-item>

                <ion-item class="driving-license" [class.required]="!candidate.candidate_driving_license">
                  <div tabindex="0"></div>
                  <ion-label>
                    <span *ngIf="candidate.candidate_driving_license == 1"
                      [innerHtml]="'Has <b>driving license</b>' | translate"></span>
                    <span *ngIf="candidate.candidate_driving_license == 2"
                      [innerHtml]="'Has <b>no driving license</b>' | translate"></span>
                    <p *ngIf="!candidate.candidate_driving_license">{{ "Driving licence (not set)" | translate }} </p>
                  </ion-label>
                </ion-item>

                <ion-item class="mother-nationality" [class.required]="!candidate.candidate_mom_kuwaiti">
                  <div tabindex="0"></div>
                  <ion-label>
                    <span *ngIf="candidate.candidate_mom_kuwaiti == 1"
                      [innerHtml]="'Mother is <b>Kuwaiti</b>' | translate"></span>
                    <span *ngIf="candidate.candidate_mom_kuwaiti == 2"
                      [innerHtml]="'Mother is <b>not Kuwaiti</b>' | translate"></span>
                    <p *ngIf="!candidate.candidate_mom_kuwaiti">{{ "Candidate mother Kuwaiti? (not set)" | translate }}
                    </p>
                  </ion-label>
                </ion-item>

                <ion-item class="id-number" [class.required]="!candidate.candidate_civil_id">
                  <div tabindex="0"></div>
                  <ion-label>
                    <div *ngIf="candidate.candidate_civil_expiry_date">
                      <span>{{ "Civil ID" | translate }}
                        <b>{{ candidate.candidate_civil_id | translate }}</b></span><br />
                      <span class="txt-expiring-on"> {{ "Expiring on" | translate }} {{
                        toDate(candidate.candidate_civil_expiry_date) | date :'MMMM d, y': undefined: translateService.currentLang
                        }}</span>
                    </div>
                    <p *ngIf="!candidate.candidate_civil_expiry_date || !candidate.candidate_civil_id">
                      {{ "Civil ID (not set)" | translate }}
                    </p>
                  </ion-label>

                  <ion-button *ngIf="candidate.candidate_civil_id" slot="end" class="btn-copy" (click)="copy($event, candidate.candidate_civil_id)">
                    <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                  </ion-button>
                </ion-item>

                <ion-item class="civil-front" [class.required]="!candidate.candidate_civil_photo_front">
                  <div tabindex="0"></div>

                  <ion-label *ngIf="candidate.candidate_civil_photo_front">
                    <p>{{ "ID Photo Front" | translate }}</p>
                    <img width="126" (error)="onCivilFrontError()" *ngIf="candidate.candidate_civil_photo_front"
                      src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_front }}" />
                  </ion-label>

                  <ion-label *ngIf="!candidate.candidate_civil_photo_front">
                    <p>{{ "ID Photo Front (not set)" | translate }}</p>
                  </ion-label>
                </ion-item>

                <ion-item class="civil-back" [class.required]="!candidate.candidate_civil_photo_back">
                  <div tabindex="0"></div>

                  <ion-label *ngIf="candidate.candidate_civil_photo_back">
                    <p>{{ "ID Photo Back" | translate }}</p>
                    <img width="126" (error)="onCivilBackError()" *ngIf="candidate.candidate_civil_photo_back"
                      src="{{ awsService.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_back }}" />
                  </ion-label>

                  <ion-label *ngIf="!candidate.candidate_civil_photo_back">
                    <p>{{ "ID Photo Back (not set)" | translate }}</p>
                  </ion-label>
                </ion-item>

                <ion-item class="bank" [class.required]="!candidate.bank">
                  <div tabindex="0"></div>
                  <ion-label *ngIf="!candidate.bank">
                    <p>Bank (not set)</p>
                  </ion-label>
                  <ion-label *ngIf="candidate.bank">
                    <h5>{{ candidate.bank.bank_name }}</h5>
                    <p *ngIf="candidate.bank_account_name">{{ candidate.bank_account_name }}</p>
                    <p *ngIf="candidate.candidate_iban">{{ candidate.candidate_iban }}</p>
                  </ion-label>
                </ion-item>

                <ion-item class="created-at">
                  <div tabindex="0"></div>
                  <ion-label>
                    <p>Created On {{ toDate(candidate.candidate_created_at) | date}}</p>
                    <p>Updated On {{ toDate(candidate.candidate_updated_at) | date}}</p>
                  </ion-label>
                </ion-item>
              </div>

              <h5 *ngIf="salaryTransfers.length > 0">Salary Transfers</h5>

              <transfer [transferCandidate]="salary" *ngFor="let salary of salaryTransfers"></transfer>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <loading-modal [loading]="loading" type="candidate-view"></loading-modal>
  </div>
</ion-content>
<ion-footer *ngIf="candidate && (candidate.isProfileCompleted || candidate.store)" class="container">
  <ion-grid>
    <ion-row>

      <ion-col *ngIf="candidate.isProfileCompleted">
        <ion-button class="btn-export-cv" (click)="exportOption()">
          <ion-spinner *ngIf="exportingCV"></ion-spinner>
          <span *ngIf="!exportingCV">Export CV as PDF</span>
        </ion-button>
      </ion-col>

      <ion-col *ngIf="candidate.store">
        <ion-button class="btn-unassign" [disabled]="unassinging" (click)="unassignCandidateFromStore()">
          <span *ngIf="!unassinging">Unassign from {{ candidate.store.store_name }}</span>
          <ion-spinner *ngIf="unassinging"></ion-spinner>
        </ion-button>
      </ion-col>

      <ion-col *ngIf="candidate.isProfileCompleted">
        <ion-button class="btn-invite" (click)="invite()">
          Invite for client request
        </ion-button>
      </ion-col>

      <ion-col *ngIf="candidate.isProfileCompleted && !candidate.store">
        <ion-button class="btn-store" [disabled]="assigning" (click)="assingToStore($event)">
          <span *ngIf="!assigning">Assign to store</span>
          <ion-spinner *ngIf="assigning"></ion-spinner>
        </ion-button>
      </ion-col>

      <!--
      <ion-col>
        <ion-button class="btn-hourly-rate" (click)="updateRate($event)">
          Set hourly rate
        </ion-button>
      </ion-col>-->

    </ion-row>
  </ion-grid>
</ion-footer>
