ion-header {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

  ion-toolbar {
    padding: 0 24px;

    ion-title {
      padding: 0;
    }
  }

  .btn-copy {
    position: relative;
    top: -7px;
  }
}

ion-content {
  --background: var(--ion-color-custom-9);
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 24px;
}

ion-thumbnail {
  width: 80px;
  height: 80px;
  --border-radius: 100%;
  margin-inline-end: 16px;
}

h2.candidate-name {
  margin: 10px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--ion-color-custom-6);
  text-transform: capitalize;
}

h4.candidate-name {
  margin: 4px 0 4px 0;
  font-family: "Droid Arabic Kufi", "effra", sans-serif !important;
  --ion-font-family: "Droid Arabic Kufi", "effra", sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--ion-color-custom-6);
}

.hourly-rate {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--ion-color-light-contrast);
  margin: 3px 0 4px 0;
}

.birth-date {
  margin: 0px 0 12px 0;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: black;

  b {
    font-size: 18px;
    line-height: 1.5;
  }

  .txt-born-on {
    line-height: 21px;
    font-size: 14px;
  }
}

.job-status {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  width: 165px;
  height: 25px;
  margin: 0 0 17px 0px;
  padding: 5px 9px 2px;
  border-radius: 0;
}

.interested {
  color: var(--ion-color-light-contrast);
  background-color: var(--ion-color-custom-40);
}

.not-interested {
  color: var(--ion-color-primary-contrast);
  background-color: var(--ion-color-custom-23);
}

.details ion-item {
  --inner-border-width: 0;
  --padding-start: 58px;
  margin-bottom: 5px;

  ion-label {
    white-space: normal;
    margin-bottom: 5px;
    font-size: 14px;
  }

  h5 {
    margin: 0 0 7px 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  p {
    margin: 3px 0 13px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  .hint {
    font-family: EffraLight;
    margin: 7px 0 11px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
  }
}

.work-history-wrapper ion-item {
  --padding-start: 46px;
  --inner-border-width: 0;
  --padding-start: 58px;
  margin-bottom: 5px;

  ion-label {
    white-space: normal;
    margin-bottom: 0;
    font-size: 14px;
  }

  h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  p {
    margin: 3px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }
}

.work-history-wrapper {
  .heading {
    margin: 30px 0 14px 0;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--ion-color-light-contrast);
  }

  ion-item {
    --padding-start: 0;
    --background: none;
  }
}

.personal-details {
  h5 {
    margin-bottom: 16px;
  }

  p,
  a {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--ion-color-custom-6);
    text-decoration: none;
    padding-inline-start: 32px;
    clear: both;
    display: block;
    min-height: 24px;
    margin-bottom: 16px;
    position: relative;

    ion-button {
      float: right;
    }

    .txt-expiring-on {
      font-weight: normal;
    }
  }

  .id-number ion-button {
    position: absolute;
    right: 0;
    top: -5px;
  }

  .image-id {
    width: 342px;
    border-radius: 16px;
    background-color: var(--ion-card-background);
  }
}

.assignment-wrapper,
.note-wrapper,
.suggestion-wrapper {
  .heading {
    margin: 16px 4px 16px 4px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-6);

    ion-icon {
      margin-inline-end: 7px;
      font-size: 24px;
      float: left;
    }
  }

  note {
    margin: 0 0 9px;
  }

  .btn-add-note,
  .btn-view-notes {
    border-radius: 5px;
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.08),
      2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--ion-card-background);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-light-contrast);
    width: 100%;
    height: 41px;
    text-transform: none;
    margin: 0;
    --background: none;
    --box-shadow: none;
  }

  .btn-add-note {
    margin-top: 15px;
  }

  ion-card {
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: var(--ion-card-background);
    margin-left: 0;
    margin-right: 0px;

    ion-card-header {
      padding: 0;

      ion-button {
        --background: transparent;
        --box-shadow: none;
      }
    }
  }

  ion-item {
    --inner-border-width: 0;
    --padding-top: 0;
    --padding-end: 0px;
    --padding-bottom: 0;
    --padding-start: 0;
    --background: none;
    margin: 0 4px 16px 4px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: var(--ion-card-background);

    ion-label {
      margin: 0;

      h5 {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-custom-6);
        margin: 0 0 4px 0;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-custom-5);
      }
    }

    ion-icon {
      margin: 12px 0 12px 4px;
      padding: 4px;
      background-color: var(--ion-color-custom-42);
      font-size: 16px;
      border-radius: 100%;
      fill: var(--ion-color-custom-7);
    }
  }
}

.assignment-wrapper {
  ion-item {
    box-shadow: inset 0 -1px 0 0 var(--ion-color-custom-4);
    margin: 0;
    border-radius: 0;

    a {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: var(--ion-color-custom-34);
      text-decoration: none;
    }
  }

  .btn-unassign,
  .btn-certificate {
    height: 40px;
    flex-grow: 0;
    margin: 14px 0 0 0;
    --border-radius: 8px;
    --background: var(--ion-color-custom-43);
    --box-shadow: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-14);
    text-transform: capitalize;
    --padding-start: 20px;
    --padding-end: 20px;
    margin-inline-end: 16px;
  }

  .btn-unassign {
    --background: var(--ion-card-background);
    --border-color: var(--ion-color-custom-14);
    --border-radius: 12px;
    --border-width: 2px;
    --border-style: solid;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-17);
  }

  ion-card-content {
    padding-top: 16px;
  }
}

.note-wrapper {
  margin-bottom: 23px;

  .heading {
    margin-top: 32px;
  }
}

.skills,
.experiences {
  p {
    margin-top: 10px;
  }

  span {
    clear: both;
    display: block;
  }
}

.no-logo {
  border: 1px solid #57ccc6;
}

.video {
  background: url("../../../../../assets/images/ic_video.svg") no-repeat 0 0px;

  img {
    width: 90px;
    margin-top: 5px;
  }
}

.resume {
  background: url("../../../../../assets/images/ic_ad.svg") no-repeat 0 0px;
}

.skills {
  background: url("../../../../../assets/images/ic_food_tools.svg") no-repeat 0 0px;
}

.experiences {
  background: url("../../../../../assets/images/ic_suitcase.svg") no-repeat 0 0px;
}

.area {
  background: url("../../../../../assets/images/icon-location.svg") no-repeat 0 0px;
}

.birth-date {
  background: url("../../../../../assets/images/icon-calendar.svg") no-repeat 0px -1px;
}

.phone {
  background: url("../../../../../assets/images/icon-phone.svg") no-repeat 0px -1px;
}

.whatsapp {
  background: url("../../../../../assets/images/icon-phone.svg") no-repeat 0 -1px;
}

.email {
  background: url("../../../../../assets/images/icon-email.svg") no-repeat 0 0px;
}

.nationality {
  background: url("../../../../../assets/images/icon-earth.svg") no-repeat 0 0px;
}

.gender {
  background: url("../../../../../assets/images/icon-profile.svg") no-repeat 0 0px;
}

.university {
  background: url("../../../../../assets/images/icon-education.svg") no-repeat 0 0px;
}

.driving-license {
  background: url("../../../../../assets/images/icon-car.svg") no-repeat 0 0px;
}

.mother-nationality {
  background: url("../../../../../assets/images/icon-profile.svg") no-repeat 0 0px;
}

.id-number {
  background: url("../../../../../assets/images/icon-card.svg") no-repeat 0 0px;
}

.civil-front,
.civil-back {
  background: url("../../../../../assets/images/ic_profile_info.svg") no-repeat 0 0px;

  p {
    margin-bottom: 7px;
  }
}

.bank {
  background: url("../../../../../assets/images/ic_bank.svg") no-repeat 0 0px;

  h5,
  p {
    margin-bottom: 0 !important;
  }
}

.created-at {
  background: url("../../../../../assets/images/ic_timer.svg") no-repeat 0 0px;

  p {
    margin-bottom: 0 !important;
  }
}

.required {
  color: var(--ion-color-custom-23) !important;

  h5,
  p {
    color: var(--ion-color-custom-23) !important;
  }
}

.area,
.phone,
.email,
.nationality,
.gender,
.university,
.driving-license,
.mother-nationality,
.id-number,
.civil-front,
.civil-back {
  margin-bottom: 5px;
}

.txt-updated-on,
.txt-expiring-on {
  color: var(--ion-color-custom-5);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  clear: both;
  display: block;
}

ion-grid,
ion-col,
ion-row {
  padding: 0;
}

.left-side {
  padding-right: 60px;
}

.right-side {
  padding-top: 165px;
}

@media only screen and (max-width: 767px) {
  .left-side {
    padding-right: 0;
  }

  .right-side {
    padding-top: 0;
  }
}

ion-footer {
  ion-grid {
    padding: 0;
  }

  ion-col {
    padding: 0 7px;
  }

  ion-row {
    padding: 10px 7px 0 7px;
  }

  ion-button {
    width: calc(100% - 80px);
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    display: block;
    margin: 24px;
    --box-shadow: none;
  }

  .btn-invite {
    --background: var(--ion-color-custom-14);
  }

  .btn-hourly-rate,
  .btn-store,
  .btn-export-cv {
    --background: var(--ion-color-custom-10);
    color: var(--ion-color-primary-contrast);
  }
}

.btn-unassign {
  --background: var(--ion-color-custom-23);
  color: var(--ion-color-primary-contrast);
}

.btn-copy {
  --background: none;
  --box-shadow: none;
  --color: var(--ion-color-light-contrast);
  opacity: 0.5;
}

ion-segment {
  margin-top: 16px;
}

ion-segment-button {
  text-transform: inherit;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--ion-color-custom-5);
}

ion-segment-button.segment-button-checked {
  font-weight: 600;
  color: var(--ion-color-custom-44);
  --indicator-color: var(--ion-color-custom-44);
  --border-color: var(--ion-color-custom-44);
}

h5.title {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: var(--ion-color-custom-6);
}

.objective {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--ion-color-custom-17);
  margin-top: 8px;
  margin-bottom: 32px;
}

ion-content {
  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--ion-color-custom-6);

    ion-icon {
      margin-inline-end: 4px;
    }
  }

  .work-experience-wrapper {
    margin-top: 32px;

    p {
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--ion-card-background);
      margin-top: 16px;
      padding: 16px;
    }
  }

  .skill-wrapper {
    margin-top: 32px;

    h5 {
      margin-bottom: 16px;
    }

    ion-badge {
      height: 32px;
      flex-grow: 0;
      align-items: center;
      gap: 10px;
      padding: 6px 12px;
      border-radius: 8px;
      background-color: var(--ion-card-background);
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: var(--ion-color-custom-17);
      margin-inline-end: 8px;
      margin-bottom: 8px;
    }
  }

  transfer {
    margin-top: 16px;
    display: block;
  }

  .item-salary {
    height: 80px;
    flex-grow: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--ion-card-background);
    --inner-border-width: 0;
    margin-top: 16px;

    ion-label {
      margin-top: 16px;
    }

    h5 {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--ion-color-custom-6);
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--ion-color-custom-17);
    }

    ion-badge {
      padding: 4px 8px;
      border-radius: 8px;
      background-color: var(--ion-color-custom-22);
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--ion-color-custom-24);
    }

    .badge-unpaid {
      background-color: var(--ion-color-custom-11);
      color: var(--ion-color-custom-45);
    }
  }

  .bank-detail {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--ion-color-custom-17);
    margin-top: 32px;

    p {
      margin: 0;
      margin-inline-start: 32px;
    }
  }
}

.icon-bank,
.icon-salary {
  font-size: 24px;
  position: relative;
  top: 5px;
}

.txt-id,
.txt-general-info {
  margin-top: 32px !important;
}

.segment-work-details h5 ion-icon {
  font-size: 24px;
  top: 5px;
  position: relative;
}

.btn-resume,
.btn-video {
  width: 163px;
  height: 56px;
  --padding: 16px;
  border-radius: 8px;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --background: var(--ion-card-background);
  --color: var(--ion-color-dark);
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--ion-color-custom-17);
  text-transform: none;
  margin-inline-end: 16px;

  ion-icon {
    margin-right: 7px;
    font-size: 24px;
  }
}

.verified {
  font-size: 20px;
}
ion-toolbar {
  ion-select {
    padding: 10px;
    border: 1px solid;
    border-radius: 12px;
    background: var(--ion-color-custom-9);
  }
}

.candidate-tag {
  margin: 0px 5px;
}

.segment-financials {
  ion-card {
    border-radius: 13px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--ion-card-background);
    background-clip: border-box;
    border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 0.5rem;

    //margin-bottom: 2.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;

    text-align: center;

    .avatar {
      white-space: nowrap;
      background-color: var(--ion-color-custom-46);
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      color: var(--ion-color-primary-contrast);
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 0.75rem;
      text-align: center;
      vertical-align: middle;
      //margin: 5px;
      margin: 5px auto !important;
      width: 46px;
      height: 46px;

      .avatar-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        ion-icon {
          font-size: 21px;
        }
      }
    }

    .bg-rgba-success {
      background: rgba(40, 199, 111, 0.15) !important;
    }

    .bg-rgba-primary {
      background: rgba(115, 103, 240, 0.15) !important;
    }

    .bg-rgba-danger {
      background: rgba(234, 84, 85, 0.15) !important;
    }

    .bg-rgba-warning {
      background: rgba(255, 159, 67, 0.15) !important;
    }

    .text-primary {
      color: var(--ion-color-custom-47) !important;
    }

    .text-success {
      color: var(--ion-color-custom-48) !important;
    }

    .text-danger {
      color: var(--ion-color-custom-49) !important;
    }

    .text-warning {
      color: var(--ion-color-custom-50) !important;
    }

    .p-50 {
      padding: 0.5rem !important;
    }

    .mb-1,
    .my-1 {
      margin-bottom: 1rem !important;
    }

    .mb-0,
    .my-0 {
      margin-bottom: 0 !important;
    }

    .m-0 {
      margin: 0 !important;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-family: inherit;
      font-weight: 700 !important;
      line-height: 1.2;
      color: var(--ion-color-custom-51);
    }

    p {
      color: rgb(98, 98, 98);
      font-size: 14px !important;
      margin: 0;
    }

    ion-card-header {
      font-weight: bold;
      color: var(--ion-color-light-contrast);
      white-space: normal;
    }
  }
}
