<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/candidate-list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="candidate" class="candidate_name">
      {{ candidate.candidate_name? candidate.candidate_name: candidate.candidate_name_ar }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!candidate" (click)="update()">
        Update
      </ion-button>

      <ion-button (click)="openPopover($event)" *ngIf="candidate">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" *ngIf="approving || unapproving"></ion-progress-bar>

</ion-header>

<ion-content>

  <loading-modal [loading]="loading" type="candidate-view"></loading-modal>

  <ion-list *ngIf="candidate">

    <ion-item [class.pending-image]="!candidate.candidate_personal_photo"
      [class.pending]="!candidate.candidate_name || !candidate.candidate_name_ar || !candidate.employee_id">
      <div tabindex="0"></div>

      <ion-avatar slot="start">
        <img *ngIf="candidate.candidate_personal_photo"
          src="{{ aws.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}"
          (error)="loadLogo($event,candidate)">
        <img *ngIf="!candidate.candidate_personal_photo" src="/assets/icon/icon.png">
      </ion-avatar>
      <ion-label>
        <h2 class="candidate_name">{{ candidate.candidate_name ? candidate.candidate_name: candidate.candidate_name_ar }}</h2>
        <p *ngIf="candidate.candidate_name_ar">{{ candidate.candidate_name_ar }}</p>
        <p>{{ candidate.employee_id }}</p>
      </ion-label>
    </ion-item>

    <ion-item [class.pending]="!candidate.candidate_phone" href='tel:{{ candidate.candidate_phone }}' target='_blank'>
      <div tabindex="0"></div>
      <ion-icon name="call" slot="start"></ion-icon>
      {{ candidate.candidate_phone }}
    </ion-item>

    <ion-item *ngIf="candidate.candidate_phone"
      href='https://api.whatsapp.com/send?phone={{ candidate.candidate_phone }}' target='_blank'>
      <div tabindex="0"></div>
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
      Whats App Link
    </ion-item>

    <ion-item lines="none" [class.pending]="!candidate.candidate_email" href='mailto:{{ candidate.candidate_email }}'
      target='_blank'>
      <div tabindex="0"></div>
      <ion-icon name="mail" slot="start"></ion-icon>
      {{ candidate.candidate_email }}
    </ion-item>

    <ion-item-divider color="light">Store Assignment</ion-item-divider>

    <ion-item *ngIf="workHistory && workHistory.length > 0" lines="none">
      <div tabindex="0"></div>
      <ion-label *ngIf="!assigning">
        <p *ngFor="let history of workHistory">
          <label tappable [routerLink]="['/store-view', history.store.store_id]">
            {{ history.store.store_name }} @ {{ history.company.company_name }}:
            {{ toDate(history.start_date) | date }} </label> to
          <label *ngIf="history.end_date">{{ toDate(history.end_date) | date }}</label>
          <label *ngIf="!history.end_date">now</label>
        </p>
      </ion-label>
    </ion-item>

    <app-select-search-input
      *ngIf="candidate && !candidate.store_id && !candidate.store && !assigning && candidate.candidate_hourly_rate"
      placeholder="Assign to work at store" [(ngModel)]="candidate.store_id"
      (ngModelChange)="assignCandidateToStore($event)" [collection]="stores" valueAttr="store_id"
      labelAttr="storeWithCompany">
    </app-select-search-input>

    <ion-item *ngIf="assigning">
      <div tabindex="0"></div>
      <ion-spinner></ion-spinner>
    </ion-item>

    <!-- Default Segment -->
    <ion-item-divider color="light">

      <ion-segment *ngIf="!platform.is('mobile')" (ionChange)="segmentChanged($event)" [value]="sections">
        <ion-segment-button value="personal">
          <ion-label>Personal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bank">
          <ion-label>Bank Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="civil">
          <ion-label>Civil ID</ion-label>
        </ion-segment-button>
        <ion-segment-button value="notes">
          <ion-label>Notes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="salary" *ngIf="salaryTransfers.length > 0">
          <ion-label>Salary Transfers</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-select *ngIf="platform.is('mobile')" interface="popover" (ionChange)="segmentChanged($event)" [value]="sections">
        <ion-select-option value="personal">
          <ion-label>Personal</ion-label>
        </ion-select-option>
        <ion-select-option value="bank">
          <ion-label>Bank Info</ion-label>
        </ion-select-option>
        <ion-select-option value="notes">
          <ion-label>Notes</ion-label>
        </ion-select-option>
        <ion-select-option value="civil">
          <ion-label>Civil ID</ion-label>
        </ion-select-option>
        <ion-select-option value="salary" *ngIf="salaryTransfers.length > 0">
          <ion-label>Salary Transfers</ion-label>
        </ion-select-option>
      </ion-select>

    </ion-item-divider>

    <ng-container *ngIf="sections == 'salary'">

      <ion-item *ngFor="let salary of salaryTransfers">
        <div tabindex="0"></div>
        <ion-label>
          {{ salary.tc_created_at }}
          <p>KWD {{salary.total | number:'1.3-3' }}</p>
          <p *ngIf="salary.bonus > 0">Bonus: <b>KWD {{salary.candidate_bonus | number:'1.3-3' }}</b></p>

          <p>Confirmation ID: <b>{{ salary.transfer_confirmation_id }}</b></p>

          <p *ngIf="salary.bank">Bank: <b>{{ salary.transfer_benef_iban }} @ {{ salary.bank.bank_name }}</b></p>

          <p>Account name: <b>{{ salary.transfer_benef_name }}</b></p>

        </ion-label>
        <ion-badge slot="end" color="secondary" *ngIf="salary.status == 'Paid'">{{salary.status}}</ion-badge>
        <ion-badge slot="end" *ngIf="salary.status =='Unpaid'">In Progress</ion-badge>
      </ion-item>

      <no-items message = "No salary transferred yet!" *ngIf="salaryTransfers.length == 0 && !loadingSalaryTransfers"></no-items>

    </ng-container>

    <ng-container *ngIf="sections == 'personal'">

      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Committed?</h5>
          <p *ngIf="candidate.candidate_committed">Yes, committed</p>
          <p *ngIf="!candidate.candidate_committed">Not committed</p>
        </ion-label>
        <ion-button (click)="toggleCommitted()" slot="end">
          <span *ngIf="candidate.candidate_committed">Mark candidate as not committed</span>
          <span *ngIf="!candidate.candidate_committed">Mark candidate as committed</span>
        </ion-button>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_hourly_rate">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Hourly Rate</h5>
          <ion-spinner *ngIf="processing && processing == 'setting_hours'"></ion-spinner>
          <p *ngIf="candidate.candidate_hourly_rate">{{ candidate.candidate_hourly_rate }}</p>
          <p *ngIf="!candidate.candidate_hourly_rate">
            <ion-button (click)="updateRate($event)" tappable color="danger">
              <span>Set hourly rate</span>
            </ion-button>
          </p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.age">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Age</h5>
          <p>{{ candidate.age }}</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.area">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Home location</h5>
          <p *ngIf="candidate.area">
            {{ candidate.area.area_name_en }}<span *ngIf="candidate.country">,
              {{ candidate.country.country_name_en }}
            </span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.nationality">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Nationality</h5>
          <p *ngIf="candidate.nationality">{{ candidate.nationality.country_name_en }}</p>
          <p *ngIf="!candidate.nationality">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.university">
        <div tabindex="0"></div>
        <ion-label>
          <h5>University</h5>
          <p *ngIf="candidate.university">{{ candidate.university.university_name_en }}</p>
          <p *ngIf="!candidate.university">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_gender">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Gender</h5>
          <p *ngIf="candidate.candidate_gender == 1">Male</p>
          <p *ngIf="candidate.candidate_gender == 2">Female</p>
          <p *ngIf="candidate.candidate_gender == 3">Other</p>
          <p *ngIf="!candidate.candidate_gender">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_objective">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Objective</h5>
          <p *ngIf="candidate.candidate_objective">{{ candidate.candidate_objective }}</p>
          <p *ngIf="!candidate.candidate_objective">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_driving_license">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Driving License Available?</h5>
          <p *ngIf="candidate.candidate_driving_license == 1">Yes</p>
          <p *ngIf="candidate.candidate_driving_license == 2">No</p>
          <p *ngIf="!candidate.candidate_driving_license">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="candidate.candidateSkills && candidate.candidateSkills.length == 0">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Skills</h5>
          <div *ngIf="candidate.candidateSkills && candidate.candidateSkills.length > 0">
            <ion-chip class="sub-span" *ngFor="let skills of candidate.candidateSkills">
              {{ skills.skill }}
            </ion-chip>
          </div>
          <p *ngIf="candidate.candidateSkills.length == 0">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="candidate.candidateExperiences && candidate.candidateExperiences.length == 0">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Experiences</h5>
          <div *ngIf="candidate.candidateExperiences && candidate.candidateExperiences.length > 0">
            <ion-chip class="sub-span" *ngFor="let exp of candidate.candidateExperiences">
              {{exp.experience}}
            </ion-chip>
          </div>
          <p *ngIf="candidate.candidateExperiences.length == 0">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_resume">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Candidate CV</h5>
          <a target="_blank" *ngIf="candidate.candidate_resume"
            href="{{ getResumeUrl(candidate) }}">
            {{ candidate.candidate_resume }}
          </a>
          <span *ngIf="!candidate.candidate_resume">-</span>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_video">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Candidate Video</h5>
          <ng-container *ngIf="candidate.candidate_video && candidate.candidate_video_processed">
            <video class="manipulation-video" controls="true" preload="none" width="300"
                   poster="{{ aws.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.jpg">
              <source src="{{ aws.permanentBucketUrl }}candidate-video/{{ candidate.candidate_video }}.mp4"
                      type="video/mp4">
              Your browser does not support HTML5 video tags
            </video><br/>
            <small>File Name : {{candidate.candidate_video}}</small>
          </ng-container>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Created On</h5>
          <p>{{ toDate(candidate.candidate_created_at) | date}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Updated On</h5>
          <p>{{ toDate(candidate.candidate_updated_at) | date}}</p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="sections == 'civil'">

      <ion-item [class.pending]="!candidate.candidate_civil_id">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Civil ID Number</h5>
          <p>{{ candidate.candidate_civil_id }}</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_birth_date">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Birth date</h5>
          <p>{{ candidate.candidate_birth_date }}</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_civil_expiry_date">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Expiry Date</h5>
          <p>{{ candidate.candidate_civil_expiry_date }}</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_civil_photo_front">
        <div tabindex="0"></div>
        <ion-label>
          <h5>ID Photo Front</h5>
          <p *ngIf="candidate.candidate_civil_photo_front">
            <a [href]="aws.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_front" target='_blank'>
              {{ candidate.candidate_civil_photo_front }}
            </a>
          </p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_civil_photo_back">
        <div tabindex="0"></div>
        <ion-label>
          <h5>ID Photo Back</h5>
          <p *ngIf="candidate.candidate_civil_photo_back">
            <a [href]="aws.permanentBucketUrl + 'photos/' + candidate.candidate_civil_photo_back" target='_blank'>
              {{ candidate.candidate_civil_photo_back }}
            </a>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="sections == 'bank'">
      <ion-item [class.pending]="!candidate.bank">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Bank</h5>
          <p *ngIf="candidate.bank">{{ candidate.bank.bank_name }}</p>
          <p *ngIf="!candidate.bank">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.bank_account_name">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Beneficiary Name</h5>
          <p *ngIf="candidate.bank_account_name">{{ candidate.bank_account_name }}</p>
          <p *ngIf="!candidate.bank_account_name">-</p>
        </ion-label>
      </ion-item>

      <ion-item [class.pending]="!candidate.candidate_iban">
        <div tabindex="0"></div>
        <ion-label>
          <h5>IBAN</h5>
          <p *ngIf="candidate.candidate_iban">{{ candidate.candidate_iban }}</p>
          <p *ngIf="!candidate.candidate_iban">-</p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="sections == 'notes'">
      <!-- note -->

      <section>

        <form [formGroup]="noteForm" [class.editor-inactive]="!editorFocused" [class.editor-focused]="editorFocused"
              *ngIf="noteForm">
          <ion-item lines="none">
            <div tabindex="0"></div>

            <ckeditor [config]="editorConfig" #ckeditor [editor]="Editor" (focus)="onEditorFocus()"
                      (change)="onChange($event)"></ckeditor>

          </ion-item>
          <ion-item lines="none">
            <div tabindex="0"></div>

            <ion-buttons slot="start">

              <ion-button [disabled]="addingNote || !noteForm.valid" (click)="addNote()">
                <span *ngIf="!addingNote">Submit</span>
                <ion-spinner *ngIf="addingNote"></ion-spinner>
              </ion-button>

              <ion-button color="danger" (click)="cancelAddNote()">
                <span>Cancel</span>
              </ion-button>

            </ion-buttons>
          </ion-item>
        </form>

        <ion-list>
          <ion-item-sliding *ngFor="let note of candidate.notes" [disabled]="platform.width() > 768">
            <ion-item tappable (click)="editNote(note)">
              <div tabindex="0"></div>

              <ion-label>
                <div [innerHTML]="note.note_text"></div>
                <p><small>Created On : {{ toDate(note.note_created_datetime) | date}} | </small>
                  <small>Updated On : {{ toDate(note.note_updated_datetime) | date}} </small></p>
                <p><small>Created By : {{note.createdBy.staff_name}} | </small>
                  <small>Updated By : {{note.updatedBy.staff_name}} </small></p>
              </ion-label>

              <ion-buttons slot="end" *ngIf="platform.width() > 768">
                <ion-button color="default">
                  <ion-icon slot="start" name="pencil-outline"></ion-icon>
                  Edit
                </ion-button>

                <ion-button color="danger" (click)="removeNote($event, note)">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                  Delete
                </ion-button>
              </ion-buttons>

            </ion-item>
            <ion-item-options side="end">
              <ion-button (click)="editNote(note)">
                <ion-icon slot="start" name="pencil-outline"></ion-icon>
                Edit
              </ion-button>

              <ion-button color="danger" (click)="removeNote($event, note)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Delete
              </ion-button>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>
      </section>

    </ng-container>
  </ion-list>
</ion-content>
<ion-footer *ngIf="candidate && candidate.isProfileCompleted">

  <ion-button expand="full" *ngIf="!candidate.approved" (click)="approve(candidate)">
    <span *ngIf="!approving">Approve</span>
    <ion-spinner *ngIf="approving"></ion-spinner>
  </ion-button>

  <ion-button expand="full" *ngIf="candidate.approved" (click)="unapprove(candidate)">
    <span *ngIf="!unapproving">Mark as requires approval</span>
    <ion-spinner *ngIf="unapproving"></ion-spinner>
  </ion-button>

</ion-footer>
