
ion-header {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

  ion-toolbar {
      padding: 0 24px;

      ion-title {
          padding: 0;
      }
  }

  .btn-copy {
    position: relative;
    top: -7px;
  }
}

ion-content {
  --background: #f7f8fa;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 24px;
}

ion-thumbnail {
  width: 80px;
  height: 80px;
  --border-radius: 100%;
  margin-inline-end: 16px;
}

h2.candidate-name {
  margin: 10px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #23233d;
  text-transform: capitalize;
}

h4.candidate-name {
  margin: 4px 0 4px 0;
  font-family: 'Droid Arabic Kufi', 'effra', sans-serif !important;
  --ion-font-family: 'Droid Arabic Kufi', 'effra', sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #23233d;
}

.hourly-rate {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin: 3px 0 4px 0;
}

.birth-date {
  margin: 0px 0 12px 0;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: black;

  b {
    font-size: 18px;
    line-height: 1.5;
  }

  .txt-born-on {
    line-height: 21px;
    font-size: 14px;
  }
}

.job-status {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  width: 165px;
  height: 25px;
  margin: 0 0 17px 0px;
  padding: 5px 9px 2px;
  border-radius: 0;
}

.interested {
  color: #000;
  background-color: #6fcf97;
}

.not-interested {
  color: #fff;
  background-color: #eb5757;
}
 

.details ion-item {
  --inner-border-width: 0;
  --padding-start: 58px;
  margin-bottom: 5px;

  ion-label {
    white-space: normal;
    margin-bottom: 5px;
    font-size: 14px;
  }

  h5 {
    margin: 0 0 7px 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  p {
    margin: 3px 0 13px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  .hint {
    font-family: EffraLight;
    margin: 7px 0 11px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
  }
}

.work-history-wrapper ion-item {
  --padding-start: 46px;
  --inner-border-width: 0;
  --padding-start: 58px;
  margin-bottom: 5px;

  ion-label {
    white-space: normal;
    margin-bottom: 0;
    font-size: 14px;
  }

  h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  p {
    margin: 3px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }
}

.work-history-wrapper {

  .heading {
    margin: 30px 0 14px 0;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }

  ion-item {
    --padding-start: 0;
    --background: none;
  }
}

.personal-details {
  
  h5 {
    margin-bottom: 16px;
  }

  a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #23233d;
    text-decoration: none;
    padding-inline-start: 32px;
    clear: both;
    display: block;

    ion-button {
      float: right;
    }
  }
}

.note-wrapper,
.suggestion-wrapper {
  .heading {
    margin: 22px 0 24px 0;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  note {
    margin: 0 0 9px;
  }

  .btn-add-note,
  .btn-view-notes {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    width: 100%;
    height: 41px;
    text-transform: none;
    margin: 0;
    --background: none;
    --box-shadow: none;
  }

  .btn-add-note {
    margin-top: 15px;
  }

  ion-item {
    --inner-border-width: 0;
    --padding-top: 3px;
    --padding-end: 0px;
    --padding-bottom: 3px;
    --padding-start: 21px;
    margin-bottom: 9px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);

    ion-label {
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.65;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    ion-note {
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      width: 34px;
      height: 25px;
      margin: 13px 0 0;
      padding: 5px 9px 2px;
      background-color: #f2f2f2;
    }

    ion-note.accepted {
      color: #fff;
      background: #219653;
    }

    ion-note.rejected {
      color: #fff;
      background: #eb5757;
    }
  }
}

.note-wrapper {
  margin-bottom: 23px;

  .heading {
    margin-top: 32px;
  }
}

.skills,
.experiences {
  p {
    margin-top: 10px;
  }

  span {
    clear: both;
    display: block;
  }
}

.no-logo {
  border: 1px solid #57CCC6;
}

.video {
  background: url('src/assets/images/ic_video.svg') no-repeat 0 2px;

  img {
    width: 90px;
    margin-top: 5px;
  }
}

.resume {
  background: url('src/assets/images/ic_ad.svg') no-repeat 0 2px;
}

.skills {
  background: url('src/assets/images/ic_food_tools.svg') no-repeat 0 2px;
}

.experiences {
  background: url('src/assets/images/ic_suitcase.svg') no-repeat 0 2px;
}

.area {
  background: url('src/assets/images/ic_home_2.svg') no-repeat 0 2px;
}

.phone {
  background: url('src/assets/images/icon-phone.svg') no-repeat 0px -1px;
}

.whatsapp {
  background: url('src/assets/images/icon-phone.svg') no-repeat 0 -1px;
}

.email {
  background: url('src/assets/images/icon-email.svg') no-repeat 0 2px;
}

.nationality {
  background: url('src/assets/images/ic_globe.svg') no-repeat 0 2px;
}

.gender {
  background: url('src/assets/images/ic_swipe.svg') no-repeat 0 2px;
}

.university {
  background: url('src/assets/images/md-school.svg') no-repeat 0 2px;
}

.driving-license {
  background: url('src/assets/images/ic_car.svg') no-repeat 0 2px;
}

.mother-nationality {
  background: url('src/assets/images/ic_username.svg') no-repeat 0 2px;
}

.id-number {
  background: url('src/assets/images/ic_feed.svg') no-repeat 0 2px;
}

.civil-front,
.civil-back {
  background: url('src/assets/images/ic_profile_info.svg') no-repeat 0 2px;

  p {
    margin-bottom: 7px;
  }
}

.bank {
  background: url('src/assets/images/ic_bank.svg') no-repeat 0 2px;

  h5,
  p {
    margin-bottom: 0 !important
  }
}

.created-at {
  background: url('src/assets/images/ic_timer.svg') no-repeat 0 2px;

  p {
    margin-bottom: 0 !important;
  }
}

.required {
  color: #eb5757 !important;

  h5,
  p {
    color: #eb5757 !important;
  }
}

.area,
.phone,
.email,
.nationality,
.gender,
.university,
.driving-license,
.mother-nationality,
.id-number,
.civil-front,
.civil-back {
  margin-bottom: 5px;
}

.txt-expiring-on {
  color: #333333;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  opacity: 0.85;
}

ion-grid,
ion-col,
ion-row {
  padding: 0;
}

.left-side {
  padding-right: 60px;
}

.right-side {
  padding-top: 165px;
}

@media only screen and (max-width:767px) {
  .left-side {
    padding-right: 0;
  }

  .right-side {
    padding-top: 0;
  }
}


ion-footer {

  ion-grid {
    padding: 0;
  }

  ion-col {
    padding: 0 7px;
  }

  ion-row {
    padding: 10px 7px 0 7px;
  }

  ion-button {
    width: 100%;
    height: 53px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    display: block;
    margin: 0 0 10px 0;
    --box-shadow: none;
  }

  .btn-invite {
    --background: #219653;
  }

  .btn-hourly-rate,
  .btn-store,
  .btn-export-cv {
    --background: #333333;
    color: #ffffff;
  }
}
.btn-unassign {
  --background: #eb5757;
  color: #ffffff;
}
.btn-copy {
  --background: none;
  --box-shadow: none;
  --color: #000;
  opacity: 0.5;
}

ion-segment {
  margin-top: 16px;
}

ion-segment-button {
  text-transform: inherit;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #68687a;
}

ion-segment-button.segment-button-checked {
  font-weight: 600;
  color: #263879;
  --indicator-color	:#263879;
  --border-color	:#263879;
}

h5.title {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #23233d;
}

.objective {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4b4b61;
  margin-top: 8px;
  margin-bottom: 32px;
}

ion-content { 
  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #23233d;

    ion-icon {
      margin-inline-end: 4px;
    }
  }

  .item-salary {
    height: 80px;
    flex-grow: 0;  
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    --inner-border-width: 0;
    margin-top: 16px;

    ion-label {
      margin-top: 16px;
    }

    h5 {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #23233d;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #4b4b61;
    }

    ion-badge {
      padding: 4px 8px;
      border-radius: 8px;
      background-color: #edfcf3;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #29b564;
    }

    .badge-unpaid {
      background-color: #fff7f0;
      color: #ca7f3e;
    }
  }

  .bank-detail {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4b4b61;
    margin-top: 32px;
    
    p {
      margin: 0;
      margin-inline-start: 32px;
    }
  }
}

.icon-bank,
.icon-salary {
  font-size: 24px;
  position: relative;
  top: 5px;
}

.txt-general-info {
  margin-top: 32px;
}