<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      
      <ion-back-button defaultHref="/"></ion-back-button>
     
    </ion-buttons>

    <ion-title>Candidates Requiring Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- When No Candidates left for Review -->
  <section class="ion-padding ion-text-center" *ngIf="!loading && candidates.length == 0">
    <h1>All done!</h1>
    <h2>No more candidates to review</h2>
  </section>

  <!-- When Candidates are Available to Review -->
  <section>
    <ion-list>
      <candidate [candidate]="candidate" type="review" *ngFor="let candidate of candidates"></candidate>
      <loading-modal type="review-list" [loading]="loading"></loading-modal>
    </ion-list>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </section>

</ion-content>
