<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/team-view/'+authService.staff_id]" fill="clear" class="name-btn">
         {{ getInitials() }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <div class="container">


    <loading-modal type="stats" [loading]="loading"></loading-modal>

    <ng-container *ngIf="!loading && statistics">

      <h3>Continue where you left off</h3>

      <ion-card class="stats card-session">
        <ion-card-content>

        <div  *ngIf="!staff_work_session.session">
          <h3>Work session</h3>

          <ng-container *ngIf="!leave">
            <ion-button size="small" class="btn-start-session" [disabled]="loadingSession" (click)="startSession()">
              <ion-spinner *ngIf="loadingSession"></ion-spinner>
              <span *ngIf="!loadingSession">Start Session</span>
            </ion-button>

<!--            <ion-button size="small" color="secondary" class="btn-on-leave" [disabled]="loadingSession" (click)="leaveRequest()">-->
<!--              I'm on leave-->
<!--            </ion-button>-->
          </ng-container>

          <p *ngIf="leave">On leave from {{ leave.from_date }} to {{ leave.to_date }}.</p>
        </div>

        <div *ngIf="staff_work_session.session" class="">

          <div *ngIf="!dailyStandupQuestion">

            <h3>Work session</h3>

            <p class="timer" *ngIf="staff_work_session.session.created_at"> {{ staff_work_session.session.created_at | timer }} </p>

            <ion-button size="small" color="danger" class="btn-end-session" [disabled]="loadingSession" (click)="endSession()">
              <ion-spinner *ngIf="loadingSession"></ion-spinner>
              <span *ngIf="!loadingSession">End Session</span>
            </ion-button>
          </div>


          <ng-container *ngIf="dailyStandupQuestion">
            <h3>{{ dailyStandupQuestion.question }}</h3>

            <ion-item>
              <ion-textarea [(ngModel)]="dailyStandupQuestion.answer"></ion-textarea>
            </ion-item>

            <ion-button size="small" (click)="saveAnswer()">
              <ion-spinner *ngIf="savingAnswer"></ion-spinner>
              <span *ngIf="!savingAnswer">Save answer</span>
            </ion-button>
          </ng-container>
        </div>
        </ion-card-content>
      </ion-card>

      <div *ngIf="authService.story">

        <ion-card class="stats pending-story" tappable [routerLink]="['/story-view/'+ authService.story.story_uuid]">
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ authService.story.request.request_position_title }}</span>
              <p *ngIf="authService.story && authService.story.company">{{ authService.story.company.company_name }}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>


      <div *ngIf="statistics.activeRequests > 0">

        <h3>Recruitment Tasks</h3>

        <ion-card class="stats" tappable>
          <ion-item (click)="scrollToActive()" class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.activeRequests }}</span>
              <p><b>Active requests that need an update.</b> These active requests haven't received an update in a while.</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>

      <div *ngIf="statistics.totalExpiredCards > 0 || statistics.missingBankInfo > 0 || statistics.assignedExpiredCivilID > 0 || statistics.assignedIdleCandidates > 0 || statistics.incompleteAssignedToWork > 0">
        <h3>Customer Operations</h3>
        <ion-card (click)="showExpiredIDs()" *ngIf="statistics.totalExpiredCards > 0" tappable class="danger stats">
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.totalExpiredCards }}</span>
              <p><b>Candidates with expired ID cards</b> that need renewal. Let’s unassign or renew ASAP.</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card class="stats" *ngIf="statistics.id_need_generated > 0" routerLink="/generate-id" tappable>
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.id_need_generated }}</span>
              <p><b>Candidates Assigned to work without ID cards.</b></p>
            </ion-label>
          </ion-item>
        </ion-card>

        <ion-card class="stats" *ngIf="statistics.missingBankInfo > 0" routerLink="/candidate-bank-info-list" tappable>
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.missingBankInfo }}</span>
              <p><b>Candidates missing bank info</b> so we can't pay them.</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card class="stats" *ngIf="statistics.assignedExpiredCivilID > 0" routerLink="/assigned-expired-civil" tappable>
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.assignedExpiredCivilID }}</span>
              <p>Candidates are assigned to work but have <b>expired civil id.</b> </p>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card class="stats" *ngIf="statistics.assignedIdleCandidates > 0" routerLink="/assigned-idle-candidates" tappable>
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.assignedIdleCandidates }}</span>
              <p>Candidates are assigned to work but have <b>not received any payments in the past two months.</b></p>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card class="stats" *ngIf="statistics.incompleteAssignedToWork > 0" tappable routerLink="/incomplete-candidate-list">
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.incompleteAssignedToWork }}</span>
              <p>Candidates are assigned to work but have <b>incomplete profiles.</b></p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
      <div *ngIf="statistics.companyMoreThen40DaysWithoutPayment > 0 || statistics.requireFollowup > 0 || statistics.last40daysNoRequest > 0">
        <h3>Sales</h3>
        <ion-card class="danger stats" *ngIf="statistics.companyMoreThen40DaysWithoutPayment > 0" tappable (click)="companyList()">
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.companyMoreThen40DaysWithoutPayment }}</span>
              <p><b>Urgent! Companies with assigned staff that have not made a payment in 40 days</b></p>
            </ion-label>
          </ion-item>
        </ion-card>

        <ion-card class="stats" tappable *ngIf="statistics.requireFollowup > 0" routerLink="/company-followup-list">
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.requireFollowup }}</span>
              <p><b>Clients requiring followup.</b> We need to collect feedback and try to up-sell additional services.</p>
            </ion-label>
          </ion-item>
        </ion-card>

        <ion-card class="stats" tappable *ngIf="statistics.last40daysNoRequest > 0" routerLink="/view/company-list">
          <ion-item class="ion" detail lines="none">
            <div tabindex="0"></div>
            <ion-label class="ion-text-wrap">
              <span>{{ statistics.last40daysNoRequest }}</span>
              <p><b>Active clients which haven't made a request in over 40 days.</b> Why aren't they making requests?</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </ng-container>
  </div>
</ion-content>
