<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="statistics">
    <ion-row>
      <!-- New candidate id need to renew -->
      <ion-col size-lg="12" size-xl="12" size-md="6" *ngIf="statistics.id_expired && statistics.id_expired > 0">
        <ion-card>
          <ion-card-header>
            {{ statistics.id_expired }} candidates have expired IDs
          </ion-card-header>
          <ion-card-content>
            <p>You'll need to renew it for them</p>
            <ion-button (click)="showExpiredIDs()">
              Show Expired IDs
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- New candidate id need to generate -->
      <ion-col size-lg="12" size-xl="12" size-md="6" *ngIf="statistics.id_need_generated && statistics.id_need_generated > 0">
        <ion-card>
          <ion-card-header>
            {{ statistics.id_need_generated }} candidates need an ID generated
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="showCandidatesRequireNewID()">
              Show Candidates Requiring IDs
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Candidate Count Card -->
      <ion-col size-lg="12" size-xl="12" size-md="6">
        <ion-card>
          <ion-card-header>
            {{statistics.total_candidates_assigned}} candidates currently working
          </ion-card-header>
          <ion-card-content>
            <p>from a total of {{statistics.total_candidates}} registered candidates</p>
            <ion-button (click)="showNotAssignedCandidates()" *ngIf="statistics.total_candidates_unassigned > 0">
              Show candidates that aren't working
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
