<ion-header mode="md" [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-request-dashboard">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar *ngIf="request" class="container title-name">
    <h1>{{request.request_position_title}}</h1>
    <p [routerLink]="['request-view/' +  request.request_uuid]">View main request</p>
  </ion-toolbar>

  <ion-toolbar class="container">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="detail">

      <ion-segment-button mode="md" value="detail">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="update">
        <ion-label>Update</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="invited">
        <ion-label>Invited</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="suggestion">
        <ion-label>Suggested</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="container" *ngIf="request && story && segment == 'detail'">
    <h2>Job Details</h2>
    <ion-badge *ngIf="request.request_position_type == 1">Full-time</ion-badge>
    <ion-badge *ngIf="request.request_location">{{story.request.request_location}}</ion-badge>
    <ion-badge *ngIf="request.request_position_type == 2">Part-time</ion-badge>
    <ion-badge *ngFor="let staff of request.staffs">
      {{ staff.staff_name }}
    </ion-badge>

    <ion-grid>
      <ion-row>
        <ion-col class="lbl">
          <ion-icon src="assets/images/Icon_Status.svg"></ion-icon>&nbsp;Status
        </ion-col>
        <ion-col class="value">
          <span *ngIf="story.story_status == 0"> Unstarted </span>
          <span *ngIf="story.story_status == 1"> Started </span>
          <span *ngIf="story.story_status == 3"> Delivered </span>
          <span *ngIf="story.story_status == 4"> Rejected </span>
          <span *ngIf="story.story_status == 5"> Accepted </span>
          <span *ngIf="story.story_status == 6">Cancelled </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="lbl">
          <ion-icon src="assets/images/Icons_Followup.svg"></ion-icon>&nbsp;Follow-up
        </ion-col>
        <ion-col class="value">{{request.num_hours_followup_interval}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="lbl">
          <ion-icon src="assets/images/Icon_Date_Compensation.svg"></ion-icon> &nbsp;Compensation
        </ion-col>
        <ion-col class="value">{{request.request_compensation}}</ion-col>
      </ion-row>
    </ion-grid>

    <div class="desc">
      <h2>Job Description</h2>
      <p [innerHtml]="request.request_job_description"></p>
    </div>

    <div class="requested-by">
      Requested <ng-container *ngIf="request.contact">by <span class="requested-by-staff" tappable
          [routerLink]="'/company-contact-view/' + request.contact_uuid">{{ request.contact.contact_name }}</span>
        on {{ request.request_created_datetime | timeAgo }}
      </ng-container>
    </div>
  </div>
  <div class="container" *ngIf="request && story && segment == 'update'">
    <h2>Recent Updates ({{story.storyActivities.length}})</h2>

    <ng-container *ngIf="story.storyActivities && story.storyActivities.length > 0">

      <ion-card *ngFor="let activity of story.storyActivities" class="activity-list">
        <ion-card-content>
          <p class="activity"><span *ngIf="activity.staff">{{activity.staff.staff_name}}</span> has worked on story
            <span>{{activity.activity_created_at | timeAgo}}</span> on <span>{{activity.activity_created_at |
              date}}</span></p>

          <ion-badge>Time Spent : {{activity.activity_time_spent | timeSpent}}</ion-badge>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
  <div class="container" *ngIf="request && story && segment == 'invited'">
    <h2>Invited Candidates</h2>
    <no-items message="~ No Invitations ~" *ngIf="allInvitedCandidates.length == 0"></no-items>
    <invitation *ngFor="let invitation of allInvitedCandidates" (onUpdate)="loadData()" [model]="invitation"></invitation>
  </div>
  <div class="container" *ngIf="request && story && segment == 'suggestion'">
    <h2>Suggested Candidates</h2>
    <no-items message="~ No suggestion ~" *ngIf="allSuggestions.length == 0"></no-items>
    <suggestion *ngFor="let suggestion of allSuggestions" [model]="suggestion" [showBadge]="false"></suggestion>
  </div>

</ion-content>
<ion-footer class="ion-text-center clear-header" *ngIf="story">
  <ion-grid class="container">
    <ion-row>
      <ion-col *ngIf="authService && story.story_status == 1 && story.request && ['cancelled', 'delivered'].indexOf(story.request.request_status) == -1">
        <ion-button class="invite-btn" (click)="showCandidates()">
          Invite Candidates
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          *ngIf="story.story_status == 0  && story.request && ['cancelled', 'delivered'].indexOf(story.request.request_status) == -1"
          class="start-btn" (click)="changeStoryStatus(1)">
          Start Work
        </ion-button>
        <ion-button *ngIf="story.request && ['cancelled', 'delivered'].indexOf(story.request.request_status) == -1 && story.story_status == 1 && story.staff_id == authService.staff_id && allSuggestions.length == 0"
                    class="stop-btn" fill="outline" (click)="closeStoryConfirmation()">
          <ion-label>
            Stop Work &nbsp;&nbsp;
            <span class="timer ion-text-center">
                {{ story.story_last_updated_at | timer }}
            </span>
          </ion-label>
        </ion-button>

        <ion-button *ngIf="story.request && story.story_status < 3 && allSuggestions && allSuggestions.length > 0"
                    class="stop-btn delivery" fill="outline" (click)="changeStoryStatus(3)">
          <ion-label>
            Delivery Story
            <span class="timer ion-text-center">
                {{ story.story_last_updated_at | timer }}
            </span>
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
