ion-toolbar h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #23233d;
  margin:2px 20px;
}
.company-name {
  flex-grow: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #3f5dca;
  margin:2px 20px;
}
ion-icon[name='checkmark-outline'] {
  background: #2CB564;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
}

ion-icon[name='close-outline'] {
  background: #2CB564;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
}
ion-content {
  background: #f7f8fa;
  --background: #f7f8fa;
  --padding-bottom: 200px;
}

ion-segment {
  ion-segment-button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #68687a;
    text-transform: inherit;
    min-width: 74px;
  }

  ion-segment-button.segment-button-checked {
    font-weight: 600;
    color: #263879;
    --indicator-color	:#263879;
    --border-color	:#263879;
  }
}

h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #23233d;
}

ion-badge {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #68687a;
  margin-right: 5px;
  margin-bottom: 8px;
}

ion-col.lbl{
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #68687a;
  text-transform: uppercase;
  padding-left: 23px;
  ion-icon {
    position: absolute;
    left: 0;
    font-size: 24px;
  }
}
ion-col.value {
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #4b4b61;
}
p {
   font-family: Inter;
   font-size: 16px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: normal;
   text-align: left;
   color: #4b4b61;
}
.requested-by {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #68687a;
  .requested-by-staff{
    color:#4c70f2
  }
}
.start-btn {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #219653;
  --background: #219653;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
  --border-radius: 12px;
  text-transform: inherit;
  margin-top: 0;
  --box-shadow: none;
}
.view-request-btn {
  width: 136px;
  height: 56px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 15px;
  --border-radius: 12px;
  text-transform: inherit;
}
.stop-btn {
  width:100%;
  height: 56px;
  flex-grow: 0;
  margin-bottom: 15px;
  --border-radius: 12px;
  text-transform: inherit;
  --border-color:#eb5757;
  color:#eb5757;
  --color:#eb5757;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top:0;
  --box-shadow: none;
}
.footer::before ,
.footer-md::before {
  background-image: none;
}

ion-footer {
  --background: #f7f8fa;
  background: #f7f8fa;
  //position: fixed;
  //bottom: 0;
  //min-height: 104px;
  //padding: 24px 24px 9px 24px;
  //width: 100%;
  //left: 0;
  padding: 0 28px;

  ion-grid, ion-col, ion-row {
    padding: 0;
    margin: 0;
  }
}

.invite-btn {
  width: 100%;
  height: 56px;
  margin: 0 0 12px;
  --border-radius: 12px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: inherit;
  --box-shadow: none;
}
.activity {
  font-family: Inter;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  font-weight: normal;
  color: #4b4b61;
  span {
    color: #23233d;
    //font-weight: 600;
  }
}
ion-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin:12px 0;
  ion-card-content {
    ion-badge {
      border-radius: 8px;
      background-color: #f5f5f7;
      margin:18px 0 0 0;
    }
  }
}
.title-name p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #3f5dca;
  margin: 0 20px;
}
.stop-btn.delivery {
  --border-color: #4c70f2;
  color: #4c70f2;
  --color: #4c70f2;
  margin-top:0;
}
.timer{
  font-size: 14px;
  margin-left: 16px;
}
.no-invi{
  margin-top: 50px;
  p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #68687a;
  }
}

.count {
  color: #7d7d8d;
}

.post-update-btn {
  width: calc(100% - 13px);
  height: 56px;
  margin: 0 0 12px;
  --border-radius: 12px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  text-transform: inherit;
  float: left;
}
