<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ candidate.candidate_name }}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="update()">
        Update
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Id</h5>
  <p>{{ candidate.candidate_id }}</p>

  <h5>Candidate</h5>
  <p>{{ candidate.candidate_name }}</p>

  <h5>Email</h5>
  <p>{{ candidate.candidate_email }}</p>

  <h5>Status</h5>
  <p>{{ candidate.candidate_status }}</p>

  <h5>Created at</h5>
  <p>{{ candidate.candidate_created_at }}</p>

  <h5>Updated at</h5>
  <p>{{ candidate.candidate_updated_at }}</p>

  <span *ngIf="candidate.store_id">
    <h5>Candidate Assigned to</h5>
  <p>{{ candidate.store_name }}</p>
    </span>


  <span *ngIf="!candidate.store_id">
    <button ion-button full (click)="assignCandidateToStore()">Assign Candidate to Store</button>
  </span>

  <span *ngIf="candidate.store_id">
    <button ion-button full color="danger" (click)="unAssigning(candidate.candidate_id)">Unassign candidate from {{ candidate.store_name }}</button>
   
  </span>

</ion-content>
