<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-back-button defaultHref="/"></ion-back-button>
     
    </ion-buttons>

    <ion-title>Company followups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item tappable *ngFor="let company of companies" (click)="rowSelected(company)">
      <div tabindex="0"></div>
      <ion-avatar slot="start">
        <img *ngIf="company.company_logo" src="{{ aws.cloudinaryUrl + company.company_logo }}" (error)="loadLogo(company)">
        <img *ngIf="!company.company_logo" src="/assets/icon/icon.png">
      </ion-avatar>

      <ion-label>
        <h3>{{ company.company_name }}</h3>
        <p>@ {{ toDate(company.company_last_followup_datetime) | date: 'MMM d, y, h:mm:ss a' }}</p>
        <p>{{ company.company_last_followup_datetime | timeAgo }}</p>
      </ion-label>

      <ng-container *ngIf="platform.width() > 450">
        <ion-badge slot="end" *ngIf="company.total_candidates > 0">
          {{ company.total_candidates }} candidates
        </ion-badge>
        <ion-badge slot="end" *ngIf="company.subCompanies && company.subCompanies.length > 0">
          {{ company.subCompanies.length }} sub-companies
        </ion-badge>
        <ion-badge slot="end" *ngIf="company.stores.length > 0">
          {{ company.stores.length }} stores
        </ion-badge>
      </ng-container>

      <ng-container *ngIf="platform.width() <= 449">
        <div slot="end" class="end">
          <ion-badge *ngIf="company.total_candidates > 0">
            {{ company.total_candidates }} candidates
          </ion-badge>
          <ion-badge  *ngIf="company.subCompanies && company.subCompanies.length > 0">
            {{ company.subCompanies.length }} sub-companies
          </ion-badge>
          <ion-badge *ngIf="company.stores.length > 0">
            {{ company.stores.length }} stores
          </ion-badge>
        </div>
      </ng-container>
    </ion-item>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
