<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/tasks"></ion-back-button>
    </ion-buttons>

    <ion-title>Company followups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <app-company [company]="company" *ngFor="let company of companies" page="follow" (click)="rowSelected(company)"></app-company>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </div>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
