<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Company Request List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filter by</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="primary" position="stacked">Company name</ion-label>
              <ion-input type="text" placeholder="Enter Company Name" [(ngModel)]="filters.companyName"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="primary" position="stacked">Transfer Status</ion-label>
              <ion-select [(ngModel)]="filters.requestStatus">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option value="pending">Pending</ion-select-option>
                <ion-select-option value="started">Started</ion-select-option>
                <ion-select-option value="delivered">Delivered</ion-select-option>
                <ion-select-option value="cancelled">Cancelled</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="primary">Start Date</ion-label>
              <app-date-dropdown pickerFormat="DD MMMM YYYY" displayFormat="DD MMMM YYYY" [min]="min" [max]="max"
                                 placeholder="DD/MM/YYYY" [(ngModel)]="filters.startDate"></app-date-dropdown>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="primary">End Date</ion-label>
              <app-date-dropdown pickerFormat="DD MMMM YYYY" displayFormat="DD MMMM YYYY" [min]="min" [max]="max"
                                 placeholder="DD/MM/YYYY" [(ngModel)]="filters.endDate"></app-date-dropdown>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-header>
      <ion-button (click)="list(1);">Submit</ion-button>
      <ion-button (click)="resetFilter();" color="secondary">Reset</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <request-listing *ngFor="let request of requests" tappable [routerLink]="'/request-view/' + request.request_uuid"
                     [request]="request" [showStatus]="false" [state]="{from: 'company-request-list'}"></request-listing>
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
