<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">

    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/view/company-request-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title  *ngIf="request && !loading">{{request.request_position_title}}</ion-title>
    <ion-buttons slot="end" *ngIf="request && !loading">
      <ion-button fill="clear" class="btn-actions" (click)="openPopover($event)">
        <ion-icon class="setting-icon" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="container">
    
    <ion-segment mode="md" *ngIf="!platform.is('mobile')" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">

      <ion-segment-button mode="md" value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="activities">
        <ion-label>Updates</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="stories">
        <ion-label>Stories</ion-label>
      </ion-segment-button>

      <!--
      <ion-segment-button mode="md" value="matches"  *ngIf="request && request.request_position_type == 2">
        <ion-label>Matches</ion-label>
      </ion-segment-button>-->

      <ion-segment-button mode="md" value="invited"  *ngIf="request && request.request_position_type == 2">
        <ion-label>Invited <ion-chip *ngIf="request">{{ allInvitedCandidates.length }}</ion-chip></ion-label>
      </ion-segment-button>

      <!--
      <ion-segment-button mode="md" value="applied" *ngIf="request && request.request_position_type == 2">
        <ion-label>Applied <ion-chip *ngIf="request">{{ applicationTotal }}</ion-chip></ion-label>
      </ion-segment-button>-->

      <ion-segment-button mode="md" value="suggested">
        <ion-label>Suggested <ion-chip *ngIf="request">{{ Stotal }}</ion-chip></ion-label>
      </ion-segment-button>

    </ion-segment>

    <ion-select *ngIf="platform.is('mobile')" interface="popover" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-select-option value="details">Details</ion-select-option>
      <ion-select-option value="activities">Updates</ion-select-option>
      <ion-select-option value="stories">Stories</ion-select-option>
      <ng-container *ngIf="request && request.request_position_type == 2">
          
          <!--<ion-select-option value="matches">Matches</ion-select-option>-->

          <ion-select-option value="invited">
            Invited 
          </ion-select-option>
          <!--<ion-select-option value="applied">
            Applied 
          </ion-select-option>-->
      </ng-container>
      <ion-select-option value="suggested">
        Suggested 
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="container">

    <!--
    <ion-button *ngIf="request && (request.request_status == 'started' || request.request_status == 'pending')"
                class="btn-cv-search" routerLink="/view/candidate-search">
      {{"CV Search: Invite candidates to apply for this position"}}
    </ion-button>

    <ion-button (click)="assign()" class="pull-right" *ngIf="authService.role == 1 && request && !request.staff">
      Assign staff
    </ion-button>-->

    <div *ngIf="request && segment == 'details'">
      <h2>Job Details</h2>
      
      <ion-badge *ngIf="request.nationality">{{ request.nationality.country_nationality_name_en }}</ion-badge>

      <ion-badge *ngIf="request.gender == 0">{{ "Any gender" | translate }}</ion-badge>
      <ion-badge *ngIf="request.gender == 1">Male</ion-badge>
      <ion-badge *ngIf="request.gender == 2">Female</ion-badge>
      <ion-badge *ngIf="request.gender == 3">Othe gender</ion-badge>

      <ion-badge *ngIf="request.request_position_type == 1">Full-time</ion-badge>
      <ion-badge *ngIf="request.request_position_type == 2">Part-time</ion-badge>
      
      <ion-badge *ngIf="request.request_location">{{request.request_location}}</ion-badge>
      
      <!-- for old requests -->
      <ng-container *ngIf="request.storyOwners.length == 0">
        <ion-badge *ngFor="let staff of request.staffs">
          {{ staff.staff_name }}
        </ion-badge>
      </ng-container>

      <ion-badge *ngFor="let staff of request.storyOwners">
        {{ staff.staff_name }}
      </ion-badge>

      <ion-grid>
        <ion-row>
          <ion-col class="lbl">
            <ion-icon src="assets/images/Icon_Status.svg"></ion-icon>&nbsp;Status
          </ion-col>
          <ion-col class="value">
            <span *ngIf="request.request_status == 'pending'"> Unstarted </span>
            <span *ngIf="request.request_status == 'started'"> Started </span>
            <span *ngIf="request.request_status == 'delivered'"> Delivered </span>
            <span *ngIf="request.request_status == 'cancelled'"> Cancelled </span>
            <span *ngIf="request.request_status == 'finished_by_recruitment'"> Finished by recruitment </span>
            <span *ngIf="request.request_status == 're_work'">Re-work </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="lbl">
            <ion-icon src="assets/images/icon-followup.svg"></ion-icon>&nbsp;Follow-up
          </ion-col>
          <ion-col class="value">{{request.num_hours_followup_interval}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="lbl">
            <ion-icon src="assets/images/Icon_Date_Compensation.svg"></ion-icon> &nbsp;Compensation
          </ion-col>
          <ion-col class="value">{{request.request_compensation}}</ion-col>
        </ion-row>
      </ion-grid>

      <div class="desc">

        <p tappable [routerLink]="['/company-view/' +  request.company.company_id]">
          {{ request.company.company_common_name_en? request.company.company_common_name_en: request.company.company_name }}
          <ion-icon name="checkmark-outline"  *ngIf="request.company && request.company.company_approved_to_hire"></ion-icon>
          <ion-icon name="close-outline"  *ngIf="request.company && !request.company.company_approved_to_hire"></ion-icon>
        </p>

        <h2>Job Description</h2>
        <p [innerHtml]="request.request_job_description"></p>

        <h2>Additional Info</h2>
        <p [innerHtml]="request.request_additional_info"></p>

        <p class="txt-additional-info">
          {{ request.no_of_employees_per_story }} no of employees per story<br/>
          {{ request.request_number_of_employees }} Total Requested Employee
        </p>

        <h2>Skills</h2>
        <ion-badge *ngFor="let requestSkill of request.requestSkills">
          {{ requestSkill.skill }}
        </ion-badge>

      </div>

      <div class="requested-by">
        Requested <ng-container *ngIf="request.contact">by <span class="requested-by-staff" tappable
            [routerLink]="'/company-contact-view/' + request.contact_uuid">{{ request.contact.contact_name }}</span>
          on {{ request.request_created_datetime | timeAgo }}
        </ng-container>
      </div>
    </div>

    <div *ngIf="segment == 'activities'" class="activity-container">

      <h2>Recent Updates <span class="count">({{ requestActivities.length}})</span></h2>

      <ng-container *ngFor="let requestActivity of requestActivities">
        <app-recent-activity tappable [routerLink]="'/note-view/' + requestActivity.note_uuid" [activity]="requestActivity"></app-recent-activity>
      </ng-container>
    </div>

    <div *ngIf="segment == 'stories' && request && request.stories">

      <h2>Stories <span class="count">({{ request.stories.length}})</span></h2>

      <app-story-item *ngFor="let story of request.stories" [story]="story" [request]="request"
        (click)="storySelected(story)"></app-story-item>

    </div>

    <div *ngIf="segment == 'applied'" class="match-wrapper">

      <div *ngIf="!loadingApplications && candidateApplications.length == 0" class="ion-text-center no-invi">
        <img src="assets/images/no-invitation.png"/>
        <p class="ion-text-center">No applications received yet!</p>
      </div>
      
      <candidate tappable (click)="candidateSelected(candidateApplication.candidate)" 
        [candidate]="candidateApplication.candidate" 
        [application]="candidateApplication"
        *ngFor="let candidateApplication of candidateApplications">
      </candidate>
  
      <ion-infinite-scroll *ngIf="applicationCurrentPage < applicationPageCount" (ionInfinite)="doInfiniteApplications($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="segment == 'matches'" class="match-wrapper">

      <div *ngIf="!loadingMatched && matchedCandidates.length == 0" class="ion-text-center no-invi">
        <img src="assets/images/no-invitation.png"/>
        <p class="ion-text-center">There are no matched found, please search manually!</p>
      </div>
      
      <candidate tappable (click)="candidateSelected(candidate)" [candidate]="candidate" 
        *ngFor="let candidate of matchedCandidates">
      </candidate>

      <ion-infinite-scroll *ngIf="McurrentPage < MPageCount" (ionInfinite)="doInfiniteMatched($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    
    <div *ngIf="segment == 'invited'">

      <div *ngIf="allInvitedCandidates.length == 0" class="ion-text-center no-invi">
        <img src="assets/images/no-invitation.png"/>
        <p class="ion-text-center">There are no invited candidates!</p>
      </div>

        <div *ngIf="allInvitedCandidates.length > 0">
          <h4 class="txt-suggested-candidates">Invited Candidates <span class="count">({{ Itotal }})</span></h4>

          <invitation *ngFor="let invitation of allInvitedCandidates" [model]="invitation"></invitation>
        </div>

<!--        <div *ngIf="rejectedCandidates.length > 0">-->
<!--          <h4 class="txt-suggested-candidates">Rejected Invitations by Candidates <span class="count">({{ rejectedCandidates.length }})</span></h4>-->

<!--          <invitation *ngFor="let invitation of rejectedCandidates" [model]="invitation"></invitation>-->
<!--        </div>-->

<!--        &lt;!&ndash; - ability to move to suggestion &ndash;&gt;-->

<!--        <div *ngIf="acceptedInvitations.length > 0">-->
<!--          <h4 class="txt-suggested-candidates">Accepted Invitations by Candidates <span class="count">({{ acceptedInvitations.length }})</span></h4>-->

<!--          <invitation *ngFor="let invitation of acceptedInvitations" (onUpdate)="onInvitationUpdated()" [model]="invitation"></invitation>-->
<!--        </div>-->
      <ion-infinite-scroll *ngIf="IcurrentPage < IPageCount" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="segment == 'suggested'">

      <div *ngIf="allSuggestions.length == 0" class="ion-text-center no-invi">
        <img src="assets/images/no-invitation.png"/>
        <p class="ion-text-center">There are no suggested candidates!</p>
      </div>

        <div>
          <div *ngIf="allSuggestions.length > 0">
            <h4 class="txt-suggested-candidates">Suggested Candidates <span class="count">({{ Stotal }})</span></h4>

            <suggestion tappable [routerLink]="'/suggestion-view/' + suggestion.suggestion_uuid" (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of allSuggestions" [model]="suggestion"></suggestion>
          </div>

<!--          <div *ngIf="rejectedSuggestions.length > 0">-->
<!--            <h4 class="txt-suggested-candidates">Rejected Suggestions <span class="count">({{ rejectedSuggestions.length }})</span></h4>-->

<!--            <suggestion tappable [routerLink]="'/suggestion-view/' + suggestion.suggestion_uuid" (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of rejectedSuggestions" [model]="suggestion"></suggestion>-->
<!--          </div>-->

<!--          <div *ngIf="acceptedSuggestions.length > 0">-->
<!--            <h4 class="txt-suggested-candidates">Accepted Suggestions <span class="count">({{ acceptedSuggestions.length }})</span></h4>-->

<!--            <suggestion tappable [routerLink]="'/suggestion-view/' + suggestion.suggestion_uuid" (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of acceptedSuggestions" [model]="suggestion"></suggestion>-->
<!--          </div>-->
        </div>

      <ion-infinite-scroll *ngIf="ScurrentPage < SPageCount" (ionInfinite)="doInfiniteSuggestion($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="request && (request.request_status == 'started' || request.request_status == 'pending' || request.request_status == 'finished_by_recruitment' || request.request_status == 're_work') && authService.role">
  <ion-grid class="container">
    <ion-row>
      <ion-col size-xs="6" size-md="6" size-lg="6" *ngIf="segment == 'details' && request.request_status != 'finished_by_recruitment' && (authService.role && authService.role < 4)" >
        <ion-button class="btn-update" (click)="update()">
          Edit Request
        </ion-button>
      </ion-col>
      <ion-col size-xs="6" size-md="6" size-lg="6" *ngIf="segment == 'activities'">
        <ion-button class="btn-post-update" (click)="showUpdateAlert()">
          Post update
        </ion-button>
      </ion-col>

      <ion-col size-xs="6" size-md="6" size-lg="6" *ngIf="request.request_status == 'finished_by_recruitment'" >
        <ion-button class="btn-update" (click)="deliveredRequest($event, request)">
          Mark delivered
        </ion-button>
      </ion-col>
      <ion-col  size-xs="6" size-md="6" size-lg="6" *ngIf="(request.request_status != 'delivered' && request.request_status != 'finished_by_recruitment')" >
        <ion-button  class="btn-update" (click)="statusUpdate($event, 'finished_by_recruitment')">
          Finished by recruitment
        </ion-button>
      </ion-col>
      <ion-col size-xs="6" size-md="6" size-lg="6" *ngIf="request.request_status == 'finished_by_recruitment' || request.request_status == 'delivered'" >
        <ion-button  class="btn-update" (click)="statusUpdate($event, 're_work')">
          Re-work
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<div class="update-alert" dir="ltr" *ngIf="alertRequestUpdated && !this.loading">
  <span class="wrapper">
      <span class="title">Requests updated</span>
      <span class="btn-refresh">
          &nbsp;
          <span class="ag a8k" tabindex="0" role="link" tappable (click)="loadDetail()">
            Refresh
          </span>
      </span>
  </span>
  <div tabindex="0" role="button" class="btn-close" tappable (click)="closeAlert()">
      <ion-icon name="close"></ion-icon>
  </div>
</div>
