<ion-header mode="md" [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()" class="btn-close">
        <ion-icon src="assets/images/ic_cancel.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-button fill="clear" (click)="cancelledRequest($event, request)" slot="end" class="btn-cancel"
      *ngIf="request && request.request_status == 'started' && request.request_created_by == authService.staff_id">
      Cancel Request
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <loading-modal [loading]="loading" type="request-detail"></loading-modal>

  <div *ngIf="request && !loading">

    <h3 class="request" [class.pending]="request.request_status == 'pending'"
      [class.active]="request.request_status == 'started'"
      [class.completed]="request.request_status == 'delivered'"
      [class.cancelled]="request.request_status == 'cancelled'">
      <!-- pending request -->
      <span *ngIf="request.request_status == 'pending'">Pending</span>
      <span *ngIf="request.request_status == 'started'">Started</span>
      <span *ngIf="request.request_status == 'delivered'">Delivered</span>
      <span *ngIf="request.request_status == 'cancelled'">Cancelled</span>
    </h3>

    <ion-grid>
      <ion-row>
        <ion-col size-md="4" size-sm="6" size-lg="3" size-xs="12">
          <strong>Title</strong> : {{ request.request_position_title }}
        </ion-col>
        <ion-col size-md="4" size-sm="6" size-lg="3" size-xs="12">
          <strong>Employees</strong> : {{ request.request_number_of_employees }}
        </ion-col>

        <ion-col size-md="4" size-sm="6" size-lg="3" size-xs="12">
          <strong>Type</strong> :
          <span *ngIf="request.request_position_type == 1">Fulltime</span>
          <span *ngIf="request.request_position_type == 2">Partime</span>
        </ion-col>
        <ion-col size-md="4" size-sm="6" size-lg="3" size-xs="12">
          <strong>Info</strong> :
          <span *ngIf="request.request_additional_info">{{ request.request_additional_info }} </span>
        </ion-col>
        <ion-col size-md="4" size-sm="6" size-lg="3" size-xs="12">
          <strong>Company</strong> : {{ request.company.company_name }}
        </ion-col>
        <ion-col size-md="4" size-sm="6" size-lg="3" size-xs="12">
          <strong>Contact</strong> : {{ request.contact.contact_name }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="grid-invoice">

      <ion-row *ngIf="requestActivities && requestActivities.length > 0">
        <ion-col size="12" size-md="12">
          <h4 class="txt-invoice activity">Activity</h4>
          <ng-container *ngIf="requestActivities.length > 0">
            <app-recent-activity [activity]="requestActivity" *ngFor="let requestActivity of requestActivities"></app-recent-activity>
          </ng-container>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div *ngIf="suggestedSuggestions.length > 0">
      <h4>Suggestions <ion-badge color="primary">{{ suggestedSuggestions.length }}</ion-badge></h4>

      <suggestion (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of suggestedSuggestions" [model]="suggestion"></suggestion>
    </div>
    
    <div *ngIf="acceptedSuggestions.length > 0">
      <h4>Accepted Suggestions <ion-badge color="success">{{ acceptedSuggestions.length }}</ion-badge></h4>

      <suggestion (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of acceptedSuggestions" [model]="suggestion"></suggestion>
    </div>
    
    <div *ngIf="rejectedSuggestions.length > 0">
      <h4>Rejected Suggestions <ion-badge color="light">{{ rejectedSuggestions.length }}</ion-badge></h4>

      <suggestion (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of rejectedSuggestions" [model]="suggestion"></suggestion>
    </div>

  </div>

</ion-content>

<ion-footer *ngIf="request">
    <ion-button  *ngIf="request.request_status == 'pending'" (click)="startRequest($event, request)">
      Start working on this request
    </ion-button>
  <ng-container>
    <ion-grid *ngIf="request.request_status == 'started'">
      <ion-row>
        <ion-col size-xs="6">
          <ion-button (click)="showUpdateAlert()">
            Post an update
          </ion-button>
        </ion-col>
        <ion-col size-xs="6"  *ngIf="request.staff_id == authService.staff_id">
          <ion-button *ngIf="request.request_status == 'started'" (click)="deliveredRequest($event, request)">
            Mark delivered
          </ion-button>
        </ion-col>
        <ion-col size-xs="6"  *ngIf="request.staff_id != authService.staff_id">
          <ion-button *ngIf="request.request_status == 'started'" (click)="pickUpRequest($event, request)">
            Pick up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-footer>
