<ion-header mode="md" [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/ic_cancel.svg" defaultHref="/view/tasks"></ion-back-button>
    </ion-buttons>

    <ion-button fill="clear" (click)="cancelledRequest($event, request)" slot="end" class="btn-cancel"
      *ngIf="request && request.request_status == 'started'">
      Cancel Request
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <loading-modal [loading]="loading" type="request-detail"></loading-modal>

    <div *ngIf="request && !loading">

      <ion-badge slot="end" color="success" *ngIf="request.company && request.company.company_approved_to_hire">
        <ion-icon name="checkmark-outline"></ion-icon> Approved to hire
      </ion-badge>
      
      <ion-badge slot="end" color="warning" *ngIf="request.company && !request.company.company_approved_to_hire">
        <ion-icon name="close-outline"></ion-icon> Not approved to hire
      </ion-badge>
  
      <h4 class="company-name" tappable [routerLink]="'/company-view/' + request.company_id">
        {{ request.company.company_common_name_en? request.company.company_common_name_en: request.company.company_name }}
      </h4>

      <p class="txt-looking" *ngIf="request.request_status == 'started'">is looking for </p>
      <p class="txt-looking" *ngIf="request.request_status != 'started'">was looking for </p>

      <b class="requirement">
        {{ request.request_number_of_employees }}
        <span *ngIf="request.request_position_type == 1">Full-time</span>
        <span *ngIf="request.request_position_type == 2">Part-time</span>
        {{ request.request_position_title }}
      </b>

      <p class="txt-additional-info">{{ request.request_additional_info }}</p>

      <p class="txt-additional-info" *ngIf="request.request_location">
        {{ request.request_location }}
      </p>

      <p class="txt-additional-info">{{ request.request_job_description }}</p>
      <p class="txt-additional-info">{{ request.request_compensation }}</p>

      <div class="requested-by">
        Requested <ng-container *ngIf="request.contact">by <span class="requested-by-staff" tappable [routerLink]="'/company-contact-view/' + request.contact_uuid">{{ request.contact.contact_name }}</span></ng-container>
        <div class="requested-by-time">on {{ toDate(request.request_created_datetime) | date: 'MMM d, y' }} </div>
      </div>

      <h4 class="txt-activities">Recent Activity</h4>

      <div class="activity-container">

        <ng-container *ngFor="let requestActivity of requestActivities;let i = index;">
          <app-recent-activity tappable [routerLink]="'/note-view/' + requestActivity.note_uuid" [activity]="requestActivity" *ngIf="activityExpanded || i < 2"></app-recent-activity>
        </ng-container>

        <ion-button class="btn-view-notes" *ngIf="requestActivities.length > 2" (click)="toggleActivityExpanded()">
          <span *ngIf="!activityExpanded">View all {{ requestActivities.length }} notes</span>
          <span *ngIf="activityExpanded">Collapse</span>
        </ion-button>
      </div>
     
      <div *ngIf="invitedCandidates.length > 0">
        <h4 class="txt-suggested-candidates">Invited Candidates ({{ invitedCandidates.length }})</h4>

        <invitation *ngFor="let invitation of invitedCandidates" [model]="invitation"></invitation>
      </div>

      <div *ngIf="rejectedCandidates.length > 0">
        <h4 class="txt-suggested-candidates">Rejected Invitations by Candidates ({{ rejectedCandidates.length }})</h4>

        <invitation *ngFor="let invitation of rejectedCandidates" [model]="invitation"></invitation>
      </div>

      <!-- - ability to move to suggestion -->

      <div *ngIf="acceptedInvitations.length > 0">
        <h4 class="txt-suggested-candidates">Accepted Invitations by Candidates ({{ acceptedInvitations.length }})</h4>

        <invitation *ngFor="let invitation of acceptedInvitations" (onUpdate)="onInvitationUpdated()" [model]="invitation"></invitation>
      </div>

      <div *ngIf="suggestedSuggestions.length > 0">
        <h4 class="txt-suggested-candidates">Suggested Candidates ({{ suggestedSuggestions.length }})</h4>

        <suggestion tappable [routerLink]="'/suggestion-view/' + suggestion.suggestion_uuid" (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of suggestedSuggestions" [model]="suggestion"></suggestion>
      </div>

      <div *ngIf="rejectedSuggestions.length > 0">
        <h4 class="txt-suggested-candidates">Rejected Suggestions ({{ rejectedSuggestions.length }})</h4>

        <suggestion tappable [routerLink]="'/suggestion-view/' + suggestion.suggestion_uuid" (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of rejectedSuggestions" [model]="suggestion"></suggestion>
      </div>

      <div *ngIf="acceptedSuggestions.length > 0">
        <h4 class="txt-suggested-candidates">Accepted Suggestions ({{ acceptedSuggestions.length }})</h4>

        <suggestion tappable [routerLink]="'/suggestion-view/' + suggestion.suggestion_uuid" (onUpdate)="onSuggestionUpdate()" *ngFor="let suggestion of acceptedSuggestions" [model]="suggestion"></suggestion>
      </div>
      
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="request && request.request_status == 'started'">

  <ion-grid class="container">
    <ion-row>
      <ion-col size-xs="6">
        <ion-button (click)="showUpdateAlert()">
          Post an update
        </ion-button>
      </ion-col>
      <ion-col size-xs="6">
        <ion-button *ngIf="request.request_status == 'started'" (click)="deliveredRequest($event, request)">
          Mark delivered
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
