<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transfer
      <span *ngIf="transferDetails?.company_total">
        - KWD {{ transferDetails.company_total | number:'1.0-3' }}
      </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="transferDetails && transferDetails.transfer_status==10">
      <ion-button color="danger" *ngIf="transferDetails && (transferDetails.transfer_status==10)"
        (click)="delete(transferDetails)">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <loading-modal [loading]="loading" type="transfer-view"></loading-modal>

  <ng-container *ngIf="!loading">
    <div class="ion-text-center ion-padding" *ngIf="transferDetails">
      <h2 class="ion-text-center">
        {{transferStatus}}
      </h2>
      <div>{{transferStatusDescription}}</div>

      <section class="ion-padding" *ngIf="transferDetails">
        <!-- If Transfer Locked -->
        <ion-button fill="outline" (click)="paymentSent(transferDetails)"
          *ngIf="transferDetails && (transferDetails.transfer_status==5)">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          Mark Payment Sent
        </ion-button>

        <!-- If Transfer Draft -->
        <ion-button fill="outline" (click)="edit(transferDetails)"
          *ngIf="transferDetails && transferDetails.transfer_status==10">
          <ion-icon name="create" slot="start"></ion-icon>
          Edit Transfer
        </ion-button>
        <ion-button fill="outline" (click)="importTransfer(transferDetails)"
          *ngIf="transferDetails && (transferDetails.transfer_status==10)">
          <ion-icon name="create" slot="start"></ion-icon>
          Edit via Excel
        </ion-button>
        <ion-button fill="outline" (click)="transferLock(transferDetails)"
          *ngIf="transferDetails && (transferDetails.transfer_status==10)">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          Lock Transfer
        </ion-button>
      </section>
    </div>

    <div *ngIf="transferDetails">
      <ion-grid>
        <ion-row>
          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            <b>Transfer ID</b> <br /> {{ transferDetails.transfer_id}}
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            <b>Transfer Total</b> <br /> KWD {{ transferDetails.company_total | number:'1.0-3' }}
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            <b>Start Date</b> <br />
            <span *ngIf="transferDetails.start_date">{{ transferDetails.start_date | date}}</span>
            <span *ngIf="!transferDetails.start_date">-</span>
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            <b>End Date</b> <br />
            <span>{{ transferDetails.end_date | date}}</span>
            <span *ngIf="!transferDetails.end_date">-</span>
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            <b>Created on</b> <br /> {{ transferDetails.transfer_created_at}}
          </ion-col>
          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            <b>Updated on</b> <br /> {{ transferDetails.transfer_updated_at}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!--Invoices -->
    <div class="invoices" *ngIf="invoices.length > 0">
      <h4>Invoices</h4>
      <ion-list>
        <ion-item tappable *ngFor="let invoice of invoices" (click)="downloadInvoice(invoice)">
          <div tabindex="0"></div>
          <ion-label>
            Download Invoice #{{ invoice.invoice_id }} - KWD {{ invoice.invoice_total | number:'1.0-3' }}
            <small>{{ invoice.company.company_name }}</small>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Receipts -->
    <div class="receipts" *ngIf="receipts.length > 0">
      <h4>Receipts</h4>
      <ion-list>
        <ion-item tappable *ngFor="let receipt of receipts" (click)="downloadReceipt(receipt)">
          <div tabindex="0"></div>
          <ion-label>
            Download Receipt #{{ receipt.invoice_id }} - KWD {{ receipt.invoice_total | number:'1.0-3' }}<br />
            <small>{{ receipt.company.company_name }}</small>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Transfer Details made to each Candidate -->
    <ion-list *ngIf="transferDetails">
      <!-- store_name pipe returns the transferCandidates grouped by store as object of following format: -->
      <!-- {name: string, resources: TransferCandidate[]} -->
      <ion-item-group *ngFor="let group of transferDetails.transferCandidates | store_name">
        <ion-item-divider><b>{{group.name}}</b></ion-item-divider>

        <ion-item *ngFor="let resource of group.resources" tappable (click)="loadCandidateDetail(resource.candidate)"
          [class.zeroHours]="transferDetails && (transferDetails.transfer_status==10) && (resource.hours == 0)">
          <div tabindex="0"></div>

          <ion-avatar slot="start">
            <ion-img *ngIf="resource.candidate.candidate_personal_photo"
              src="{{ aws.cloudinaryUrl + resource.candidate.candidate_personal_photo }}"
              (ionError)="loadLogo($event,resource.candidate)"></ion-img>
            <ion-img *ngIf="!resource.candidate.candidate_personal_photo" src="/assets/icon/icon.png"></ion-img>
          </ion-avatar>

          <ion-label>
            <h2 class="candidate_name">{{ resource.candidate.candidate_name? resource.candidate.candidate_name: resource.candidate.candidate_name_ar }}</h2>

            <p *ngIf="resource.hours > 0">{{ resource.hours | number }} hours x KD
              {{ resource.company_hourly_rate | number }} per hour</p>
            <p *ngIf="resource.bonus">Bonus KD {{resource.bonus | number}}</p>
            <p><b>KD {{ total(resource) }}</b></p>

            <ion-badge slot="start" color="dark" *ngIf="resource.paid != '1' && resource.total_paid > 0 && (transferDetails.transfer_status==3 || transferDetails.transfer_status==4)">
              Transfer in progress
            </ion-badge>
          </ion-label>

          <ion-badge slot="end" color="secondary" *ngIf="resource.paid == '1' && resource.total_paid > 0 && (transferDetails.transfer_status==3 || transferDetails.transfer_status==4)">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-badge>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>
