<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <ion-grid *ngIf="statistics">
    <ion-row>
      
      <!-- New candidate id need to renew -->
      <ion-col col-12 col-md-6 *ngIf="statistics.id_expired && statistics.id_expired.length > 0">
        <ion-card>
          <ion-card-header>
            {{ statistics.id_expired.length }} - total candidate(s) ID Expired
          </ion-card-header>
          <ion-card-content>
            <p>You'll need to renew it</p>
            <button ion-button (click)="showExpiredIDs()">
              Show Expired IDs
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- New candidate id need to generate -->
      <ion-col col-12 col-md-6 *ngIf="statistics.id_need_generated && statistics.id_need_generated.length > 0">
        <ion-card>
          <ion-card-header>
            {{ statistics.id_need_generated.length }} candidates need new ID generated
          </ion-card-header>
          <ion-card-content>
            <p>You'll need to generate IDs for new candidates</p>
            <button ion-button (click)="showCandidatesRequireNewID()">
              Show Candidates require new ID
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <!-- Candidate Count Card -->
      <ion-col col-12 col-md-6>
        <ion-card>
          <ion-card-header>
            {{statistics.total_candidates_assigned}} candidates currently working
          </ion-card-header>
          <ion-card-content>
            <p>from a total of {{statistics.total_candidates}} registered candidates</p>
            <button ion-button (click)="showAssignedCandidates()">
              Show Candidates Assigned to Companies 
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Candidate Count Card -->
      <ion-col col-12 col-md-6>
        <ion-card>
          <ion-card-header>
            {{statistics.total_candidates_unassigned}} candidates not assinged to companies 
          </ion-card-header>
          <ion-card-content>
            <p>from a total of {{statistics.total_candidates}} registered candidates</p>
            <button ion-button (click)="showNotAssignedCandidates()">
              Show Candidates Not Assigned
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
