<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngIf="statistics">
    <ion-card-header>
      Statistics
    </ion-card-header>

    <ion-list>
      <button ion-item *ngIf="statistics.id_expired && statistics.id_expired.length > 0">
        {{ statistics.id_expired.length }} - ID Expired
      </button>

      <button ion-item *ngIf="statistics.id_need_generated && statistics.id_need_generated.length > 0">
        {{ statistics.id_need_generated.length }} - ID Need Generated
      </button>

      <button ion-item>
        {{ statistics.total_candidates }} - Total Candidates
      </button>

      <button ion-item>
        {{ statistics.total_candidates_assigned }} - Total Candidates Assigned
      </button>

      <button ion-item>
        {{ statistics.total_candidates_unassigned }} - Total Candidates Unassigned
      </button>

    </ion-list>
  </ion-card>

  <ion-card *ngIf="statistics && statistics.id_expired.length > 0">
    <ion-card-header>
      ID Expired
      <ion-badge item-right>
          {{ statistics.id_expired.length }}
      </ion-badge>
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let id of statistics.id_expired">
        {{ id.candidate.candidate_name }} 
      </button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="statistics && statistics.id_need_generated.length > 0">
    <ion-card-header>
      ID Need Generated
      <ion-badge item-right>
          {{ statistics.id_need_generated.length }}
      </ion-badge>
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let candidate of statistics.id_need_generated">
        {{ candidate.candidate_name }} 
      </button>
    </ion-list>
  </ion-card>

</ion-content>
