ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 25px;
    --padding-bottom: 26px;
  }
  
  .btn-close {
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    margin: 0;
    height: auto;
  }
  
  h3 {
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 55px;
  }
  
  ion-input {
    height: 73px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #000;
    border: 4px solid #BDBDBD;
    border-radius: 10px;
    --padding-top: 24px;
    --padding-start: 18px;
    --padding-end: 18px;
    --placeholder-color: #828282;
    --background: #fff;
    background: #fff;
    --padding-bottom: 24px;
    margin-bottom: 17px;
  }
  
  .btn-signup {
    width: 100%;
    height: 53px;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    --background: #000000;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 24px;
    border-radius: 22px;
    --border-radius: 22px;
    --box-shadow: none;
  }
  
  .btn-signup[disabled] {
    --background: #6B6B6B;
    color: #B4B4B4
  }
  
  .btn-signin {
    height: 84px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #BDBDBD;
    box-sizing: border-box;
    --border-radius: 22px;
    font-style: normal;
    font-size: 16px;
    line-height: 164.69%;
    text-align: center;
    color: #000000;
    --background: #fff;
    text-transform: none;
    --box-shadow: none;
  
    b {
      position: absolute;
      top: 20px;
      font-weight: bold;
    }
  
    span {
      position: absolute;
      top: 46px;
      font-weight: normal;
    }
  }
  
  .cancel-btn {
    display: block;
  }
  .cancel-btn.dark {
    display: none;
  }
  /*
  @media (prefers-color-scheme: dark) {
    .cancel-btn {
      display: none;
    }
    .cancel-btn.dark {
      display: block;
    }
    h3 {
      color: #fff;
    }
  
    ion-input {
      color: #000;
    }
  
    .btn-signup {
      color: #000000;
      --background: #fff;
    }
  
    .btn-signin {
      color: #fff;
      --border-width: 0;
      --background: #000000;
    }
  }
  */
.password_change_icon {
  position: absolute;
  bottom: 0;
  z-index: 111;
  opacity: 0.7;
  background: transparent;
  top: 15px;

  ion-icon {
    font-size: 22px;
    color: #000;
  }
}

.password_change_icon:focus {
  outline: none;
}

[dir="ltr"] .password_change_icon {
  right: 0;
}

[dir="rtl"] .password_change_icon {
  left: 0;
}

.password_field {
  position: relative;

  ion-input {
    --padding-end: 60px;
  }
}