<ion-content [attr.dir]="translateService.direction()">
  <div class="max-width">
    <ion-button fill="clear" (click)="dismiss()" class="btn-close">
      <img src="assets/images/ic_cancel.svg" />
    </ion-button>

    <h3>{{ "Type your new password" | translate }}</h3>

    <form [formGroup]="passwordForm" (ngSubmit)="save()" class="classicInput" novalidate>

      <div class="password_field">
        <ion-input type="{{ type }}" enterkeyhint='{{ "Submit" | translate }}' #inptPassword 
          formControlName="newPassword" placeholder="{{ 'New password' | translate }}"></ion-input>
        
        <ion-button  fill="clear" class="password_change_icon" (click)="showPassword()">
          <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
          <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
        </ion-button>
        
      </div>

      <ion-button class="btn-signup" [disabled]="!passwordForm.valid || isLoading" type="submit">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">{{ "Submit" | translate }}</span>
      </ion-button>
    </form>
  </div>
</ion-content>
