<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-left">Generate ID Card</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!form.valid && downloading" (click)="generate()">
        <span *ngIf="!downloading">Download Zip</span>
        <ion-spinner *ngIf="downloading"></ion-spinner>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-segment [(ngModel)]="cndSegment" (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button value="not-generated">
      Not Generated
    </ion-segment-button>
    <ion-segment-button value="generated">
      Already Generated
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar
    [(ngModel)]="searchBar"
    (ionChange) ="search()"
    debounce="200"
    animated="true"
  >
  </ion-searchbar>

  <form [formGroup]="form">
    <ion-list *ngIf="!loading">
      <ion-item *ngFor="let obj of candidatelistData; let i= index" [routerLink]="['/candidate-view',obj.candidate_id]">
        <div tabindex="0"></div>
        <ion-label class="candidate_name">{{ obj.candidate_name? obj.candidate_name: obj.candidate_name_ar }}</ion-label>
<!--        <ion-checkbox [(ngModel)]="candidates[i]" [ngModelOptions]="{standalone: true}"></ion-checkbox>-->
      </ion-item>
    </ion-list>
    <loading-modal [loading]="loading || loadingMore" type="text-list"></loading-modal>
    <no-items *ngIf="!loading && candidatelistData && candidatelistData.length == 0" message="No data available"></no-items>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </form>
</ion-content>
