ion-footer {
  ion-button {
    width: 48%;
    margin: 0 auto;
  }
}
ion-segment-button {
  --border-width:0;
}
ion-content, ion-list {
  background:var(--ion-color-custom-9);
  --background:var(--ion-color-custom-9);
}
ion-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);
  padding:0 34px;
}
h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);
  span {
    color:var(--ion-color-custom-7);
  }
}

ion-toolbar {
  --padding-bottom: 0;
  ion-button {
    ion-icon {
      color:var(--ion-color-custom-5);
    }
  }
}

.segment-button-checked {
  color: var(--ion-color-custom-44);
  font-weight: 600;
  --indicator-color: var(--ion-color-custom-44);
}
