<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/company-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="brand">{{ brand.brand_name_en }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <ion-list *ngIf="brand">

    <ion-item-divider color="light">
      <ion-label>
        Candidates &nbsp; <ion-badge color="dark" *ngIf="brand.candidates">{{ brand.candidates.length }}</ion-badge>
      </ion-label>
    </ion-item-divider>

    <candidate tappable (click)="rowSelected(candidate)" [candidate]="candidate" (refresh)="loadData()" *ngFor="let candidate of brand.candidates"></candidate>

    <ion-item-divider color="light">
      <ion-label>
        Stores &nbsp; <ion-badge color="dark" *ngIf="brand.stores">{{ brand.stores.length }}</ion-badge>
      </ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let store of brand.stores" (click)="storeSelected(store)">
      <div tabindex="0"></div>
      <ion-label>
        {{store.store_name}}
      </ion-label>
    </ion-item>
  </ion-list>

  <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

</ion-content>
