<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="options($event)"><ion-icon class="setting-icon" name="ellipsis-vertical-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="container">
    <ion-title *ngIf="brand">{{ brand.brand_name_en }}</ion-title>
  </ion-toolbar>

  <ion-toolbar class="container">
    <ion-segment (ionChange)="segmentChanged($event)" value="candidate" mode="md">
      <ion-segment-button value="candidate">
        <ion-label>Candidate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="store">
        <ion-label>Stores</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="brand">

      <div *ngIf="this.segment == 'candidate'">
        <h2>Candidates <span>({{ brand.candidates.length }})</span></h2>
          <candidate tappable (click)="rowSelected(candidate)" [candidate]="candidate" (refresh)="loadData()" *ngFor="let candidate of brand.candidates"></candidate>
      </div>
      <div *ngIf="this.segment == 'store'">
        <h2>Stores <span>({{ brand.stores.length }})</span></h2>
        <app-store [store]="store" [editIcon]="true" [locationLbl]="false" *ngFor="let store of brand.stores"></app-store>
      </div>
    </ion-list>
    <loading-modal [loading]="loading" type="candidate-list"></loading-modal>
  </div>
</ion-content>
