<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/company-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="store">{{ store.store_name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="update()">
        Update
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-progress-bar type="indeterminate" *ngIf="updating"></ion-progress-bar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <section *ngIf="store">
    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h3>Store Name</h3>
        <p>{{ store.store_name }}</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h3>Store Location</h3>
        <p *ngIf="store.store_location">{{ store.store_location }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h3>Brand Name</h3>
        <p *ngIf="store.brand">{{ store.brand.brand_name_en }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h3>Mall Name</h3>
        <p *ngIf="store.mall">{{ store.mall.mall_name_en }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>

      <ion-button *ngIf="!store.storeManager" (click)="selectStoreManager()">
        Select store manager
      </ion-button>

      <ion-label *ngIf="store.storeManager">
        <h4>{{ store.storeManager.contact_name }}</h4>
        <p>
          {{ store.storeManager.contact_position }}
        </p>
      </ion-label>

      <ion-buttons slot="end" *ngIf="store.storeManager">

        <ion-button color="primary" (click)="selectStoreManager()">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
        
        <ion-button color="danger" (click)="removeStoreManager()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </section>

  <ion-list *ngIf="store">

    <ion-item-divider color="light">
      <ion-label>
        Candidates &nbsp; <ion-badge color="dark" *ngIf="store.candidates">{{ store.candidates.length }}</ion-badge>
      </ion-label>
    </ion-item-divider>

    <candidate tappable (click)="candidateSelected(candidate)" [candidate]="candidate" (refresh)="loadData()" *ngFor="let candidate of store.candidates"></candidate>

  </ion-list>

  <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

</ion-content>
