image-upload {
    ion-card{height:80px; padding-top:10px; margin:0 auto; text-align:center;}
    ion-icon{display:block; font-size:2em;}
    ion-spinner{display:block; margin:0 auto;}
    img{max-height:30px; width: auto; margin:0 auto;}
}
