<ion-card (click)="openCandidatePage()" tappable>
  <ion-badge *ngIf="model.suggestion_status == 1">
    Suggested a candidate
  </ion-badge>
  <ion-badge *ngIf="model.suggestion_status == 3">
    Accepted a candidate
  </ion-badge>
  <ion-badge *ngIf="model.suggestion_status == 2">
    Rejected a candidate
  </ion-badge>

  <ion-item lines="none" *ngIf="model.candidate">
    <div tabindex="0"></div>
    
    <ion-avatar slot="start">
      <img *ngIf="model.candidate.candidate_personal_photo"
        src="{{ aws.cloudinaryUrl + 'candidate-photo/' + model.candidate.candidate_personal_photo }}" onerror="this.src='/assets/icon/icon.png';">
      <img *ngIf="!model.candidate.candidate_personal_photo" src="/assets/icon/icon.png">
    </ion-avatar>

    <ion-label>
      <h5>{{ model.candidate.candidate_name ?model.candidate.candidate_name : model.candidate.candidate_name_ar }}</h5>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="model.fulltimer">
    <div tabindex="0"></div>
    
    <ion-avatar slot="start">
      <img src="/assets/icon/icon.png">
    </ion-avatar>

    <ion-label>
      <h5>{{ model.fulltimer.fulltimer_name }} </h5>
    </ion-label>
  </ion-item>

  <p class="activity">
    <b *ngIf="model.updatedBy">{{ model.updatedBy.staff_name }}:&nbsp;</b>
    <span [innerHTML]="model.note.note_text"></span>
  </p>

  <p class="txt-time">
    {{ model.suggestion_datetime | timeAgo }} on 
    {{ toDate(model.suggestion_datetime) | date: 'MMM d, y' }}
  </p>
</ion-card>

<ng-container *ngIf="model.suggestion_status == 1">
  <ion-button class="btn-accept" (click)="acceptSuggestion($event)">
    Accepted
  </ion-button>
  <ion-button class="btn-reject" (click)="rejectSuggestion($event)">
    Rejected
  </ion-button>
</ng-container>

<div class="clearfix"></div>