<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Candidates <span *ngIf="!loading && totalCount">({{totalCount}})</span></ion-title>

    <ion-buttons slot="end">

      <ion-button [disabled]="candidateIdCardService.candidates.length == 0 || merging || downloading" color="primary"
        (click)="generate()">
        <span *ngIf="!downloading">Download Zip</span>
        <ion-spinner *ngIf="downloading"></ion-spinner>
      </ion-button>

      <ion-button color="primary" [disabled]="exporting"
        (click)="export()">
        <span *ngIf="!exporting">Export Data</span>
        <ion-spinner *ngIf="exporting"></ion-spinner>
      </ion-button>

      <ion-button color="primary" [disabled]="candidateService.candidates.length != 2 || merging || downloading"
        (click)="merge($event)">
        <span *ngIf="!merging">Merge</span>
        <ion-spinner *ngIf="merging"></ion-spinner>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar class="container">
    <ion-grid>
      <ion-row>
        <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
          <!-- Filter by Major -->
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating" color="primary">Name/ID</ion-label>
            <ion-input type="text" [(ngModel)]="filters.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
          <!-- Filter by Tag -->
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" [(ngModel)]="filters.email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="3" size-sm="6" size-xs="12">
          <!-- Filter by Tag -->
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating" color="primary">Phone</ion-label>
            <ion-input type="text" [(ngModel)]="filters.phone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="3" size-sm="6" size-xs="12">
          <!-- Filter by Tag -->
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating" color="primary">Civil ID</ion-label>
            <ion-input type="text" [(ngModel)]="filters.civilId"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
          <!-- Filter by Tag -->
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating" color="primary">Civil Status</ion-label>
            <ion-select interface="popover" [(ngModel)]="filters.civil" [value]="filters.civil" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="0">All</ion-select-option>
              <ion-select-option value="1">Active</ion-select-option>
              <ion-select-option value="2">Expired</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
          <ion-item class="input-wrapper" >
            <div tabindex="0"></div>
            <ion-label position="floating" color="primary">Type</ion-label>
            <ion-select interface="popover" [(ngModel)]="filters.type" [value]="filters.type" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="assigned">Assigned</ion-select-option>
              <ion-select-option value="un-assigned">UnAssigned</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="3" size-sm="6" size-xs="12">
          <ion-item class="input-wrapper" lines="none">
            <div tabindex="0"></div>
            <ion-label color="primary">Civil ID Need Verification</ion-label>
            <ion-checkbox value="1" [(ngModel)]="filters.candidate_civil_need_verification"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size-md="2" size-lg="3" size-sm="6" size-xs="12">
          <ion-item class="input-wrapper" lines="none">
            <div tabindex="0"></div>
            <ion-label color="primary">Incomplete Profiles</ion-label>
            <ion-checkbox value="1" [(ngModel)]="filters.incompleteProfiles"></ion-checkbox>
          </ion-item>
        </ion-col>

        <!--
        <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
          <ion-item class="input-wrapper" >
            <ion-label position="floating" color="primary">Export data</ion-label>
            <ion-select interface="popover" [(ngModel)]="filters.page" [value]="filters.page" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="1">0 - 5,000</ion-select-option>
              <ion-select-option value="2">5,001 - 10,000</ion-select-option>
              <ion-select-option value="3">10,001 - 15,000</ion-select-option>
              <ion-select-option value="3">15,001 - 20,000</ion-select-option>
              <ion-select-option value="3">20,001 - 25,000</ion-select-option>
              <ion-select-option value="3">25,001 - 30,000</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>-->
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button (click)="loadData(1);">Submit</ion-button>
            <ion-button (click)="resetFilter();" color="secondary">Reset</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <ion-list>

      <candidate tappable (click)="rowSelected(candidate)" [candidate]="candidate" type='candidate' (refresh)="search()" *ngFor="let candidate of candidates">
      </candidate>

      <no-items *ngIf="!loading && candidates && candidates.length == 0" message="No candidate data available"></no-items>

      <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

    </ion-list>

  </div>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
