<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Candidates <span *ngIf="!loading && totalCount">({{totalCount}})</span></ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="candidateIdCardService.candidates.length == 0 || downloading"
        (click)="generate()">
        <span *ngIf="!downloading">Download Zip</span>
        <ion-spinner *ngIf="downloading"></ion-spinner>
      </ion-button>
      
      <ion-button color="primary" [disabled]="candidateService.candidates.length != 2 || merging"
        (click)="merge()">
        <span *ngIf="!merging">Merge</span>
        <ion-spinner *ngIf="merging"></ion-spinner>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filter by</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Filter by Major -->
            <ion-item>
              <ion-label position="floating" color="primary">Name</ion-label>
              <ion-input type="text" [(ngModel)]="filters.name"></ion-input>
            </ion-item>

            <!-- Filter by Tag -->
            <ion-item>
              <ion-label position="floating" color="primary">Email</ion-label>
              <ion-input type="text" [(ngModel)]="filters.email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <!-- Filter by Tag -->
            <ion-item>
              <ion-label position="floating" color="primary">phone</ion-label>
              <ion-input type="text" [(ngModel)]="filters.phone"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" color="primary">Type</ion-label>
              <ion-select [(ngModel)]="filters.type" [value]="filters.type" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="assigned">Assigned</ion-select-option>
                <ion-select-option value="un-assigned">UnAssigned</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-header>
      <ion-button (click)="loadData(1);">Submit</ion-button>
      <ion-button (click)="resetFilter();" color="secondary">Reset</ion-button>
    </ion-card-header>

  </ion-card>

  <ion-list>

    <candidate [candidate]="candidate" type='candidate' (refresh)="search()" *ngFor="let candidate of candidates">
    </candidate>

    <no-items *ngIf="!loading && candidates && candidates.length == 0" message="No candidate data available"></no-items>

    <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer *ngIf="!loading">
  <ion-button expand="full" (click)="create()">
    Create
  </ion-button>
</ion-footer>