<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Candidates <span *ngIf="!loading && totalCount">({{totalCount}})</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="loadSegment($event)" [value]="cndSegment"  color="primary">
    <ion-segment-button value="assigned">
      Already Assigned
    </ion-segment-button>
    <ion-segment-button value="not-assigned">
      Not Assigned
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar *ngIf="cndSegment == 'assigned'"
    [(ngModel)]="assignedSearchBar"
    animated
    debounce="200"
    (ionChange)="search()">
  </ion-searchbar>

  <ion-searchbar *ngIf="cndSegment == 'not-assigned'"
    [(ngModel)]="unassignedSearchBar"
    animated
    debounce="200"
    (ionChange)="search()">
  </ion-searchbar>
  <loading-modal [loading]="loading" type="candidate-list"></loading-modal>
  <ion-list *ngIf="!loading">
    <ion-item-sliding *ngFor="let candidate of candidates">
      <ion-item  button (click)="rowSelected(candidate)">
        <ion-avatar slot="start" *ngIf="candidate.candidate_personal_photo_thumb">
          <img src="{{ aws.permanentBucketUrl + candidate.candidate_personal_photo_thumb}}">
        </ion-avatar>
        <ion-label>
          {{ candidate.candidate_name }}
          <p *ngIf="candidate.store" >{{ candidate.store.store_name }} @ {{ candidate.company.company_name }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-button color="danger" (click)="delete(candidate)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
    <no-items *ngIf="candidates && candidates.length == 0" message="No candidate data available"></no-items>
  </ion-list>

  <ion-row class="ion-text-center" *ngIf="!loading">
    <div class="pagination-wrapper">
      <ion-button *ngFor="let page of pages" size="small" color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </ion-button>
    </div>
  </ion-row>

</ion-content>

<ion-footer *ngIf="!loading">
  <ion-button expand="full" (click)="create()">
    Create
  </ion-button>
</ion-footer>
