<ion-card>
  <ion-badge *ngIf="model.invitation_status == 1">
    Invited a candidate
  </ion-badge>

  <ion-badge *ngIf="model.invitation_status == 2">
    Rejected by candidate
  </ion-badge>

  <ion-badge *ngIf="model.invitation_status == 3">
    Accepted by candidate
  </ion-badge>

  <ion-item lines="none" *ngIf="model.candidate">
    <div tabindex="0"></div>

    <ion-avatar slot="start" (click)="openCandidatePage($event)">
      <img *ngIf="model.candidate.candidate_personal_photo"
        src="{{ aws.cloudinaryUrl + 'candidate-photo/' + model.candidate.candidate_personal_photo }}"
        onerror="this.src='/assets/icon/icon.png';">
      <img *ngIf="!model.candidate.candidate_personal_photo" src="/assets/icon/icon.png">
    </ion-avatar>

    <ion-label (click)="openCandidatePage($event)">
      <h5>{{ model.candidate.candidate_name ?model.candidate.candidate_name : model.candidate.candidate_name_ar }}</h5>
      <p *ngIf="model.note">{{model.note.note_text}}</p>
    </ion-label>
  </ion-item>

  <p class="txt-time">
    {{ model.invitation_created_at | timeAgo }} on
    {{ toDate(model.invitation_created_at) | date: 'MMM d, y' }}
  </p>

  <p class="invitation-time" *ngIf="model">

    first

    <ng-container *ngIf="
        model.invitation_app_seen_at && 
        (
          !model.invitation_email_seen_at ||
          toDate(model.invitation_app_seen_at) > toDate(model.invitation_email_seen_at)
        )
        ">
      saw the invitation via app at {{ toDate(model.invitation_app_seen_at) | date: 'MMM d, y, h:mm:ss a' }}
      (took her
      {{ model.invitation_created_at | duration : translateService.currentLang : model.invitation_app_seen_at }})
    </ng-container>

    <ng-container *ngIf="
        model.invitation_email_seen_at && 
        (
          !model.invitation_app_seen_at || 
          toDate(model.invitation_email_seen_at) > toDate(model.invitation_app_seen_at)
        )
        ">
      saw the invitation via email at {{ toDate(model.invitation_email_seen_at) | date: 'MMM d, y, h:mm:ss a' }}
      (took her
      {{ model.invitation_created_at | duration : translateService.currentLang : model.invitation_email_seen_at }})
    </ng-container>

    <ng-container *ngIf="!model.invitation_app_seen_at && !model.invitation_email_seen_at">
      Not viewed yet
    </ng-container>

  </p>

</ion-card>

<!-- move to suggestion if not suggested and accepted -->

<ion-button [disabled]="!model.invitation_created_by_company && (
    !model.story || authService.staff_id != model.story.staff_id
  )" 
  *ngIf="(!model.story || model.story.story_status == 1) && 
    !model.is_suggested && model.invitation_status == 3" class="btn-suggestion"
  (click)="suggest($event)">
  Move to suggestion
</ion-button>

<!-- created by staff but missing story from invitation -->

<p class="txt-danger" *ngIf="!model.invitation_created_by_company && !model.story">
  Missing story for this invitation
</p>

<!-- <p class="txt-danger" *ngIf="model.story && authService.staff_id != model.story.staff_id">
  You should be owner to move this invitation to suggestion
</p>
-->
<div class="clearfix"></div>
