<ion-card>
  <ion-badge *ngIf="model.invitation_status == 1">
    Invited a candidate
  </ion-badge>

  <ion-badge *ngIf="model.invitation_status == 2">
    Rejected by candidate
  </ion-badge>

  <ion-badge *ngIf="model.invitation_status == 3">
    Accepted by candidate
  </ion-badge>

  <ion-item lines="none" *ngIf="model.candidate">
    <div tabindex="0"></div>

    <ion-avatar slot="start" (click)="openCandidatePage($event)">
      <img *ngIf="model.candidate.candidate_personal_photo"
        src="{{ aws.cloudinaryUrl + 'candidate-photo/' + model.candidate.candidate_personal_photo }}" onerror="this.src='/assets/icon/icon.png';">
      <img *ngIf="!model.candidate.candidate_personal_photo" src="/assets/icon/icon.png">
    </ion-avatar>

    <ion-label (click)="openCandidatePage($event)">
      <h5>{{ model.candidate.candidate_name ?model.candidate.candidate_name : model.candidate.candidate_name_ar }}</h5>
      <p *ngIf="model.note">{{model.note.note_text}}</p>
    </ion-label>
  </ion-item>

  <p class="txt-time">
    {{ model.invitation_created_at | timeAgo }} on
    {{ toDate(model.invitation_created_at) | date: 'MMM d, y' }}
  </p>
</ion-card>

<!-- move to suggestion if not suggested and accepted -->

<ion-button *ngIf="!model.is_suggested && model.invitation_status == 3" class="btn-suggestion" (click)="suggest($event)">
  Move to suggestion
</ion-button>

<div class="clearfix"></div>
