<ion-content>
  <div class="container">

    <ion-grid>

      <ion-row>
        <ion-col col-sm="12" col-md="6">

          <h5>Customer Care</h5>

          <ion-item lines="none" [routerLink]="'/appeal-list'" routerLinkActive="active" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="timer-outline" slot="start"></ion-icon>
            Work Log Appeals
          </ion-item>

          <ion-item lines="none" [routerLink]="'/voice-mail-list'" routerLinkActive="active" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="globe-outline" slot="start"></ion-icon>
            Voice mails
          </ion-item>

          <h5>Candidates</h5>

          <ion-item routerLink="/candidate-id-requests" routerLinkActive="active" lines="none" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="id-card-outline"  slot="start"></ion-icon>
            Candidate ID Requests
          </ion-item>

          <ion-item routerLink="/candidate-invitations" routerLinkActive="active" lines="none" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="mail-outline"  slot="start"></ion-icon>
            Candidate Invitations
          </ion-item>

          <h5>Reports</h5>

          <ion-item routerLink="/analytics" routerLinkActive="active" lines="none" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="stats-chart-outline"  slot="start"></ion-icon>
            Analytics
          </ion-item>

          <ion-list>
            <ion-item routerLink="/valocity" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
              <ion-label>
                Velocity
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-sm="12" col-md="6">
          <h5>Transfer</h5>
        
          <ion-item routerLink="/transfer-list" routerLinkActive="active" lines="none" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="cash" slot="start"></ion-icon>
            Transfer List
          </ion-item>
        
          <ion-item routerLink="/transfer-candidate-list" routerLinkActive="active" lines="none" detail="false">
            <div tabindex="0"></div>
            <ion-icon name="cash" slot="start"></ion-icon>
            Transfer Candidate List
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-sm="12" col-md="6">
          <h5>Personal Section</h5>

          <ion-list>
          
            <ion-item [routerLink]="['/team-view/'+authService.staff_id]" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              Profile
            </ion-item>
            <ion-item [routerLink]="['/my-work']" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              My Work
            </ion-item>
            <!-- routerLink="/assigned-company-list"  -->
            <ion-item (click)="openAssignedCompanies()" tappable>
              <div tabindex="0"></div>
              <ion-icon name="earth-outline" slot="start"></ion-icon>
              <span>Assigned Companies</span>
            </ion-item>

            <ion-item [routerLink]="['/my-expenses']" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="cash" slot="start"></ion-icon>
              My Expenses
            </ion-item>
            <ion-item routerLink="/leave-request-list" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              leave requests
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-sm="12" col-md="6">
          <h5>Other Section</h5>

          <ion-list> 
           

            <ion-item routerLink="/team-list" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>
                Team
              </ion-label>
            </ion-item>

            <ion-item routerLink="/mall-list" routerLinkActive="active"  lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="business-outline"></ion-icon>
              <ion-label>
                Malls
              </ion-label>
            </ion-item>

            <ion-item routerLink="/university-list" routerLinkActive="active"  lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="school-outline" slot="start"></ion-icon>
              University
            </ion-item>

            <ion-item routerLink="/country-list" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              Nationality
            </ion-item>

            <ion-item routerLink="/bank-list" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              Bank
            </ion-item>

            <ion-item routerLink="/candidate-assigned-history" routerLinkActive="active" lines="none" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="cash" slot="start"></ion-icon>
              Candidate Assigned History
            </ion-item>
          </ion-list>
        </ion-col>
 
      </ion-row>


    </ion-grid>
     
  </div>
</ion-content>
