
<ion-content>
  <div class="container">
  <ion-item routerLink="/team-list" routerLinkActive="active" lines="none" detail="false">
    <div tabindex="0"></div>
    <ion-icon slot="start" name="people-outline"></ion-icon>
    <ion-label>
      Team
    </ion-label>
  </ion-item>

    <ion-item routerLink="/mall-list" routerLinkActive="active"  lines="none" detail="false">
      <div tabindex="0"></div>
      <ion-icon slot="start" name="business-outline"></ion-icon>
      <ion-label>
        Malls
      </ion-label>
    </ion-item>
    <ion-item routerLink="/university-list" routerLinkActive="active"  lines="none" detail="false">
      <div tabindex="0"></div>
      <ion-icon name="school-outline" slot="start"></ion-icon>
      University
    </ion-item>
    <ion-item routerLink="/country-list" routerLinkActive="active" lines="none" detail="false">
      <div tabindex="0"></div>
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      Nationality
    </ion-item>
    <ion-item routerLink="/bank-list" routerLinkActive="active" lines="none" detail="false">
      <div tabindex="0"></div>
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      Bank
    </ion-item>
  </div>
</ion-content>
