<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="close()"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ operation }}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="form && !form.valid" (click)="save()">
        <span *ngIf="!saving">Save</span>
        <ion-spinner *ngIf="saving"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
    <ion-list>

      <ion-item lines="none">
        <div tabindex="0"></div>
        <ion-label position="floating">Note Type</ion-label>
        <ion-select formControlName="type">
          <ion-select-option>Internal Note</ion-select-option>
          <ion-select-option>Phone Call</ion-select-option>
          <ion-select-option>Email</ion-select-option>
          <ion-select-option>Meeting</ion-select-option>
          <ion-select-option>Interview</ion-select-option>
          <ion-select-option>Task</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-list  lines="none">
        <ion-item (click)="openClient($event)">
          <div tabindex="0"></div>
          <ion-label position="stacked">Company Name</ion-label>
          <ion-input type="text" formControlName="company_name" readonly></ion-input>
        </ion-item>
      </ion-list>

      <ion-list  lines="none">
        <ion-item (click)="openRequest($event)">
          <div tabindex="0"></div>
          <ion-label position="stacked">Request</ion-label>
          <ion-input type="text" formControlName="request_name" readonly></ion-input>
        </ion-item>
      </ion-list>

      <ion-item>
        <div tabindex="0"></div>
        <ion-label position="floating">Note Text</ion-label>
        <ckeditor [config]="editorConfig" #ckeditor [editor]="Editor" (change)="onChange($event)"></ckeditor>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
