<ion-header>
  <ion-navbar>
    <ion-title>{{ operation }}</ion-title>
    <ion-buttons right>
      <button ion-button clear color="primary" [disabled]="!form.valid" (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        Civil ID
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Civil ID Number</ion-label>
          <ion-input type="text" formControlName="civil_id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Civil ID Expiry Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [min]="minDate" [max]="maxDate" formControlName="expiry_date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Civil ID Photo [Front]</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="photo_front"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Civil ID Photo [Back]</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="photo_back"></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Personal Information
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Name [English]</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Name [Arabic]</ion-label>
          <ion-input type="text" formControlName="name_ar"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Phone Number</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Birth Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="birth_date"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="countrylistData">
          <ion-label floating>Nationality</ion-label>
          <ion-select [(ngModel)]="countrylistData.country_id" [ngModelOptions]="{standalone: true}">
            <ion-option *ngFor="let country of countrylistData" [value]="country.country_id">{{country.country_name_en}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="universitylistData">
          <ion-label floating>University</ion-label>
          <ion-select [(ngModel)]="universitylistData.university_id" [ngModelOptions]="{standalone: true}">
            <ion-option *ngFor="let university of universitylistData" [value]="university.university_id">{{university.university_name_en}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        Bank Information
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngIf="banklistData">
          <ion-label floating>Bank</ion-label>
          <ion-select [(ngModel)]="banklistData.bank_id" [ngModelOptions]="{standalone: true}">
            <ion-option *ngFor="let bank of banklistData" [value]="bank.bank_id">{{bank.bank_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Beneficiary Name</ion-label>
          <ion-input type="text" formControlName="bank_account_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>IBAN</ion-label>
          <ion-input type="text" formControlName="iban"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Hourly Rate (KWD)</ion-label>
          <ion-input type="text" formControlName="hourly_rate"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <button ion-button block color="primary" [disabled]="!form.valid" (click)="save()">
      Save
    </button>
    
  </form>
</ion-content>
