ion-back-button {
  display: block;
}

ion-content {
  --padding-start: 15px;
  --padding-end: 15px;
}

ion-list {
  background: transparent;
}

.title-list {
  padding: 0 15px;
}

.title {
  margin: 23px 0 3px 3px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

.company-name {
  margin: 3px 0 29px 3px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

loading-modal {
  margin: 0 15px 13px;
  display: block;
}
