ion-card-header{font-weight:bold; font-size:1.2em !important; padding-bottom:0 !important;}

#uploads{
  ion-card{height:80px; padding-top:10px; margin:0 auto; text-align:center;}
  ion-icon{display:block; font-size:2em;}
  ion-spinner{display:block; margin:0 auto;}
  img{max-height:30px; width: auto; margin:0 auto;display: block;}
}

.segment-button-checked {
  border: 0px solid;
  background: rgb(56, 128, 255);
  color: #fff;
}

.btn-wrapper ion-button {
  //width: 314px;
  //height: 73px;
  border-radius: 10px !important;
  border: solid 4px #bdbdbd;
  text-align: center;
  background-color: white;
  margin-top: 15px;
  font-weight: normal;
  text-transform: none !important;
  --border-radius: 104px;
  --color: #292f38;

  ion-icon {
    padding: 0 0 0 5px;
  }

  [dir="rtl"] ion-icon {
    padding: 0 0 0 5px;
  }

  span {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
}

.active,
.button-outline-md:hover:not(.disable-hover) {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

ion-content {
  ion-buttons {
    padding-bottom: 12px;
  }
}
ion-item.ion-invalid {
  border-left: 3px solid red;
}
.error-wrapper {
  display: none;
}
