<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/candidate-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ operation }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!form || !form.valid || !form.dirty" (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="form">
    <!-- Grid for Required File Uploads -->
    <ion-grid id='uploads'>
      <ion-row>
        <ion-col>
          <app-image-upload
            label="Photo" icon="person-outline" prefix="photo"
            formControlName="photo"
          ></app-image-upload>
        </ion-col>
        <ion-col>
          <app-image-upload
            label="Civil ID (Front)" icon="card-outline" prefix="civilfront"
            formControlName="civilfront"
          ></app-image-upload>
        </ion-col>
        <ion-col>
          <app-image-upload
            label="Civil ID (Back)" icon="card-outline" prefix="civilback"
            formControlName="civilback"
          ></app-image-upload>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Rest of Form -->
    <ion-card>
      <ion-card-header>
        Civil ID
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Civil ID Number</ion-label>
          <ion-input type="text" formControlName="civil_id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Civil ID Expiry Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [min]="todayDate" [max]="maxDate" formControlName="expiry_date"></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Personal Information
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label  position="floating">Name [English]</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating">Name [Arabic]</ion-label>
          <ion-input type="text" formControlName="name_ar"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating">Birth Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [min]="minBirthDate" [max]="maxBirthDate" formControlName="birth_date"></ion-datetime>
        </ion-item>
        
        <app-select-search-input
          *ngIf="countrylistData"
          formControlName="country_id"
          placeholder="Select Nationality"
          [collection]="countrylistData"
          valueAttr="country_id"
          labelAttr="country_nationality_name_en">
        </app-select-search-input>

        <app-select-search-input
          *ngIf="universitylistData"
          formControlName="university_id"
          placeholder="Select University"
          [collection]="universitylistData"
          valueAttr="university_id"
          labelAttr="university_name_en">
        </app-select-search-input>

        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Payment
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label  position="floating">Hourly Rate (KWD)</ion-label>
          <ion-input type="number" min="0" formControlName="hourly_rate"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Bank Information
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label  position="floating">Beneficiary Name</ion-label>
          <ion-input type="text" formControlName="bank_account_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating">IBAN</ion-label>
          <ion-input type="text" formControlName="iban"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Login Information
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label  position="floating">Email</ion-label>
          <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="primary" [disabled]="!form.valid || !form.dirty" (click)="save()">
      Save
    </ion-button>
  </form>
</ion-content>
