<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Expired ID Card</ion-title>

    <ion-buttons right>
      <button ion-button clear color="primary" [disabled]="!form.valid" (click)="renew()">
        Renew Cards
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
    [(ngModel)]="searchBar"
    (ionInput)="loadData()">
  </ion-searchbar>
  
  <form [formGroup]="form">

    <ion-list>
      <ion-item *ngFor="let obj of candidatelistData; let i= index">
        <ion-label>{{ obj.candidate_name }}</ion-label>
        <ion-checkbox [(ngModel)]="candidates[i]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-row text-center>
      <div class="pagination-wrapper">
        <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
          {{ page }}
        </button>
      </div>
    </ion-row>

  </form>
</ion-content>
 