<ion-content class='contentArea' padding>
  <div class='brand'>
    <img src="assets/icon.png" />
  </div>

  <ion-card class='loginCard'>
    <ion-card-content class='authArea'>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="classicInput" novalidate>

        <ion-input type="email" #emailInput
          formControlName="email"
          placeholder="Your Email Address">
        </ion-input>

        <ion-input type="password" #passwordInput
          formControlName="password"
          placeholder="Your Password">
        </ion-input>

        <div text-center>
          <button ion-button block outline color="dark" type="submit"
            [disabled]="!loginForm.valid || isLoading ||
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)"
            [style.background-color]="!loginForm.valid || isLoading ||
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)? 'white':'black'"
            [style.color]="!loginForm.valid || isLoading ||
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)?'black':'white'">

            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">Sign in</span>
          </button>
        </div>

      </form>
      <!-- END Login Form -->

    </ion-card-content>
  </ion-card>

</ion-content>
