<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="uploadDocument()">
        <span>Add Document</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <h3>Documents</h3>

  <h4 *ngIf="company">
    {{ company.company_name }}
  </h4>

  <div *ngIf="company && company.files">
    <ion-card class="document" target="_blank" href="{{ awsService.permanentBucketUrl }}{{ file.file_s3_path }}" *ngFor="let file of company.files">
      <ion-card-content>

        <img class="icon" src="assets/images/ic_save.svg" />

        <span class="meta-data">{{ getFileType(file) }}</span>
        <span class="meta-data">{{ file.file_size | filesize }}</span>

        <h5>{{ file.file_title }}</h5>

        <p class="document-detail">{{file.file_description}}</p>

        <p class="date">Uploaded on {{ toDate(file.file_created_datetime) | date: 'MMM d, y' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <loading-modal [loading]="loading" type="company-file-list"></loading-modal>

  <no-items *ngIf="!loading && company && company.files && company.files.length == 0" message="~ No Document data ~"></no-items>

</ion-content>
