<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="candidateWorkingHourData">{{candidateWorkingHourData.date | date : 'mediumDate'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <div class="max-width">
    <ion-list *ngIf="candidateWorkingHourData">

      <ion-card class="main-card">
        <ion-card-content>
          <h4>Total Time</h4>
          <h3>{{secondsToTime(candidateWorkingHourData.total_time)}}</h3>
          <ion-grid>
            <ion-row>
              <ion-col><span>Start Time:</span> {{getStartTime() | date: "shortTime"}}</ion-col>
              <ion-col><span>End Time:</span> {{getEndTime() | date: "shortTime"}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <div class="lbl">Session ({{candidateWorkingHourData.dateListByCandidate.length}})</div>

      <ng-container *ngFor="let hour of candidateWorkingHourData.dateListByCandidate">
        <ion-card class="sub-card">
          <ion-card-content>
            <h3>{{secondsToTime(hour.total_time)}}</h3>
            <span>{{hour.start_time | date: "shortTime"}} -> {{hour.end_time | date: "shortTime"}}</span>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-list>
    <p *ngIf="!candidateWorkingHourData">No record found</p>
  </div>
</ion-content>
