<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Candidates Missing Bank Info <span *ngIf="this.totalCount">({{this.totalCount}})</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="ion-padding">
  <ion-searchbar
    [(ngModel)]="searchBar"
    *ngIf="candidates"
    animated
    debounce="200"
    (ionChange)="search()">
  </ion-searchbar>

  <ion-list>
    <ng-container *ngIf="!loading">
      <candidate tappable (click)="rowSelected(candidate)" [candidate]="candidates" (refresh)="search()" *ngFor="let candidates of candidates"></candidate>
    </ng-container>

    <no-items *ngIf="!loading && candidates && candidates.length == 0" message="No candidate data available"></no-items>

    <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
