<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Candidates Missing Bank Info ({{this.totalCount}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-searchbar
      [(ngModel)]="searchBar"
      *ngIf="candidates"
      animated
      debounce="200"
      (ionChange)="search()">
    </ion-searchbar>

    <ion-list>
      <ng-container *ngIf="!loading">
        <candidate tappable (click)="rowSelected(candidate)" [candidate]="candidate" (refresh)="search()"
        *ngFor="let candidate of candidates"></candidate>
      </ng-container>

      <no-items *ngIf="!loading && candidates && candidates.length == 0" message="No candidate data available"></no-items>

      <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

    </ion-list>
  </div>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
