<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Candidates Missing Bank Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchBar"
    *ngIf="transferCandidate"
    animated
    debounce="200"
    (ionChange)="search()">
  </ion-searchbar>

  <ion-list>
    <ng-container *ngIf="!loading">
      <candidate [candidate]="getCandidateDetail(transfer)" (refresh)="search()" *ngFor="let transfer of transferCandidate"></candidate>
    </ng-container>

    <no-items *ngIf="!loading && transferCandidate && transferCandidate.length == 0" message="No candidate data available"></no-items>

    <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
