<ion-header>
  <ion-navbar>
  
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Candidates</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="cndSegment" color="primary">
    <ion-segment-button value="assigned" (ionSelect)="loadAssigned(1)">
      Already Assigned
    </ion-segment-button>
    <ion-segment-button value="not-assigned" (ionSelect)="loadNotAssigned(1)">
      Not Assigned
    </ion-segment-button>
  </ion-segment>
  
  <ion-searchbar
    [(ngModel)]="searchBar"
    (ionInput)="search()">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let candidate of candidates">
      <button ion-item (click)="rowSelected(candidate)">
        <ion-avatar item-left *ngIf="candidate.candidate_personal_photo_thumb">
          <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{candidate.candidate_personal_photo_thumb}}">
        </ion-avatar>
          {{ candidate.candidate_name }}
      </button>  
      
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(candidate)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>

<ion-footer>
  <button ion-button full (click)="create()">
    Create
  </button>
</ion-footer>
