<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="invitationStatus">{{invitationStatus}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  
  <div class="container" *ngIf="invitationList.length > 0">

    <invitation *ngFor="let invitation of invitationList" [model]="invitation">
    </invitation> 
    
  </div>

</ion-content>
