<ion-header>
  <ion-toolbar>
    <ion-buttons slot="strat">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!form.valid || !form.dirty || this.loading" (click)="save()">
        <span *ngIf="!loading">Save</span>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="text" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
  </form>
</ion-content>
