<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <form [formGroup]="form">
    <ion-list lines="none">
      <ion-item >
        <ion-input type="password" formControlName="password" placeholder="Current Password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" formControlName="newPassword" placeholder="New Password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" formControlName="confirmNewPassword" placeholder="Confirm New Password"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer class="ion-text-center ion-no-border ion-transparent">
  <ion-button [disabled]="!form || !form.valid || !form.dirty || this.loading" (click)="save()" class="btn-change-pwd">
    <span *ngIf="!loading">{{"Change Password"}}</span>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </ion-button>
</ion-footer>
