ion-content {
  --padding-start: 18px  !important;
  --padding-end: 18px !important;
    background: var(--ion-color-custom-9);
    --background: var(--ion-color-custom-9);
}
ion-list,ion-item-sliding {
  background: transparent;
}
ion-item {
  margin: 0 12px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--ion-card-background);
}

section,ion-list {
  background: var(--ion-color-custom-9);
  --background: var(--ion-color-custom-9);
}

ion-list {
  background: transparent;
  padding: 24px 30px;
}

ion-footer ion-button {
  width: calc(100% - 28px);
  height: 53px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  text-transform: none;
  display: block;
  margin: 10px 14px;
  --box-shadow: none;
}


ion-item {
  margin: 0 3px 16px 3px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--ion-card-background);
  padding: 3px;
  ion-badge {
    margin: 0 6px 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-5);
  }

  h5 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-6);
    margin-bottom: 15px;
  }
}
