<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Invite this profile</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!form || !form.dirty || !form.valid || loading" (click)="save()">
        <span *ngIf="!loading">Save</span>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <form [formGroup]="form" *ngIf="form">
    <ion-list>

        <h5>Select Request </h5>

        <request-listing (click)="selectRequest(request)" *ngFor="let request of activeRequests" tappable 
          [request]="request" [showStatus]="false"></request-listing>

    </ion-list>

  </form>
  
</ion-content>

