<ion-header mode="md"  class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" (click)="close()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="container">
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item lines="none">
      <div tabindex="0"></div>
      <ion-label position="stacked">Current Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <div tabindex="0"></div>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input type="{{ type }}" formControlName="newPassword">
        <ion-button class="btn-password" fill="clear" (click)="togglePasswordVisibility()">
          <ion-icon *ngIf="type == 'password'" name="eye-outline"></ion-icon>
          <ion-icon *ngIf="type != 'password'" name="eye-off-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <div tabindex="0"></div>
      <ion-label position="stacked">Confirm New Password</ion-label>
      <ion-input type="{{ confirmType }}" formControlName="confirmNewPassword">
        <ion-button class="btn-password" fill="clear" (click)="toggleConfirmPasswordVisibility()">
          <ion-icon *ngIf="confirmType == 'password'" name="eye-outline"></ion-icon>
          <ion-icon *ngIf="confirmType != 'password'" name="eye-off-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-button class="btn-submit" (click)="submit()">
      Change Password
    </ion-button>
  </form>

</ion-content>
