<ion-content>
  
  <div class="drager"></div>
  
  <h3>
   Change Password 
  </h3>

  <form [formGroup]="form">
    <ion-item lines="none">
      <ion-label position="stacked">Current Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">New Password</ion-label>
      <ion-input type="{{ type }}" formControlName="newPassword">
        <ion-button class="btn-password" fill="clear" (click)="togglePasswordVisibility()">
          <ion-icon *ngIf="type == 'password'" name="eye-outline"></ion-icon>
          <ion-icon *ngIf="type != 'password'" name="eye-off-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Confirm New Password</ion-label>
      <ion-input type="{{ confirmType }}" formControlName="confirmNewPassword">
        <ion-button class="btn-password" fill="clear" (click)="toggleConfirmPasswordVisibility()">
          <ion-icon *ngIf="confirmType == 'password'" name="eye-outline"></ion-icon>
          <ion-icon *ngIf="confirmType != 'password'" name="eye-off-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-button class="btn-submit" (click)="submit()">
      Change Password
    </ion-button>
  </form>

</ion-content>
