
ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 25px;
    --padding-bottom: 26px;
}

.btn-close {
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    margin: 0;
    height: auto;
}

h3 {
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 45px;
}

.skill-rapper {
    padding: 10px;
    max-width: 400px;
    margin: auto;
}

.list ion-item-sliding,
ion-item {
    background: transparent;
}

ion-item {
    --padding-end: 0;
    --padding-start: 0;
    --border-color: rgba(189, 189, 189, 0.3);
    --border-width: 0 0 2.5px 0;
    --inner-padding-end: 10px; 
    
    ion-button {
        width: 24px;
        height: 24px;
        --border-radius: 100%;
        --padding-bottom: 0;
        --padding-top: 0;
        --padding-start: 0;
        --padding-end: 0;
        margin: 0;
    }
}
 
.btn-submit {
    width: 100%;
    height: 53px;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    --background: #000000;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 24px;
    border-radius: 22px;
    --border-radius: 22px;
    --box-shadow: none;
}

.btn-submit[disabled] {
    --background: #6B6B6B;
    color: #B4B4B4
}

