
ion-content {
    --padding-top: 25px;
    --padding-bottom: 26px;
}

.btn-close {
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    margin: 0;
    height: auto;
}

h3 {
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--ion-color-light-contrast);
    margin-top: 45px;
    margin-bottom: 45px;
}

.skill-rapper {
    padding: 10px;
    max-width: 400px;
    margin: auto;
}
 

ion-item { 
    --inner-padding-end: 10px;

    ion-button {
        width: 24px;
        height: 24px;
        --border-radius: 100%;
        --padding-bottom: 0;
        --padding-top: 0;
        --padding-start: 0;
        --padding-end: 0;
        margin: 0;
    }
}

.btn-submit {
    width: 100%;
    height: 53px;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    --background: var(--ion-color-light-contrast);
    color: var(--ion-color-primary-contrast);
    margin-top: 25px;
    margin-bottom: 24px;
    border-radius: 22px;
    --border-radius: 22px;
    --box-shadow: none;
}

.btn-submit[disabled] {
    --background: var(--ion-color-custom-38);
    color: var(--ion-color-custom-39)
}

ion-back-button{
  display: block;
}
