<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Expired ID Card</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!form.valid" (click)="renew()">
        <span *ngIf="!renewLoader">Renew Cards</span>
        <ion-spinner *ngIf="renewLoader"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    [(ngModel)]="searchBar"
    (ionChange)="loadData(this.currentPage)"
    debounce="200"
    animated
  >
  </ion-searchbar>

  <form [formGroup]="form">
    <ion-list *ngIf="candidatelistData && candidatelistData.length > 0">
      <ion-item *ngFor="let obj of candidatelistData; let i= index" (click)="candidateDetailPage($event, obj)">
        <ion-label>{{ obj.candidate_name? obj.candidate_name: obj.candidate_name_ar }}</ion-label>
        <ion-checkbox slot="end" [value]="obj.candidate_id" (ionChange)="onCandidateToggle($event)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

    <no-items *ngIf="!loading && candidatelistData && candidatelistData.length == 0" message="No Expired ID"></no-items>


    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </form>
</ion-content>
