<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Expired ID Card</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!form.valid" (click)="renew()">
        <span *ngIf="!renewLoader">Renew Cards</span>
        <ion-spinner *ngIf="renewLoader"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    [(ngModel)]="searchBar"
    (ionChange)="loadData(this.currentPage)"
    debounce="200"
    animated
  >
  </ion-searchbar>

  <form [formGroup]="form">
    <ion-list *ngIf="!loading && candidatelistData && candidatelistData.length > 0">
      <ion-item *ngFor="let obj of candidatelistData; let i= index">
        <ion-label>{{ obj.candidate_name }}</ion-label>
        <ion-checkbox [value]="obj.candidate_id" (ionChange)="onCandidateToggle($event)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

    <no-items *ngIf="!loading && candidatelistData && candidatelistData.length == 0" message="No data available"></no-items>

    <ion-row class="ion-text-center" *ngIf="!loading">
      <div class="pagination-wrapper">
        <ion-button *ngFor="let page of pages"  size="small" color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
          {{ page }}
        </ion-button>
      </div>
    </ion-row>

  </form>
</ion-content>
