.btn-close {
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  margin: 0;
  height: auto;
}

h3 {
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--ion-color-light-contrast);
  margin-top: 33px;
  margin-bottom: 35px
}

ion-textarea {
  border: 4px solid var(--ion-color-custom-2) !important;
  height: 100px !important;
  border-radius: 10px !important;
  --border-radius: 10px;
  margin: 0;
  width: 100%;
  --padding-bottom: 10px;
  --padding-top: 10px;
  --padding-start: 18px;
  --padding-end: 18px;
}

.error {
  color: red !important;
}

p.txt-char-count {
  color: var(--ion-color-custom-2);
  text-align: var(--end);
  font-size: 14px;
  line-height: 1.41;
  margin-top: 8px;
}

.btn-submit {
  width: 100%;
  height: 53px;
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  --background: var(--ion-color-light-contrast);
  color: var(--ion-color-primary-contrast);
  margin-top: 25px;
  margin-bottom: 24px;
  border-radius: 22px;
  --border-radius: 22px;
  --box-shadow: none;
}

.btn-submit[disabled] {
  --background: var(--ion-color-custom-38);
  color: var(--ion-color-custom-39)
}

ion-searchbar {
  --box-shadow: none;
  height: 60.8px;
  border-radius: 10px;
  border: solid 4px var(--ion-color-custom-2);
  background-color: var(--ion-card-background);
}
ion-list {
  margin-top: 30px;
}
