<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/university-list"></ion-back-button>
    </ion-buttons>
    <ion-title  *ngIf="university">
      {{ university.university_name_en }}
      <span *ngIf="!university.university_name_en">{{ university.university_name_ar }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="university">
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>University ID</h5>
          <p>{{ university.university_id }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>University Name</h5>
          <p>
            {{ university.university_name_en }}
            <span *ngIf="!university.university_name_en">{{ university.university_name_ar }}</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>University Name - Arabic</h5>
          <p>{{ university.university_name_ar }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <loading-modal [loading]="loading" type="text-list-view"></loading-modal>
  </div>
</ion-content>
