
.end {
  ion-badge {
    display: block;
    margin-bottom: 4px;
  }
}

.contact-list a {
  text-decoration: none;

  ion-icon {
      top: 2px;
      position: relative;
      color: var(--ion-color-step-600, #666666);
  }
}

ion-content,ion-list,section,ion-footer {
  background: var(--ion-color-custom-9);
  --background: var(--ion-color-custom-9);
}

ion-content .container {
  padding-top: 24px;
}

ion-back-button {
  display: block;
  margin-inline-start: 13px;
}

ion-badge {
  border: solid 1px var(--ion-color-custom-4);
  padding: 9px 21px;
  margin: 0 7px 7px 0;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: left;
  border-radius: 8px;
}
 
  ion-badge {
    background-color: var(--ion-color-secondary-contrast);
    color: var(--ion-color-primary);
  }
  
  ion-badge.active {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  } 




h1 {
  margin: 15px 0 24px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

ion-searchbar {
  padding: 3px 0 0 23px;
  --background: var(--ion-color-custom-8);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-7);
}
section {
  padding: 2px;
}

.setting{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-14);
}

ion-toolbar.title {
  padding: 10px 0;

  ion-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-6);
    padding:29px;
  }
}
ion-toolbar.search {
  padding: 4px 0 13px;
}

.btn-filter {
  width: calc(100% - 24px);
  height: 56px;
  --border-radius: 12px;
  --background: var(--ion-color-custom-14);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  --color: var(--ion-color-primary-contrast);
  text-transform: none;
  --box-shadow: none;
  margin: 12px;
}
