<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Universities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <loading-modal [loading]="loading" type="text-list"></loading-modal>
  <ion-list>
    <ion-item tappable *ngFor="let university of universities" (click)="rowSelected(university)">
      <div tabindex="0"></div>
      <ion-label>
        <h5>{{ university.university_name_en }}</h5>
        <p>{{ university.university_name_ar }}</p>
      </ion-label>
      <ion-badge slot="end" *ngIf="university.total_candidates > 0">
        {{ university.total_candidates }} candidates
      </ion-badge>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer></ion-footer>
