<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Universities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let university of universities" (click)="rowSelected(university)">
      <ion-label>
        {{ university.university_name_en }}
      </ion-label>
      <ion-badge slot="end" *ngIf="university.total_candidates > 0">
        {{ university.total_candidates }} candidates
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-row class="ion-text-center">
    <div class="pagination-wrapper">
      <ion-button *ngFor="let page of pages" size="small" color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </ion-button>
    </div>
  </ion-row>
</ion-content>

<ion-footer></ion-footer>
