<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Countries </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let country of countries" (click)="rowSelected(country)">
        {{ country.country_name_en }}

        <ion-badge item-right *ngIf="country.total_candidates > 0">
          {{ country.total_candidates }} candidates
        </ion-badge>
    </ion-item>
</ion-list>

<ion-row text-center>
  <div class="pagination-wrapper">
    <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
      {{ page }}
    </button>
  </div>
</ion-row>

</ion-content>

<ion-footer>
  
</ion-footer>