
ion-footer {
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--ion-card-background);
  
    ion-button {
      height: 53px;
      width: calc(100% - 24px);
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.65;
      letter-spacing: normal;
      text-align: center;
      text-transform: none;
      margin: 12px 10px;
      --color: var(--ion-color-primary-contrast);
      --border-radius: 5px;
      --background: var(--ion-color-custom-10);
      --box-shadow: none;
    }
  
    .btn-view-fulltimers {
      --background: var(--ion-color-custom-19);
    }
  }