ion-back-button {
  display: block;
}

.selected {
    border: solid 1px var(--ion-color-custom-2);
    border-radius: 5px;
    --border-radius: 5px;
    --inner-border-width: 0;
}

ion-list {
  background: transparent;
  --background: transparent;
}
