ion-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #23233d;

  .active {
    color:#29b564;
  }
}

ion-segment-button {
  text-transform: inherit;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #68687a;
}

ion-segment-button.segment-button-checked {
  font-weight: 600;
  color: #263879;
  --indicator-color: #263879;
  --border-color: #263879;
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    background: #f7f8fa;
    --background: #f7f8fa;
}