<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="this.contact.company && !loading">
      <ion-button fill="clear" class="btn-actions" (click)="showActions($event)">
        <ion-icon class="setting-icon" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="contact">
    <ion-title>
      {{ contact.contact_name }}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar class="container">
    <ion-segment mode="md" [(ngModel)]="segment">

      <ion-segment-button mode="md" value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="notes">
        <ion-label>Notes</ion-label>
      </ion-segment-button>

      <ion-segment-button mode="md" value="requests">
        <ion-label>Requests</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <div class="container">

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

    <div *ngIf="segment == 'details' && contact">
      <h5>Contact Details</h5>

      <ul>

        <li>
          <ion-icon src="assets/images/icon-followup.svg"></ion-icon> <b>last update</b>
          <ion-note>Updated {{ contact.contact_updated_at | timeAgo }}</ion-note>
        </li>

        <li>
          <ion-icon src="assets/images/Icon_Status.svg"></ion-icon> <b>Added</b>
          <ion-note>{{ toDate(contact.contact_created_at) | date: 'MMM d, y, h:mm:ss a' }}</ion-note>
        </li>
      </ul>

      <ion-grid>
        <ion-row>
          <ion-col *ngIf="companyContact.contact_position" size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            Position<br /> <b>{{ companyContact.contact_position }}</b>
          </ion-col>

          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            Email <br />
            <b>{{ contact.contact_email }}</b>
            <!--
            <a href="mailto:{{ contactEmail.email_address }}" *ngFor="let contactEmail of contact.contactEmails">
              <ion-icon name="mail-outline"></ion-icon> {{ contactEmail.email_address }}
            </a> -->
          </ion-col>

          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center" *ngIf="contact.contactPhones.length > 0">
            Phone <br />
            <a href="tel:{{ contactPhone.phone_number }}" *ngFor="let contactPhone of contact.contactPhones">
              <ion-icon name="call-outline"></ion-icon> {{ contactPhone.phone_number }}
            </a>
          </ion-col>

          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            Allow access?<br />
            <b *ngIf="companyContact.allow_access">Yes</b>
            <b *ngIf="!companyContact.allow_access">No</b>
          </ion-col>

          <ion-col size-lg="2" size-md="2" size-sm="6" size-xs="6" class="ion-align-self-center">
            Receive Email?<br />
            <b *ngIf="companyContact.contact_receive_email">Yes</b>
            <b *ngIf="!companyContact.contact_receive_email">No</b>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button class="btn-verify" (click)="sendVerificationMail()" *ngIf="contact && !contact.contact_email_verification">
        Send Verification email
      </ion-button>
    </div>

    <div *ngIf="segment == 'requests'">

      <h5>Request Lists <span>({{ totalRequests }})</span></h5>

      <request-listing *ngFor="let request of requests" tappable (click)="requestDetail(request)"
        [request]="request" [showStatus]="false"></request-listing>

      <loading-modal [loading]="loadingRequests" type="request-list"></loading-modal>

      <ion-infinite-scroll *ngIf="currentPageRequest < pageCountRequest" (ionInfinite)="doInfiniteRequests($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <!--
      <ion-button *ngIf="contact" [routerLink]="'/view/company-request-dashboard/' + contact.contact_uuid">
        <ion-icon slot="start" name="eye-outline"></ion-icon>
        View Requests
      </ion-button>-->
    </div>

    <div *ngIf="segment == 'notes'">

      <h5>Last Activity <span>({{ notesTotal }})</span></h5>

      <note tappable *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid"
        from="company-view" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>

      <loading-modal [loading]="loadingNotes" type="note-list"></loading-modal>

      <ion-button class="btn-add-note" *ngIf="notes.length == 0" (click)="addNote()">
        Post a Note
      </ion-button>

      <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

  </div>
</ion-content>
