<ion-header mode="md" [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="edit()">
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
        Edit
      </ion-button>

      <ion-button (click)="delete()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="companyContact">
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h4>{{ companyContact.contact.contact_name }}</h4>
          <p>
            {{ companyContact.contact.contact_position }}
          </p>

          <p *ngIf="companyContact.contact.contact_email">
            <a href="mailto:{{ companyContact.contact.contact_email }}">
              <ion-icon name="mail-outline"></ion-icon> {{ companyContact.contact.contact_email }}
            </a>
          </p>

          <p>
            <a href="mailto:{{ contactEmail.email_address }}"
              *ngFor="let contactEmail of companyContact.contact.contactEmails">
              <ion-icon name="mail-outline"></ion-icon> {{ contactEmail.email_address }}
            </a>
          </p>
          <p>
            <a href="tel:{{ contactPhone.phone_number }}"
              *ngFor="let contactPhone of companyContact.contact.contactPhones">
              <ion-icon name="call-outline"></ion-icon> {{ contactPhone.phone_number }}
            </a>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h4>Role</h4>
          <p>{{companyContact.contact.role}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h4>Receive Email?</h4>
          <p *ngIf="companyContact.contact.contact_receive_email">Yes</p>
          <p *ngIf="!companyContact.contact.contact_receive_email">No</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h4>Receive notification?</h4>
          <p *ngIf="companyContact.contact.contact_receive_notification">Yes</p>
          <p *ngIf="!companyContact.contact.contact_receive_notification">No</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>

          <p>Added at {{ toDate(companyContact.contact.contact_created_at) | date: 'MMM d, y, h:mm:ss a' }}</p>
          <p>Updated {{ companyContact.contact.contact_updated_at | timeAgo }}</p>

        </ion-label>

      </ion-item>
    </ion-list>

    <ion-item-divider>
      <ion-label>
        Notes
      </ion-label>
    </ion-item-divider>

    <form [class.editor-inactive]="!editorFocused" [class.editor-focused]="editorFocused" [formGroup]="noteForm" *ngIf="noteForm">
      <ion-item *ngIf="['Suggested', 'Accepted', 'Rejected'].indexOf(noteForm.controls.type.value) == -1">
        <div tabindex="0"></div>
        <ion-label position="floating">Type</ion-label>
        <ion-select formControlName="type">
          <ion-select-option>Internal Note</ion-select-option>
          <ion-select-option>Phone Call</ion-select-option>
          <ion-select-option>Email</ion-select-option>
          <ion-select-option>Meeting</ion-select-option>
          <ion-select-option>Interview</ion-select-option>
          <ion-select-option>Task</ion-select-option>
        </ion-select>
      </ion-item>

      <ckeditor [config]="editorConfig" #ckeditor [editor]="Editor" (focus)="onEditorFocus()"
                (change)="onChange($event)"></ckeditor>

      <ion-item>
        <div tabindex="0"></div>

        <ion-buttons slot="start">

          <ion-button [disabled]="addingNote || !noteForm.valid" (click)="save()">
            <span *ngIf="!addingNote">
              <ng-container *ngIf="this.editNoteData && !this.editNoteData.note_uuid">Submit</ng-container>
              <ng-container *ngIf="this.editNoteData && this.editNoteData.note_uuid">Update</ng-container>
            </span>
            <ion-spinner *ngIf="addingNote"></ion-spinner>
          </ion-button>

          <ion-button color="danger" (click)="resetNoteForm()">
            <span>Cancel</span>
          </ion-button>

        </ion-buttons>
      </ion-item>
    </form>

    <ion-list *ngIf="this.editNoteData && !this.editNoteData.note_uuid && notes.length > 0">
      <note *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>
    </ion-list>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </div>
</ion-content>
