<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!this.authService.isLogged || !this.authService.navEnable">
      <ion-header>
        <ion-toolbar class="ion-text-center" style="height:auto;">
          <img class='logo' src="assets/icon/icon.png" width=100 />

          <ion-button fill="clear" class="btn-theme" (click)="changeTheme()">
            <ion-icon *ngIf="authService.theme == 'night'" slot="icon-only" name="moon-outline"></ion-icon>
            <ion-icon *ngIf="authService.theme != 'night'" slot="icon-only" name="partly-sunny-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list class="labels-list">

          <ion-menu-toggle auto-hide="false">
            <ion-item class="item-candidate-selection" *ngIf="candidateIdCardService.candidates.length > 0">
              <div tabindex="0"></div>
              <ion-label>
                <span *ngIf="candidateIdCardService.candidates.length == 1">
                  <span class="count">{{ candidateIdCardService.candidates.length }}</span> Candidate selected
                </span>
                <span *ngIf="candidateIdCardService.candidates.length > 1">
                  <span class="count">{{ candidateIdCardService.candidates.length }}</span> Candidates selected
                </span>
              </ion-label>

              <ion-button (click)="clearCandidateSelection()">
                <ion-icon name="close-outline" slot="start"></ion-icon> Deselect all
              </ion-button>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/default" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>Candidate Management</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/candidate-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>All Candidates</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/candidate-search" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Candidates [Beta]</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" *ngIf="totalCandidateToReview > 0" routerLink="/candidate-review-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>
                Candidates Requiring Review
              </ion-label>

              <ion-badge slot="end">
                {{ totalCandidateToReview }}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="assignedIncompleteCandidates > 0">
            <ion-item routerDirection="root" routerLink="/incomplete-candidate-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Assigned Incomplete Candidates</ion-label>
              <ion-badge color="danger">{{assignedIncompleteCandidates}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="candidateBankInfo > 0">
            <ion-item routerDirection="root" routerLink="/candidate-bank-info-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Candidates Missing Bank Info</ion-label>
              <ion-badge color="danger">{{candidateBankInfo}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="expiredIdCount && (expiredIdCount > 0)">
            <ion-item routerDirection="root" routerLink="/expired-id" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="repeat-outline" slot="start"></ion-icon>
              Renew Expired ID
              <ion-badge slot="end" *ngIf="expiredIdCount && (expiredIdCount > 0)">
                {{ expiredIdCount }}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-list class="labels-list">
          <ion-list-header>Client Management</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/company-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="briefcase-outline"></ion-icon>
              <ion-label>Clients</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="companyFollowUp > 0">
            <ion-item routerDirection="root" routerLink="/company-followup-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="briefcase-outline"></ion-icon>
              <ion-label>
                Clients requiring followup
              </ion-label>
              <ion-badge slot="end">
                {{ companyFollowUp }}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/company-request-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start"  name="hand-left-outline"></ion-icon>
              <ion-label>
                Requests
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

         <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/mall-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="business-outline"></ion-icon>
              <ion-label>
                Malls
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-list class="labels-list">
          <ion-list-header>Reports</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/university-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="school-outline" slot="start"></ion-icon>
              University
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/country-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              Nationality
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/change-password" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="key-outline" slot="start"></ion-icon>
              Change Password
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" tappable>
            <ion-item (click)="logout()" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              logout
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<!-- service worker update message -->

<update-alert (onRefresh)="onUpdateAlertRefresh()" *ngIf="updatesAvailable" (onClose)="onUpdateAlertClose()">
</update-alert>
