<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!this.authService.isLogged || !this.authService.navEnable">
      <ion-header>
        <ion-toolbar class="ion-text-center" style="height:auto;">
          <img class='logo' src="assets/icon/icon.png" width=100 />

          <ion-button fill="clear" class="btn-theme" (click)="changeTheme()">
            <ion-icon *ngIf="authService.theme == 'night'" slot="icon-only" name="moon-outline"></ion-icon>
            <ion-icon *ngIf="authService.theme != 'night'" slot="icon-only" name="partly-sunny-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list class="labels-list">

          <ion-menu-toggle auto-hide="false">
            <ion-item class="item-candidate-selection" *ngIf="candidateService.candidates.length > 0">
              <div tabindex="0"></div>
              <ion-label>
                <span *ngIf="candidateService.candidates.length == 1">
                  <span class="count">{{ candidateService.candidates.length }}</span> Candidate selected
                </span>
                <span *ngIf="candidateService.candidates.length > 1">
                  <span class="count">{{ candidateService.candidates.length }}</span> Candidates selected
                </span>
              </ion-label>

              <ion-button (click)="clearCandidateSelection()">
                <ion-icon name="close-outline" slot="start"></ion-icon> Deselect all
              </ion-button>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/default" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>Candidate Management</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/candidate-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>All Candidates</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/candidate-search" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Candidates [Beta]</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/fulltimer-search" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Fulltimer</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-list class="labels-list">
          <ion-list-header>Client Management</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/company-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="earth-outline" slot="start"></ion-icon>
              <ion-label>Clients</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="companyFollowUp > 0">
            <ion-item routerDirection="root" routerLink="/company-followup-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
              <ion-label>
                Clients requiring followup
              </ion-label>
              <ion-badge slot="end">
                {{ companyFollowUp }}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/company-request-dashboard" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
              <ion-label>
                Requests
              </ion-label>
              <ion-badge slot="end">
                {{ totalRequest }}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-list class="labels-list">
          <ion-list-header>Reports</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/report-list" routerLinkActive="active" detail="false">
              <div tabindex="0"></div>
              <ion-icon slot="start" name="newspaper-outline"></ion-icon>
              <ion-label>
                Reports
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" tappable>
            <ion-item (click)="logout()" detail="false">
              <div tabindex="0"></div>
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              logout
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<!-- service worker update message -->

<update-alert (onRefresh)="onUpdateAlertRefresh()" *ngIf="updatesAvailable" (onClose)="onUpdateAlertClose()">
</update-alert>
