<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Skills" }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="max-width">
      <ion-list class="candidateSkills" *ngIf="skillList">

        <ion-item *ngFor="let s of tmpSkill;let i=index;">

          <ion-input id="input[{{ i }}]" placeholder="{{ 'Type a skill' }}"
            [(ngModel)]="skillList[i]" (ionFocus)="validateSkills()"
            (ionChange)="change($event, i, s)" type="text" enterkeyhint="{{ 'Next'}}" (keyup)="nextOnEnter($event, i)"></ion-input>

          <ion-button fill="clear" tabindex="-1" item-right *ngIf="skillList[i]" fill="clear" (click)="removeSkill(i,s)"
            class="skip-hover">
            <img src="assets/images/ic_circledCancel.svg">
          </ion-button>
        </ion-item>
      </ion-list>

      <ion-button (click)="save()" class="btn-submit" [disabled]="(this.candidate && this.candidate.candidateSkills && this.candidate.candidateSkills.length == this.skillList.length)  || this.skillList.length < 1 || loading" type="submit">
        Submit
      </ion-button>

  </div>
</ion-content>
