<ion-content>
  <div class="drager"></div>

  <h3>
    <ion-back-button (click)="filter()" mode="md"></ion-back-button> Filter Results
    <ion-button (click)="reset()" class="btn-close">
      Reset
    </ion-button>
  </h3>

  <ng-container *ngIf="tab== 'request'">
    <h5>Request Type</h5>
    <ion-button class="btn-option" (click)="filterByStatus($event, null)" [class.active]="filters.requestStatus == null">All</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'latest')" [class.active]="filters.requestStatus == 'latest'">latest</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'pending')" [class.active]="filters.requestStatus == 'pending'">Pending</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 're_work')" [class.active]="filters.requestStatus == 're_work'">Re-work</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'started')" [class.active]="filters.requestStatus == 'started'">Started</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'delivered')" [class.active]="filters.requestStatus == 'delivered'">Delivered</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'cancelled')" [class.active]="filters.requestStatus == 'cancelled'">Cancelled</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'finished_by_recruitment')" [class.active]="filters.requestStatus == 'finished_by_recruitment'">Finished</ion-button>
    <ion-button class="btn-option" (click)="filterByStatus($event, 'need-update')" [class.active]="filters.requestStatus == 'need-update'">Need update</ion-button>
    <h5>Job Type</h5>

    <ion-button class="btn-option" (click)="filterByType($event, null)" [class.active]="filters.position_type == null">All</ion-button>
    <ion-button class="btn-option" (click)="filterByType($event, 2)" [class.active]="filters.position_type == 2">Part-time</ion-button>
    <ion-button class="btn-option" (click)="filterByType($event, 1)" [class.active]="filters.position_type == 1">Full-time</ion-button>
  </ng-container>

  <ng-container *ngIf="tab== 'story'">
    <h5>Story Status</h5>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, null)" [class.active]="filters.storyStatus == null">All</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '10')" [class.active]="filters.storyStatus == '10'">latest</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '9')" [class.active]="filters.storyStatus == '9'">Unstarted</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '1')" [class.active]="filters.storyStatus == '1'">Started</ion-button>
    <!--
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '7')" [class.active]="filters.storyStatus == '7'">Re-Work</ion-button>
-->
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '2')" [class.active]="filters.storyStatus == '2'">Finihsed</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '3')" [class.active]="filters.storyStatus == '3'">Delivered</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '4')" [class.active]="filters.storyStatus == '4'">Rejected</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '5')" [class.active]="filters.storyStatus == '5'">Accepted</ion-button>
    <ion-button class="btn-option" (click)="filterByStoryStatus($event, '6')" [class.active]="filters.storyStatus == '6'">Cancelled</ion-button>

    <h5>Job Type</h5>

    <ion-button class="btn-option" (click)="filterByType($event, null, 'story')" [class.active]="filters.story_position_type == null">All</ion-button>
    <ion-button class="btn-option" (click)="filterByType($event, 2, 'story')" [class.active]="filters.story_position_type == 2">Part-time</ion-button>
    <ion-button class="btn-option" (click)="filterByType($event, 1, 'story')" [class.active]="filters.story_position_type == 1">Full-time</ion-button>

  </ng-container>
  <ion-grid *ngIf="tab == 'request'" class="request_filter">
    <ion-row>
      <ion-col size="6">
          <h5>From</h5>
          <ion-input [(ngModel)]="filters.startDate" id="startDate" class="ion-text-center"></ion-input>
          <app-date-popup presentation="date" key="startDate" (onClose)="filterDate($event,'startDate')"></app-date-popup>
      </ion-col>
      <ion-col size="6">
          <h5>To</h5>
        <ion-input [(ngModel)]="filters.endDate" id="endDate" class="ion-text-center"></ion-input>
        <app-date-popup presentation="date" key="endDate" (onClose)="filterDate($event,'endDate')"></app-date-popup>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="btn-filter" (click)="filter()">
    Filter Results
  </ion-button>
</ion-content>
