ion-back-button {
  display: block;
}

ion-footer{
  div{font-size:1.1em;}
}

input[type="file"] {
  position: absolute;
  visibility: hidden;
}

.date-range {
  margin-bottom: 0;
  
  .btn-clear-date-range {
    --padding-start: 0;
    --padding-end: 5px;
    position: relative;
    top: -5px;
    left: 5px;
  }
}
