<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Note</ion-title>

    <ion-buttons slot="end" *ngIf="note">

      <ion-button (click)="edit()">
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
        Edit
      </ion-button>

      <ion-button (click)="delete()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Delete
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="container">
    <div *ngIf="note">
      <ion-card>
        <ion-badge>
          {{ note.note_type }}
        </ion-badge>

        <p class="note">

          <b *ngIf="note.updatedBy && note.updatedBy.staff_id" [routerLink]="'/team-view/' + note.updatedBy.staff_id">{{ note.updatedBy.staff_name }}:&nbsp;</b>
          
          <b *ngIf="note.updatedBy && note.updatedBy.candidate_id" [routerLink]="'/candidate-view/' + note.updatedBy.candidate_id">
            {{ note.updatedBy.candidate_name }}:&nbsp;
          </b>

          <span [innerHTML]="note.note_text"></span>
        </p>

        <p class="txt-time">
          {{ note.note_updated_datetime | timeAgo }} on
          {{ toDate(note.note_created_datetime) | date: 'MMM d, y' }}
        </p>
      </ion-card>

      <ion-item *ngIf="note.candidate" [routerLink]="'/candidate-view/' + note.candidate_id">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Candidate</h5>
          <p>{{ note.candidate.candidate_name }}</p>
        </ion-label>
      </ion-item>

      <!-- + '/' + note.companyContact.company_id-->
      <ion-item *ngIf="note.companyContact && note.companyContact.contact" [routerLink]="'/company-contact-view/' + note.contact_uuid ">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Company Contact</h5>
          <p>{{ note.companyContact.contact.contact_name }}</p>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="note.company" [routerLink]="'/company-view/' + note.company_id">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Company</h5>
          <p>{{ note.company.company_name }}</p>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="note.request" [routerLink]="'/request-view/' + note.request_uuid">
        <div tabindex="0"></div>
        <ion-label>
          <h5>Request</h5>
          <p>
            {{ note.request.request_number_of_employees }}
            <span *ngIf="note.request.request_position_type == 1">Full-time</span>
            <span *ngIf="note.request.request_position_type == 2">Part-time</span>
            {{ note.request.request_position_title }}
          </p>
        </ion-label>
      </ion-item>

    </div>

  <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </div>
</ion-content>
