<ion-item tappable lines="none">
  <div tabindex="0"></div>
  <ion-avatar slot="start" *ngIf="company.company_logo">
    <img *ngIf="company.company_logo" src="{{ aws.cloudinaryUrl + company.company_logo }}"
         (error)="loadLogo($event,company)">
    <img *ngIf="!company.company_logo" src="/assets/icon/icon.png">
  </ion-avatar>

  <ion-label class="ion-text-wrap">
    <h2 *ngIf="company.company_common_name_en">{{ company.company_common_name_en }}</h2>
    <h2 *ngIf="!company.company_common_name_en">{{ company.company_name }}</h2>
    <div class="small-detail">
      <p>
        {{company.company_hourly_rate | number:'1.0-3' }} KD per hour<br/>
        <span>{{company.company_bonus_commission | number:'1.0-2' }} </span>% commission
      </p>
      <ng-container *ngIf="page =='follow'">
        <p>@ {{ toDate(company.company_last_followup_datetime) | date: 'MMM d, y, h:mm:ss a' }}</p>
        <p>{{ company.company_last_followup_datetime | timeAgo }}</p>
      </ng-container>
    </div>
    <ion-badge class="company_status_badge danger" slot="start" *ngIf="!company.company_status && !company.parent_company_id">
      Inactive
    </ion-badge>
    <ion-badge class="company_status_badge success" slot="start" *ngIf="company.company_status && !company.parent_company_id">
      Active
    </ion-badge>
    <ion-badge slot="start" color="light" *ngIf="totalCandidates > 0">
      {{ totalCandidates }} assigned staff
    </ion-badge>
    <ion-badge slot="start" color="light" *ngIf="company.subCompanies && company.subCompanies.length > 0">
      {{ company.subCompanies.length }} sub-companies
    </ion-badge>
    <ion-badge slot="start" color="light" *ngIf="company.stores.length > 0">
      {{ company.stores.length }} stores
    </ion-badge>
    <ion-badge slot="start" color="light" *ngIf="company.total_candidate && !company.transferInLast40Days">
      40 days passed without payment
    </ion-badge>
  </ion-label>
</ion-item>
