
ion-card {
  margin: 7px 4px 16px 5px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    
  position: relative;
  
  ion-card-content {
    padding-bottom: 16px!important;
  }
}

ion-badge {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin-right: 10px;
  border-radius: 8px;
  background-color: var(--ion-color-custom-8);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: left;
  color: var(--ion-color-custom-5);
  padding:7px;
}

ion-badge {
  ion-icon {
      position: relative;
      top: 2px;
  }
}

h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);
  width: 64%;

  .active {
    color:#29b564;
  }
}
p {
  margin: 5px 0 16px 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);
}
.small-detail {
  margin-bottom: 8px;
}

.company_status_badge {
  position: absolute;
  top: 17px;
  right: 15px;
}
.company_status_badge {
  margin-right: 12px;
  font-size: 12px;
  text-align: center;
  color: var(--ion-color-primary-contrast);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--ion-color-custom-22);
}

.company_status_badge.danger {
  background-color: var(--ion-color-custom-12);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: var(--ion-color-custom-23);
}

ion-badge.success {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: var(--ion-color-custom-24);
}
ion-badge.danger {
  --background: var(--ion-color-custom-23);
}
ion-avatar {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
ion-grid{
  border-top: 1px solid var(--ion-color-custom-4);
}
ion-col {
  padding-left: 39px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-17);
  ion-img {
    position: absolute;
    top: 8px;
    left: 12px;
  }
}
