<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">

    <h2>Select role</h2>

    <ion-buttons class="btn-wrapper">

      <ion-button (click)="onRoleSelected('Owner')">
        Owner
      </ion-button>
      
      <ion-button (click)="onRoleSelected('HR')">
        HR
      </ion-button>
      
      <ion-button (click)="onRoleSelected('Finance')">
        Finance
      </ion-button>

      <ion-button (click)="onRoleSelected('Other')">
        Other
      </ion-button>
    </ion-buttons>

  </div>
</ion-content>
