<ion-split-pane>
  <!-- Menu Left -->
  <ion-menu #menuLeft side="left" type="overlay" [content]="loggedInContent">
    <ion-header>
      <ion-toolbar text-center style="height:auto;">
        <img class='logo' src="assets/icon.png"/>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-list-header>Candidate Management</ion-list-header>

        <button ion-item (click)="loadPage('summary')">
          <ion-icon name="stats" item-left></ion-icon>
          Summary
        </button>
        
        <button ion-item (click)="loadPage('candidates')">
          <ion-icon name="person" item-left></ion-icon>
          Candidates
        </button>

        <button ion-item (click)="loadPage('companies')">
          <ion-icon name="briefcase" item-left></ion-icon>
          Stores
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>ID Cards</ion-list-header>

        <button ion-item (click)="loadPage('generateId')">
          <ion-icon name="barcode" item-left></ion-icon>
          Print ID Cards
          <ion-badge item-right *ngIf="printIdCount && (printIdCount > 0)">
            {{ printIdCount }}
          </ion-badge>
        </button>

        <button ion-item (click)="loadPage('expiredId')">
          <ion-icon name="repeat" item-left></ion-icon>
          Renew Expired ID
          <ion-badge item-right *ngIf="expiredIdCount && (expiredIdCount > 0)">
            {{ expiredIdCount }}
          </ion-badge>
        </button>

      </ion-list>
      <ion-list>
        <ion-list-header>Reports</ion-list-header>

        <button ion-item (click)="loadPage('university')">
          <ion-icon name="school" item-left></ion-icon>
          University
        </button>

        <button ion-item (click)="loadPage('country')">
          <ion-icon name="globe" item-left></ion-icon>
          Nationality
        </button>

        <button ion-item (click)="loadPage('change-password')">
            <ion-icon name="key" item-left></ion-icon>
            Change Password 
        </button>

        <button ion-item (click)="logout()">
          <ion-icon name="ios-log-out" item-left></ion-icon>
          Logout
        </button>

      </ion-list>
    </ion-content>
  </ion-menu>

   <!-- Nav -->
   <ion-nav #loggedInContent swipeBackEnabled="true" [root]="rootPage" main></ion-nav>
</ion-split-pane>