

.contact-list a {
    text-decoration: none;

    ion-icon {
        top: 2px;
        position: relative;
        color: var(--ion-color-step-600, #666666);
    }
}

.meta-data {
  font-size: small;
  color: var(--ion-color-secondary);
}

.date {
  font-size: small;
  margin: 0;
  color: var(--ion-color-medium);
}

.status {
  color: #fff!important;
  padding: 2px 15px;
  border-radius: 10px;
}
.status_4 {
  background: green;
}

.status_10 {
  background: grey;
}

.status_5 {
  background: burlywood;
}

.status_1,
.status_2 {
  background: yellowgreen;
}

.status_3 {
  background: #387ef5;
}
//.welcome-card {
//  width: 100px;
//}

ckeditor {
  width: 100%;
  margin-top: 15px;
}
.icon-location {
  margin-right: 12px;
}
.brand {
  ion-item {
    margin: 0 12px 12px;
    //padding: 12px 17px 12px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }
  h2 {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  ion-badge {
    padding: 5px 9px 5px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    border-radius: 0;
  }
}

.mall {
  ion-item {
    margin: 0 12px 12px;
    //padding: 12px 17px 12px 21px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }
  ion-badge {
    padding: 5px 9px 5px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    border-radius: 0;
  }
  section,ion-list {
    background: #fafafa;
  }
  h3{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

}
