ion-content {
    --padding-start: 30px;
    --padding-end: 30px;

    ion-thumbnail {
        max-height: 71px;
        margin-bottom: 7px;
        margin-top: -12px;
    }

    h3 {
        margin: 23px 0px 0 0px;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .company-name-arabic,
    .company-name-english {
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        margin: 0px 0 0 0px;
    }

    .arabic {
        font-family: 'Droid Arabic Kufi';
        direction: rtl;
    }

    .last-activity {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;

        p {
            margin: 0;
        }

        .followup {
            font-size: 14px;
            color: #219653;
        }
    }

    .email {
        margin: 13px 0 10px 0px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .hourly-rate {
        margin: 10px 0 13px 0;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .description {
        margin: 18px 0 10px 0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .website {
        margin: 10px 0 27px 0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2f80ed;
        text-decoration: none;
    }

    h5 {
        margin: 27px 0 24px 0px;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .btn-add-note,
    .btn-view-notes {
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        width: 100%;
        height: 41px;
        text-transform: none;
        margin: 0;
        --background: none;
        --box-shadow: none;
    }

    .btn-add-note {
        margin-top: 15px;
    }

    note {
        margin: 0 0 9px;
    }

    ion-item {
        --inner-border-width: 0;
        --padding-top: 3px;
        --padding-end: 0px;
        --padding-bottom: 3px;
        --padding-start: 21px;
        --background: none;
        margin-bottom: 9px;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);

        ion-label {
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.65;
            letter-spacing: normal;
            text-align: left;
            color: #000;
        }

        ion-note {
            font-weight: bold;
            text-align: center;
            width: 34px;
            height: 25px;
            margin: 13px 0 0;
            padding: 5px 9px 2px;
            background-color: #f2f2f2;
        }
    }
}

ion-footer ion-button {
    width: calc(100% - 28px);
    height: 53px;
    border-radius: 5px;
    --background: #219653;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: none;
    display: block;
    margin: 11px 14px;
    --box-shadow: none;
}
ion-item {
  ion-badge {
    background-color: #f2f2f2;
    border-radius: 1px;
    color: #000;
    font-size: 12px;
    padding: 10px 15px;
    font-weight: bold;
  }
}
ion-grid, ion-col, ion-row {
  padding: 0;
}
.left-side {
  padding-right: 60px;
}
.right-side {
  padding-top: 165px;
  ion-item{
    background: #fff;
  }
}
@media only screen and (max-width:767px){
  .left-side {
    padding-right: 0;
  }

  .right-side {
    padding-top: 0;
  }
}
