<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="company-list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="company">{{ company.company_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="company">

    <ion-item lines="none">
      <ion-label>
        <h3>Followup</h3>
        <ion-chip color="primary" *ngIf="company.company_followup">
          Yes
        </ion-chip>
        <ion-chip color="light" *ngIf="!company.company_followup">
          No
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="company.company_followup">
      <ion-button (click)="addFollowupNote()">
        I have followed up with this company
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Last Followup</h3>
        <p>@ {{ toDate(company.company_last_followup_datetime) | date: 'MMM d, y, h:mm:ss a' }}</p>
      </ion-label>
    </ion-item>

    <!-- If Main Company -->
    <section *ngIf="company.company_email">
      <ion-item-divider color="light">
        <ion-label>
          Contact
        </ion-label>
      </ion-item-divider>

      <ion-item href='mailto:{{ company.company_email }}'>
        <ion-label>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          {{ company.company_email }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          {{ company.company_common_name_en }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ company.company_common_name_ar }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ company.company_description_en }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ company.company_description_ar }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ company.company_website }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-button expand="full" color="danger" (click)="uploadDocument()">
          <span>Upload Document</span>
        </ion-button>
      </ion-item>

      <ion-item-divider color="light">
        <ion-label>
          Payment
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          Bonus Commission(%) - {{ company.company_bonus_commission }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Hourly Rate - {{ company.company_hourly_rate | number:'1.3-3' }} KWD
        </ion-label>
      </ion-item>

    </section>

    <!-- If Subcompany -->

    <section *ngIf="!company.company_email">
      <ion-item-divider color="light">
        <ion-label>
          Payment
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          Bonus Commission(%) - {{ company.company_bonus_commission }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Hourly Rate - {{ company.company_hourly_rate | number:'1.3-3' }} KWD
        </ion-label>
      </ion-item>
    </section>

  </ion-list>

  <!-- Subcompany List -->

  <section *ngIf="subCompanies && subCompanies.length > 0">

    <ion-item-divider color="light">
      <ion-label>
        Companies under this company
      </ion-label>
    </ion-item-divider>

    <ion-item-sliding *ngFor="let company of subCompanies" [disabled]="platform.width() > 768">
      <ion-item tappable (click)="rowSelected(company)">

        <ion-label>
          {{ company.company_name }}
        </ion-label>

        <ng-container *ngIf="platform.width() > 450">
          <ion-badge slot="end" *ngIf="company.total_candidates > 0">
            {{ company.total_candidates }} candidates
          </ion-badge>
          <ion-badge slot="end" *ngIf="company.subCompanies && company.subCompanies.length > 0">
            {{ company.subCompanies.length }} sub-companies
          </ion-badge>
          <ion-badge slot="end" *ngIf="company.stores.length > 0">
            {{ company.stores.length }} stores
          </ion-badge>
        </ng-container>

        <ng-container *ngIf="platform.width() <= 449">
          <div slot="end" class="end">
            <ion-badge *ngIf="company.total_candidates > 0">
              {{ company.total_candidates }} candidates
            </ion-badge>
            <ion-badge *ngIf="company.subCompanies && company.subCompanies.length > 0">
              {{ company.subCompanies.length }} sub-companies
            </ion-badge>
            <ion-badge *ngIf="company.stores.length > 0">
              {{ company.stores.length }} stores
            </ion-badge>
          </div>
        </ng-container>

      </ion-item>
    </ion-item-sliding>
  </section>

  <!-- Store List -->

  <section *ngIf="stores && stores.length > 0">

    <ion-item-divider color="light">
      <ion-label>
        Stores
      </ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item tappable *ngFor="let store of stores" (click)="storeSelected(store)">
        <ion-label>
          {{ store.store_name }}
        </ion-label>

        <ion-badge slot="end" *ngIf="store.store_total_candidates > 0">
          {{ store.store_total_candidates }} candidates
        </ion-badge>
      </ion-item>
    </ion-list>
  </section>

  <!-- Brand List -->

  <section>

    <ion-item-divider color="light">
      <ion-label>
        Brands
      </ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item tappable *ngFor="let brand of brands">
        <ion-thumbnail slot="start">
          <ion-img *ngIf="brand.brand_logo" [src]="awsService.cloudinaryUrl + 'company-brand/' + brand.brand_logo">
          </ion-img>
          <ion-img *ngIf="!brand.brand_logo" src="assets/images/placeholder.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ brand.brand_name_en }}
        </ion-label>
      </ion-item>
    </ion-list>
  </section>

  <!-- request List -->
  
  <section *ngIf="!loading && company">

    <ion-item-divider color="light">
      <ion-label>
        Requests
      </ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item-sliding *ngFor="let request of company.requests">
        <ion-item tappable (click)="editRequest(request)">

          <ion-label>
            {{ request.request_position_title }}<br />
            <small>{{ request.request_created_datetime | date}}</small>
          </ion-label>

          <ion-badge color="primary" *ngIf="request.request_status == 'pending'">pending</ion-badge>
          <ion-badge color="secondary" *ngIf="request.request_status == 'started'">started</ion-badge>
          <ion-badge color="success" *ngIf="request.request_status == 'delivered'">delivered</ion-badge>
          <ion-badge color="light" *ngIf="request.request_status == 'cancelled'">cancelled</ion-badge>

          <ion-buttons slot="end" *ngIf="platform.width() > 768 && request.request_status == 'pending'">
            <ion-button (click)="startRequest($event, request)">
              <ion-icon slot="start" name="play-outline"></ion-icon>
              Start working on this request
            </ion-button>
          </ion-buttons>

          <ion-buttons slot="end" *ngIf="platform.width() > 768 && request.request_status == 'started'">
            <ion-button (click)="deliveredRequest($event, request)">
              <ion-icon slot="start" name="checkmark-outline"></ion-icon>
              Mark delivered
            </ion-button>
          
            <ion-button color="danger" (click)="cancelledRequest($event, request)">
              <ion-icon slot="start" name="close-outline"></ion-icon>
              Mark cancelled
            </ion-button>
          </ion-buttons>
          
        </ion-item>
        <ion-item-options side="end">
          <ion-button (click)="startRequest($event, request)" *ngIf="request.request_status == 'pending'">
            <ion-icon slot="start" name="play-outline"></ion-icon>
            Start working on this request
          </ion-button>
          
          <ion-button (click)="deliveredRequest($event, request)" *ngIf="request.request_status == 'started'">
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
            Mark delivered
          </ion-button>

          <ion-button color="danger" (click)="cancelledRequest($event, request)" *ngIf="request.request_status == 'started'">
            <ion-icon slot="start" name="close-outline"></ion-icon>
            Mark cancelled
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <ion-button expand="full" color="danger" (click)="addRequest()">
          <span>Add New Request</span>
        </ion-button>
      </ion-item>
    </ion-list>
  </section>

  <!-- note -->
  <section *ngIf="!loading && company">

    <ion-item-divider color="light">
      <ion-label>
        Notes
      </ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item-sliding *ngFor="let note of company.notes">
        <ion-item tappable>
          <ion-label>
            {{ note.note_text }}<br/>
            <small>{{ note.note_created_datetime | date}}</small>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </section>

  <!-- Contact List -->

  <section>

    <ion-item-divider color="light">
      <ion-label>
        Contacts
      </ion-label>
    </ion-item-divider>

    <ion-list class="contact-list">
      <ion-item-sliding *ngFor="let companyContact of companyContacts" [disabled]="platform.width() > 768">
        <ion-item tappable (click)="onContactSelected(companyContact)">
          <ion-label>
            <h4>{{ companyContact.contact_name }}</h4>
            <p>
              {{ companyContact.contact_position }}
            </p>
            <p>
              <a href="mailto:{{ companyContactEmail.email_address }}" (click)="doNothing($event)"
                *ngFor="let companyContactEmail of companyContact.companyContactEmails">
                <ion-icon name="mail-outline"></ion-icon> {{ companyContactEmail.email_address }}
              </a>
            </p>
            <p>
              <a href="tel:{{ companyContactPhone.phone_number }}" (click)="doNothing($event)"
                *ngFor="let companyContactPhone of companyContact.companyContactPhones">
                <ion-icon name="call-outline"></ion-icon> {{ companyContactPhone.phone_number }}
              </a>
            </p>
          </ion-label>

          <ion-buttons slot="end" *ngIf="platform.width() > 768">
            <ion-button color="danger" (click)="deleteContact($event, companyContact)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-buttons>

        </ion-item>

        <ion-item-options side="end">
          <ion-button color="danger" (click)="deleteContact($event, companyContact)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item lines="none">
        <ion-button (click)="addCompanyContact()">
          Add New Contact
        </ion-button>
      </ion-item>
    </ion-list>
  </section>

  <loading-modal [loading]="loading" type="university-view"></loading-modal>

</ion-content>
