ion-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);

  .active {
    color:#29b564;
  }
}

 ion-content.day ion-item {
    background-color: var(--ion-card-background);
    //
}

 ion-content.night ion-item {
    background-color: var(--ion-color-light-tint);
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    background: var(--ion-color-custom-9);
    --background: var(--ion-color-custom-9);

    ion-thumbnail {
        max-height: 71px;
        margin-bottom: 7px;
        margin-top: -12px;
    }

    h3 {
        margin: 23px 0px 0 0px;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-light-contrast);
    }

    ion-badge {
        ion-icon {
            position: relative;
            top: 2px;
        }
    }

    .company-name-arabic,
    .company-name-english {
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-light-contrast);
        margin: 0px 0 0 0px;
    }

    .arabic {
        font-family: "Droid Arabic Kufi";
        direction: rtl;
    }

    .last-activity {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-light-contrast);

        p {
            margin: 0;
        }

        .followup {
            font-size: 14px;
            color: var(--ion-color-custom-32);
        }
    }

    .email {
        margin: 13px 0 10px 0px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-light-contrast);
    }

    .hourly-rate {
        margin: 10px 0 13px 0;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-light-contrast);
    }

    .description {
        margin: 8px 4px 8px 4px;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-custom-17);

        P {
            margin-top: 0;
        }
    }

    .website {
        margin: 10px 4px 27px 4px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-custom-14);
    }

    h5 {
        margin: 27px 0 24px 0px;
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-light-contrast);
    }

    .btn-add-note,
    .btn-view-notes {
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
        background-color: var(--ion-card-background);
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: center;
        color: var(--ion-color-light-contrast);
        width: 100%;
        height: 41px;
        text-transform: none;
        margin: 0;
        --background: none;
        --box-shadow: none;
    }

    .btn-add-note {
        margin-top: 15px;
    }

    note {
        margin: 0 0 9px;
    }

    ion-item {
        --inner-border-width: 0;
        --padding-top: 0;
        --padding-end: 0px;
        --padding-bottom: 0;
        --padding-start: 0;
        --background: none;
        margin: 0 4px 16px 4px;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
       
        ion-label {
            margin: 0;

            h5 {
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: var(--ion-color-custom-6);
                margin: 0 0 4px 0;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: left;
                color: var(--ion-color-custom-5);
            }
        }

        ion-icon {
            margin: 12px 0 12px 4px;
            padding: 4px;
            background-color: var(--ion-color-custom-42);
            font-size: 16px;
            border-radius: 100%;
            fill: var(--ion-color-custom-7);
        }
    }
}

ion-footer ion-button {
    width: calc(100% - 48px);
    --background: var(--ion-color-custom-14);
    text-transform: none;
    display: block;
    margin: 24px 24px;
    --box-shadow: none;
    height: 56px;
    --border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-primary-contrast);
}

ion-item {
    ion-badge {
        background-color: var(--ion-color-custom-28);
        border-radius: 1px;
        color: var(--ion-color-light-contrast);
        font-size: 12px;
        padding: 10px 15px;
        font-weight: bold;
    }
}

.company_status_badge {
    position: absolute;
    top: 17px;
    right: 15px;
}
.company_status_badge {
    margin-right: 12px;
    font-size: 12px;
    text-align: center;
    color: var(--ion-color-primary-contrast);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: var(--ion-color-custom-22);
}

.company_status_badge.danger {
    background-color: var(--ion-color-custom-12);
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: var(--ion-color-custom-23);
}

ion-badge.success {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: var(--ion-color-custom-24);
}

ion-badge.danger {
    --background: var(--ion-color-custom-23);
}

.tab-details,
.tab-activity {
    h5 {
        margin: 4px 4px 16px 4px;
        margin-right: 4px;

        span {
            color: var(--ion-color-custom-7);
        }
    }
}

.tab-details {
    ul {
        list-style: none;
        padding: 0;
        margin: 16px 0 24px 0;

        li {
            margin-bottom: 10px;
        }

        ion-icon {
            font-size: 24px;
            float: left;
            margin-inline-end: 4px;
        }

        b {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: var(--ion-color-custom-5);
            text-transform: uppercase;
        }

        ion-note {
            float: right;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: right;
            color: var(--ion-color-custom-17);
        }
    }
}

ion-segment-button {
    text-transform: inherit;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-custom-5);
}

ion-segment-button.segment-button-checked {
    font-weight: 600;
    color: var(--ion-color-custom-44);
    --indicator-color: var(--ion-color-custom-44);
    --border-color: var(--ion-color-custom-44);
}

.tab-manage {
    ion-col {
        padding: 0px 6px;
    }
}

ion-grid,
ion-col,
ion-row {
    padding: 0;
}

.tab-stats {
    ion-card {
      border-radius: 13px;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: var(--ion-card-background);
      background-clip: border-box;
      border: 1px solid rgba(34, 41, 47, 0.125);
      border-radius: 0.5rem;
  
      //margin-bottom: 2.2rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.5rem;
  
      text-align: center;
  
      .avatar {
        white-space: nowrap;
        background-color: var(--ion-color-custom-46);
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        color: var(--ion-color-primary-contrast);
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 0.75rem;
        text-align: center;
        vertical-align: middle;
        //margin: 5px;
        margin: 5px auto !important;
        width: 46px;
        height: 46px;
  
        .avatar-content {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
  
          ion-icon {
            font-size: 21px;
          }
        }
      }
  
      .bg-rgba-success {
        background: rgba(40, 199, 111, 0.15) !important;
      }
  
      .bg-rgba-primary {
        background: rgba(115, 103, 240, 0.15) !important;
      }
  
      .bg-rgba-danger {
        background: rgba(234, 84, 85, 0.15) !important;
      }
  
      .bg-rgba-warning {
        background: rgba(255, 159, 67, 0.15) !important;
      }
  
      .text-primary {
        color: var(--ion-color-custom-47) !important;
      }
  
      .text-success {
        color: var(--ion-color-custom-48) !important;
      }
  
      .text-danger {
        color: var(--ion-color-custom-49) !important;
      }
  
      .text-warning {
        color: var(--ion-color-custom-50) !important;
      }
  
      .p-50 {
        padding: 0.5rem !important;
      }
  
      .mb-1,
      .my-1 {
        margin-bottom: 1rem !important;
      }
  
      .mb-0,
      .my-0 {
        margin-bottom: 0 !important;
      }
  
      .m-0 {
        margin: 0 !important;
      }
  
      h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 700 !important;
        line-height: 1.2;
        color: var(--ion-color-custom-51);
      }
  
      p {
        color: rgb(98, 98, 98);
        font-size: 14px !important;
        margin: 0;
      }
  
      ion-card-header {
        font-weight: bold;
        color: var(--ion-color-light-contrast);
        white-space: normal;
      }
    }
  }
  