<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="company && !loading">
      <ion-button (click)="update()">
        Update
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <loading-modal [loading]="loading" type="company-view"></loading-modal>

  <div *ngIf="company && !loading">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <div class="left-side">
            <h3 class="company-name">

              <ion-thumbnail *ngIf="company.company_logo">
                <img src="{{ aws.cloudinaryUrl + company.company_logo }}" (error)="imageError()">
              </ion-thumbnail>

              {{ company.company_name }}
            </h3>

            <h4 class="company-name-english">
              {{ company.company_common_name_en }}
            </h4>

            <h4 class="company-name-arabic arabic">
              {{ company.company_common_name_ar }}
            </h4>

            <div class="last-activity">
              <p class="followup">
                <ng-container *ngIf="company.company_status && !company.parent_company_id">Active.</ng-container>
                <ng-container *ngIf="company.company_status && !company.parent_company_id">Inactive.</ng-container>
                <span *ngIf="company.company_followup">
                Follow up every {{ company.company_followup_interval_weeks }} weeks
              </span>
              </p>

              <p class="last-followup" *ngIf="company.company_last_followup_datetime">
                Last follow-up was {{ company.company_last_followup_datetime | timeAgo }} on {{ toDate(company.company_last_followup_datetime) | date: 'MMM d, y' }}
              </p>
            </div>

            <p class="email" *ngIf="company.company_email">{{ company.company_email }}</p>

            <p class="hourly-rate" *ngIf="company.company_hourly_rate">
              {{ company.company_hourly_rate | number:'1.3-3' }} KD per hour <br />
              {{ company.company_bonus_commission | number:'1.0-0' }}% commission
            </p>

            <p class="description" *ngIf="company.company_description_en"> {{ company.company_description_en }}</p>

            <p class="description arabic" *ngIf="company.company_description_ar">{{ company.company_description_ar }}</p>

            <a class="website" href="{{ company.company_website }}" target="_blank" *ngIf="company.company_website">{{ company.company_website }}</a>

            <h5 *ngIf="notes.length > 0">Last Activity</h5>

            <note *ngIf="notes.length > 0" [routerLink]="'/note-view/' + notes[0].note_uuid" from="company-view" [note]="notes[0]"
                  (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>

            <ion-button class="btn-view-notes" *ngIf="notes.length > 1" (click)="openNotes()">
              View all {{ notes.length }} notes
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <div class="right-side">
            <h5>Manage</h5>

            <ion-item tappable (click)="openRequests()">
              <ion-label>Requests</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.requests }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openStores()" *ngIf="stats.subCompanies == 0">
              <ion-label>Stores</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.stores }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openSubCompanies()" *ngIf="stats.stores == 0">
              <ion-label>Subcompanies</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.subCompanies }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openContacts()">
              <ion-label>Contacts</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.contacts }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openBrands()">
              <ion-label>Brands</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.brands }}</ion-badge>
            </ion-item>

            <ion-item tappable *ngIf="stats.malls > 0" (click)="openMalls()">
              <ion-label>Malls present in</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.malls }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openDocuments()">
              <ion-label>Documents</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.documents }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openTransfers()">
              <ion-label>Transfers</ion-label>
              <ion-badge color="medium" slot="end">{{ stats.transfers }}</ion-badge>
            </ion-item>

            <ion-item tappable (click)="openChart()">
              <ion-label>Transfer Chart</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<!-- if followup enabled and followup interval passed -->
<ion-footer *ngIf="followup && isFollowUpIntervalPassed()">
  <ion-button (click)="addFollowupNote()">
    I followed up
  </ion-button>
</ion-footer>
