.ais-SearchBox {
    margin-bottom: 5px; 
    
    .ais-SearchBox-submit {
        display: none;
    }

    input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: solid 1px #aaaaaa;
        font-size: 16px;
        padding: 15px 20px;
        background-size: 19px 19px;
        background-repeat: no-repeat;
        background-image: url(../../../assets/images/searchbar.png);
        background-color: var(--ion-item-background);
    }

    input:active,
    input:focus {
        outline: none;
    }

    input::placeholder {
        color: rgba(155, 155, 155, 0.6);
    }
}

[dir="ltr"].ais-SearchBox input {
    background-position: 10px 10px;
    padding-left: 40px;
}

[dir="rtl"].ais-SearchBox input {
    background-position: calc(100% - 10px) 10px;
    padding-right: 40px;
    line-height: 2;
}
