<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Universities</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button *ngFor="let university of universities" ion-item (click)="rowSelected(university)">
      {{ university.university_name_en }}

      <ion-badge item-right *ngIf="university.total_candidates > 0">
          {{ university.total_candidates }} candidates
        </ion-badge>
    </button>  
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>
</ion-content>

<ion-footer></ion-footer>