ion-card {
  margin:14px 0 0 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--ion-card-background);

  ion-card-content {
    padding: 0;
    .inner-card-content {
      padding: 16px 12px;
    }
  }
  h1 {
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-6);
  }
  h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-34);
  }
  ion-icon[name='checkmark-outline'] {
    background: var(--ion-color-custom-29);
    color: var(--ion-card-background);
    border-radius: 50%;
  }

  ion-icon[name='close-outline'] {
    background: var(--ion-color-custom-29);
    color: var(--ion-card-background);
    border-radius: 50%;
  }
  .time {
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-7);
  }
  ion-badge {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-5);
  }
  .txt-additional-info {
    padding: 16px 0;
  }
  .content-footer {
    padding: 11px;
    border-top: 2px solid var(--ion-color-custom-4);
  }
}
//
//    ion-card-header {
//        margin: 0;
//        position: relative;
//        background-color: var(--ion-color-custom-30);
//        margin-bottom: 0;
//
//        ion-card-title {
//            font-size: 21px;
//            font-weight: bold;
//            font-stretch: normal;
//            font-style: normal;
//            line-height: 1.31;
//            letter-spacing: normal;
//            text-align: left;
//            color: var(--ion-color-light-contrast);
//        }
//
//        ion-card-subtitle {
//            font-size: 16px;
//            font-weight: bold;
//            font-stretch: normal;
//            font-style: normal;
//            line-height: 1.31;
//            letter-spacing: normal;
//            text-align: left;
//            color: var(--ion-color-light-contrast);
//        }
//
//        p {
//            font-size: 16px;
//            font-weight: normal;
//            font-stretch: normal;
//            font-style: normal;
//            line-height: 1.31;
//            letter-spacing: normal;
//            text-align: left;
//            color: var(--ion-color-light-contrast);
//            margin: 10px 0 5px 0;
//        }
//    }
//
//    ion-card-content {
//        position: relative;
//        border-radius: 5px;
//        background-color: var(--ion-card-background);
//        border: solid 1px var(--ion-color-custom-2);
//
//        font-size: 16px;
//        font-weight: normal;
//        font-stretch: normal;
//        font-style: normal;
//        line-height: 1.65;
//        letter-spacing: normal;
//        text-align: left;
//        color: var(--ion-color-light-contrast);
//        padding: 17px 24px 55px 24px;
//
//        .content-footer {
//          position: absolute;
//          bottom: 0;
//          width: 100%;
//          left: 0;
//          padding:9px;
//
//          p {
//            font-size: 12px;
//            font-weight: bold;
//            font-stretch: normal;
//            font-style: normal;
//            line-height: 1.43;
//            letter-spacing: normal;
//            text-align: center;
//            color: var(--ion-card-background);
//            margin: 0;
//            padding: 0;
//          }
//        }
//
//        ion-badge {
//          margin: 0 5px 0 0px;
//
//          ion-icon {
//            float: left;
//          }
//        }
//
//        .txt-additional-info {
//          margin: 8px 0 9px;
//          font-family: EffraLight;
//          font-size: 14px;
//          font-weight: normal;
//          font-stretch: normal;
//          font-style: normal;
//          line-height: 1.65;
//          letter-spacing: normal;
//          text-align: left;
//        }
//
//        h1 {
//          font-size: 18px;
//          font-weight: bold;
//          font-stretch: normal;
//          font-style: normal;
//          line-height: 1.65;
//          letter-spacing: normal;
//          text-align: left;
//          color: var(--ion-color-light-contrast);
//        }
//        h3 {
//          font-size: 16px;
//          font-weight: normal;
//          font-stretch: normal;
//          font-style: normal;
//          line-height: 1.65;
//          letter-spacing: normal;
//          text-align: left;
//        }
//        h5 {
//          font-size: 16px;
//          font-weight: bold;
//          font-stretch: normal;
//          font-style: normal;
//          line-height: 1.65;
//          letter-spacing: normal;
//          text-align: left;
//          color: var(--ion-color-light-contrast);
//          margin-top: 40px;
//          margin-bottom: 10px;
//        }
//
//        .time {
//          font-size: 14px;
//          font-weight: normal;
//          font-stretch: normal;
//          font-style: normal;
//          line-height: 1.65;
//          letter-spacing: normal;
//          text-align: left;
//          color: var(--ion-color-light-contrast);
//        }
//    }
//}
//
//.pending ion-card-header {
//    background-color: var(--ion-color-custom-31);
//}
//
//.background-red {
//  background: var(--ion-color-custom-23)
//}
//
//.background-grey {
//  background: var(--ion-color-custom-28);
//
//  p {
//    color: var(--ion-color-light-contrast) !important;
//  }
//}
//
//.background-green {
//  background: var(--ion-color-custom-32)
//}
//
//.pending-request {
//  padding: 17px 24px 52px 24px!important;
//}
//
//.invitation-time {
//  border: solid 1px var(--ion-color-custom-2);
//  border-radius: 4px;
//  padding: 5px 10px;
//  background: var(--ion-color-custom-20);
//  margin: 10px 0;
//}
.working {
  color: var(--ion-color-custom-29);
  font-weight: bold;
  margin-top: 16px;
}
.status {
  background-color: var(--ion-color-custom-14)!important;
  color: var(--ion-card-background)!important;
}

ion-button {
  text-transform: none;
}
 