<ion-card [class.pending]="request.request_status == 'pending'">
  <ion-card-content [class.pending-request]="!request.staff">
    <h1>{{ request.company.company_common_name_en? request.company.company_common_name_en: request.company.company_name }}</h1>
    <h3>
      Looking for <b>{{ request.request_number_of_employees }}
      <span *ngIf="request.request_position_type == 1">Full-time</span>
      <span *ngIf="request.request_position_type == 2">Part-time</span>
      {{ request.request_position_title }}</b>
    </h3>

    <p *ngIf="request.request_additional_info" class="txt-additional-info">{{ request.request_additional_info }} </p>
    <small class="time">Request made {{ request.request_created_datetime | timeAgo }} </small>
    <div *ngIf="request" class="content-footer" [class.background-red]="!this.active" [class.background-green]="this.active">
      <p *ngIf="!request.staff">Please pick up</p>
      <ng-container *ngIf="request.staff">
        <p>{{ request.staff.staff_name  }} is handling it</p>
        <p>Last updated {{ request.request_updated_datetime | timeAgo }} </p>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
