<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="staff-expense-list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="expense">Staff Expense on {{ expense.purchase_date }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="expense">
    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Expense ID</h5>
        <p>{{ expense.staff_expense_uuid }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Supplier</h5>
        <p>{{ expense.supplier }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Category</h5>
        <p>{{ expense.categoryLbl }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Total Amount</h5>
        <p>{{expense.currency}}{{ expense.total_amount }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="expense.vat">
      <div tabindex="0"></div>
      <ion-label>
        <h5>vat</h5>
        <p>{{ expense.vat }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Reimbursable</h5>
        <p>{{ (expense.reimbursable) ? 'Yes' : 'No' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Description</h5>
        <p>{{ expense.description }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>File</h5>
        <p>{{ expense.file }}</p>
        <ion-button *ngIf="expense.file"
                    [href]="getFileUrl()" target="_blank">
          <ion-icon name="cloud-download-outline"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Status</h5>
        <p>{{ expense.statusLbl }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Created at</h5>
        <p>{{ expense.created_at }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div tabindex="0"></div>
      <ion-label>
        <h5>Updated at</h5>
        <p>{{ expense.updated_at }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
