<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/fulltimer-view/{{ fulltimer_uuid }}"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="add()">
        Add note
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <h3>Notes</h3>

  <h4 *ngIf="fulltimer">
    {{ fulltimer.fulltimer_name }} 
  </h4>

  <note *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid" 
    [note]="note"></note>

  <loading-modal [loading]="loading" type="note-list"></loading-modal>

</ion-content>
