<ion-header [class.add-border]="borderLimit" class="ion-no-border">

  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="container">
    <ion-title *ngIf="staff">{{ staff.staff_name }}</ion-title>
  </ion-toolbar>

  <ion-toolbar  class="container">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="details">

      <ion-segment-button  mode="md" value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button  mode="md" value="work-history">
        <ion-label>Work History</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="staff && segment == 'details'">
      
        <ion-item lines="none">
          <div tabindex="0"></div>
          <ion-label position="stacked">Name</ion-label>
          <ion-input disabled value="{{ staff.staff_name }}"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <div tabindex="0"></div>
          <ion-label position="stacked">Email</ion-label>
          <ion-input disabled value="{{ staff.staff_email }}"></ion-input>
        </ion-item>
        
        <ion-item lines="none" *ngIf="authService.staff_id == staff_id">
          <div tabindex="0"></div>
          <ion-label position="stacked">Password</ion-label>
          <ion-input disabled value="*********"></ion-input>
        </ion-item>

        <ion-button *ngIf="authService.staff_id == staff_id" (click)="changePassword()" class="btn-change-pwd">
          Change Password
        </ion-button>
    </ion-list>

    <div *ngIf="segment == 'work-history'">
      <ion-list>
        <note tappable *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>
      </ion-list>

      <no-items message = "No notes yet!" *ngIf="!loading && !loadMore && notes.length == 0"></no-items>

      <loading-modal [loading]="loading || loadMore" type="text-list"></loading-modal>
    </div>

  </div>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
