<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="staff">{{ staff.staff_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="!loading && staff">
      <section>
        <ion-item>
          <div tabindex="0"></div>
          <ion-label>
            <h3>Name</h3>
            <p>{{ staff.staff_name }}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <div tabindex="0"></div>
          <ion-label>
            <h3>Email</h3>
            <p>{{ staff.staff_email }}</p>
          </ion-label>
        </ion-item>
      </section>
    </ion-list>

    <ion-list-header>
      <ion-label>List Notes</ion-label>
    </ion-list-header>

    <ion-list *ngIf="!loading">
      <section>
        <note tappable *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>
      </section>
    </ion-list>

    <no-items message = "No notes yet!" *ngIf="!loading && !loadMore && notes.length == 0"></no-items>

    <loading-modal [loading]="loading || loadMore" type="text-list"></loading-modal>
  </div>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
