<ion-header [class.add-border]="borderLimit" class="ion-no-border">

  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view/company-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="container">
    <ion-title *ngIf="staff">{{ staff.staff_name }}</ion-title>
  </ion-toolbar>

  <ion-toolbar  class="container">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="details">

      <ion-segment-button  mode="md" value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button  mode="md" value="work-history">
        <ion-label>Work History</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="staff && segment == 'details'">
        <ion-item lines="none">
          <ion-label>
            <h5>Name</h5>
            <p>{{ staff.staff_name }}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h5>Email</h5>
            <p>{{ staff.staff_email }}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h5>Password</h5>
            <p>*********</p>
          </ion-label>
        </ion-item>
    </ion-list>

    <div *ngIf="segment == 'work-history'">

      <ion-card [class.warning]="suggestion.suggestion_status != 3"
        [class.success]="suggestion.suggestion_status == 3" class="card-story"
        *ngFor="let suggestion of suggestions">

        <h3 *ngIf="suggestion.candidate">{{ suggestion.candidate.candidate_name }}</h3>
        <h3 *ngIf="suggestion.fulltimer">{{ suggestion.fulltimer.fulltimer_name }}</h3>

        <!--<h3>{{ suggestion.candidate_name }}</h3>-->

        <h4>{{ suggestion.request.request_position_title }}</h4>

        <h5 *ngIf="suggestion.request.company">{{ suggestion.request.company.company_name }}</h5>

        <p *ngIf="suggestion.note">
          {{ suggestion.note.note_text }}
        </p>
      </ion-card>

      <ion-card class="success card-story">
        <h3>Sherif Kamal</h3>

        <h4>Chief Accountant</h4>
        <h5>Food Labs</h5>

        <p>This is the reason for the client. And this is the pending state of the story.</p>
      </ion-card>

      <!--
      <ion-list>
        <note tappable *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>
      </ion-list>-->

      <no-items message = "No history yet!" *ngIf="!loading && !loadMore && suggestions.length == 0"></no-items>

      <loading-modal [loading]="loading || loadMore" type="text-list"></loading-modal>
    </div>

  </div>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="staff && segment == 'details'" class="ion-text-center ion-no-border ion-transparent">
  <ion-button *ngIf="authService.staff_id == staff_id" [routerLink]="['/change-password/']" class="btn-change-pwd">
    Change Password
  </ion-button>
</ion-footer>
