<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>

    </ion-buttons>
    <ion-title>Assigned & Expired Civil ID ({{total}})</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="exportData()" *ngIf="candidatelistData && candidatelistData.length > 0">
        <span *ngIf="!exporting">Export</span>
        <ion-spinner *ngIf="exporting"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    
    <ion-searchbar [(ngModel)]="searchBar" (ionChange)="loadData(this.currentPage)" debounce="200" animated>
    </ion-searchbar>

    <ion-list>
      <candidate [candidate]="candidate" tappable (click)="rowSelected(candidate)" (refresh)="loadData(1)" *ngFor="let candidate of candidatelistData"></candidate>
    </ion-list>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

    <no-items *ngIf="!loading && candidatelistData && candidatelistData.length == 0" message="No Expired ID">
    </no-items>
  </div>
  
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
