<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Time Log" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <div class="max-width">
    <div *ngIf="candidateWorkingHourData">
      <ng-container *ngFor="let hour of candidateWorkingHourData">
        <h2>{{hour.date | date : 'mediumDate'}}</h2>
        <ion-card [routerLink]="['/log-hour-list',hour.candidate_id,hour.date]" >
          <ion-card-content>
            <h3>{{secondsToTime(hour.total_time)}}</h3>
            <span>{{getStartTime(hour) | date: "shortTime"}} -> {{getEndTime(hour) | date: "shortTime"}}</span>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </div>
    <p *ngIf="candidateWorkingHourData && candidateWorkingHourData.length == 0">No record found</p>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
