<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">

    <h1>Team Currently working on</h1>
    <ng-container *ngIf="staffs && staffs.length > 0">
      <div *ngFor="let staff of staffs">
        <h1>{{staff.staff_name}}</h1>
        <ng-container *ngIf="staff.activeStory && staff.activeStory.length > 0">
          <ion-card *ngFor="let activity of staff.activeStory">
            <ion-card-content>
              <h2>
                {{activity.request.request_position_title}} for 
                <ng-container *ngIf="activity.request.company">
                  {{activity.request.company.company_name}}
                </ng-container>
                time spent {{getTimeSpent(activity.story_time_spent)}}
              </h2>
            </ion-card-content>
          </ion-card>
        </ng-container>

        <ng-container *ngIf="!staff.activeStory || staff.activeStory.length == 0">
          <ion-card>
            <ion-card-content>
              <h2>No Work record found</h2>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ion-content>
