<ion-header mode="md">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="container">
    <ion-title>
      ID Generation request
      <span *ngIf="model">
         #{{ model.cir_uuid }} 
      </span>
    </ion-title>
    <ion-buttons slot="end" *ngIf="model && model.status== 'pending'">
      <ion-button color="danger" (click)="delete()">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <div class="container">

    <ng-container *ngIf="!loading && model">
      
      <div class="status-wrapper">
        <h2>{{model.status}}</h2>
        <p *ngIf="model.status == 'pending'">
          You will get link here to download zip file, once it will be processed</p>

        <p *ngIf="model.status == 'processing'">
        Processing your request, You will get link here to download zip file, once it will be processed</p>

        <p *ngIf="model.status == 'completed'">
          <a [href]="awsService.permanentBucketUrl + 'id-cards/' + model.cir_uuid + '.zip'" *ngIf="model.status == 'completed'">
            {{ awsService.permanentBucketUrl + 'id-cards/' + model.cir_uuid + '.zip' }}
          </a>
        </p>   
      </div>

      <p class="txt-time">
        <ion-icon src="assets/images/icon-updated-on.svg"></ion-icon> 
        Updated on  <span>{{ translateService.toDate(model.updated_at) | date: 'MMM d, y, h:mm:ss a' }}</span>
      </p>

      <p class="txt-time">
        <ion-icon src="assets/images/icon-transfer-time.svg"></ion-icon>  
        Created on <span>{{ translateService.toDate(model.created_at) | date: 'MMM d, y, h:mm:ss a' }}</span>
      </p>

      <p class="txt-time" *ngIf="model.staff">
        <ion-icon name="user"></ion-icon>  
        Created by <span>{{ model.staff.staff_name }}</span>
      </p>

      <br />
      <br />

    </ng-container>
  </div>

</ion-content>
