ion-back-button {
    display: block;
}

ion-content{
  background: #f7f8fa;
  --background: #f7f8fa;
}

ion-list {
  background: inherit;
  margin-top: 23px;
}

.title {
  margin: 23px 0 3px 3px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.company-name {
  margin: 3px 0 29px 3px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

ion-item {
  //margin: 0 1px 9px 1px;
  //border-radius: 5px;
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  ion-badge {

    //margin: 0 6px 0 0;
    //padding: 5px 10px;
    //background-color: #f2f2f2;
    //font-size: 12px;
    //font-weight: normal;
    //font-stretch: normal;
    //font-style: normal;
    //line-height: normal;
    //letter-spacing: normal;
    //text-align: center;
    //color: #000;
    //border-radius: 2px;
  }
}

h5 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #23233d;
}
.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: #4c70f2;
  box-shadow: 0 4px 12px 0 rgba(38, 56, 121, 0.3);
  
  ion-icon {
    color:#fff;
  }
}
.main {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #23233d;
}

.secondary{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d8d;
  padding-bottom: 17px;
}

.setting-icon{
  color:#7d7d8d;
}

ion-card {
  border-radius: 8px;
  ion-badge {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #f5f5f7;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #68687a;
    margin: 7px 7px 12px 12px;
  }
}
.brand-badge {
  padding: 5px 0;
  border-top: 1px solid #e2e2e6;
}
.toggle-icon{
  color:#7d7d8d;
}
