<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/company-view/{{ this.company_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-list>
    <ion-item tappable (click)="brandSelected(brand)" lines="none" class="ion-text-wrap" *ngFor="let brand of brands">
      <div tabindex="0"></div>
      <ion-thumbnail slot="start" *ngIf="brand.brand_logo">
        <ion-img *ngIf="brand.brand_logo" [src]="awsService.cloudinaryUrl + 'company-brand/' + brand.brand_logo">
        </ion-img>
        <ion-img *ngIf="!brand.brand_logo" src="assets/images/placeholder.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap">
        <h2>{{ brand.brand_name_en }}</h2>
      </ion-label>
      <ion-badge slot="end" color="light" *ngIf="brand.store_count > 0">{{brand.store_count}} stores</ion-badge>
      <ion-badge slot="end" color="light" *ngIf="brand.candidate_count > 0">{{brand.candidate_count}} staff</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button (click)="addBrand()">
    Add New Brand
  </ion-button>
</ion-footer>