ion-item {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #4b4b61;
    --inner-border-width: 0;

    ion-icon {
        margin-inline-end: 4px;
    }
}