<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-back-button defaultHref="/"></ion-back-button>
     
    </ion-buttons>
    <ion-title>Assigned Incomplete Candidates <span *ngIf="!loading && totalCount">({{totalCount}})</span></ion-title>

<!--    <ion-buttons slot="end">-->
<!--      <ion-button color="primary" [disabled]="candidateIdCardService.candidates.length == 0 || downloading" (click)="generate()">-->
<!--        <span *ngIf="!downloading">Download Zip</span>-->
<!--        <ion-spinner *ngIf="downloading"></ion-spinner>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    [(ngModel)]="SearchBar"
    animated
    debounce="200"
    (ionChange)="search()">
  </ion-searchbar>

  <ion-list>
    <ng-container *ngIf="!loading">
      <candidate [candidate]="candidate" (refresh)="search()" *ngFor="let candidate of candidates"></candidate>
    </ng-container>

    <no-items *ngIf="!loading && candidates && candidates.length == 0" message="No candidate data available"></no-items>

    <loading-modal [loading]="loading || paginationLoading" type="candidate-list"></loading-modal>

  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event , 'assigned')">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--<ion-footer *ngIf="!loading">-->
<!--  <ion-button expand="full" (click)="create()">-->
<!--    Create-->
<!--  </ion-button>-->
<!--</ion-footer>-->
