<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="close()"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ operation }}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="form && !form.valid" (click)="save()">
        <span *ngIf="!saving">Save</span>
        <ion-spinner *ngIf="saving"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
    <ion-list>

      <ion-item *ngIf="['Suggested', 'Accepted', 'Rejected'].indexOf(form.controls.type.value) == -1">
        <div tabindex="0"></div>
        <ion-label position="floating">Note Type</ion-label>
        <ion-select formControlName="type">
          <ion-select-option>Internal Note</ion-select-option>
          <ion-select-option>Phone Call</ion-select-option>
          <ion-select-option>Email</ion-select-option>
          <ion-select-option>Meeting</ion-select-option>
          <ion-select-option>Interview</ion-select-option>
          <ion-select-option>Task</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <div tabindex="0"></div>
        <ion-label position="floating">Contact</ion-label>
        <ion-select formControlName="contact">
          <ion-select-option value="{{ companyContact.contact_uuid }}" *ngFor="let companyContact of companyContacts">{{ companyContact.contact_name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="company">
        <div tabindex="0"></div>
        <ion-label position="floating">Request</ion-label>
        <ion-select formControlName="request" interface="popover">
          <ng-container *ngFor="let request of company.requests">
            <ion-select-option value="{{ request.request_uuid }}" *ngIf="request.request_status == 'started'">
              {{ request.request_position_title }} -
              <span *ngIf="request.request_position_type == 1">Fulltime</span>
              <span *ngIf="request.request_position_type == 2">Partime</span>
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item-divider class="ckeditor-title">
        <ion-label>
          Candidate or fulltimer note is about
        </ion-label>
      </ion-item-divider>

      <ckeditor [config]="editorConfig" #ckeditor [editor]="Editor" (change)="onChange($event)">
      </ckeditor>
      
    </ion-list>
  </form>
</ion-content>
