<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Stores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let store of stores">
      <button ion-item (click)="rowSelected(store)">
        {{ store.store_name }}

        <ion-badge item-right *ngIf="store.candidates?.length > 0">
          <ion-icon name="person"></ion-icon> {{ store.candidates.length }}
        </ion-badge>
      </button>  

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(store)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>

<ion-footer>
  <button ion-button full (click)="create()">
    Add a store
  </button>
</ion-footer>