.loginCard{
  max-width:350px;
  margin-left: auto;
  margin-right: auto;
}

.contentArea{
  background: #231f20;
  --background: #231f20;
}

.brand {
  margin-top: 20px;
  margin-bottom:20px;
  text-align: center;

  img{
    width: 180px;
  }
}

.authArea button{
  margin-bottom:7px;
}

.login-btn {
  background: none;
  --background: transparent;
  box-shadow: none;
  --box-shadow: none;
  border: 1px solid gray;
  color: gray;
}

ion-item.field-password {
  ion-input {
      --padding-end: 30px;
  }

  .btn-password { 
      position: absolute;
      bottom: 0;
      z-index: 111;
      opacity: 0.7;
      background: transparent;
      top: 7px;
      right: 0;

      ion-icon {
          font-size: 22px;
          color: #000;
      } 
  }
}

