<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mall List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <ion-list *ngIf="!loading">
    <section>

      <ion-item-sliding *ngFor="let mall of malls" [disabled]="platform.width() > 768">
        <ion-item tappable (click)="rowSelected(mall)" lines="none">
          <div tabindex="0"></div>
          <h3>{{ mall.mall_name_en }}</h3>

          <ion-badge slot="end" color="light" *ngIf="mall.candidate_count > 0">
            {{ mall.candidate_count }} staff
          </ion-badge>

          <ion-buttons slot="end" *ngIf="platform.width() > 768">
            <ion-button color="primary" (click)="create($event, mall)">
              <ion-icon slot="start" name="pencil-outline"></ion-icon>
              Edit
            </ion-button>
            <ion-button color="danger" (click)="delete($event, mall)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-buttons>

        </ion-item>

        <ion-item-options side="end">
          <ion-button color="primary" (click)="create($event, mall)">
            <ion-icon slot="start" name="pencil-outline"></ion-icon>
            Edit
          </ion-button>
          <ion-button color="danger" (click)="delete($event, mall)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-button>
        </ion-item-options>

      </ion-item-sliding>
    </section>
  </ion-list>
  <loading-modal [loading]="loading || loadMore" type="text-list"></loading-modal>
  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="create($event)">
    Add New Mall
  </ion-button>
</ion-footer>

