<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/view/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Suggestion Backlog <small *ngIf="total && !loading">(Total : {{total}})</small></ion-title>
  </ion-toolbar>
  <ion-toolbar class="container"  [class.hidden]="borderLimit">
    <ion-button (click)="filter('all')">All </ion-button>
    <ion-button (click)="filter('rejected')">Rejected </ion-button>
    <ion-button (click)="filter('unstarted')">Un Started </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <div class="container">

    <ion-list *ngIf="!loading">
      <section>
        <h2 *ngIf="stories && stories.length == 0" >No Story Available</h2>
        <ion-card tappable *ngFor="let story of stories" (click)="rowSelected(story)">

          <ion-card-header *ngIf="story.request">
            <ion-card-subtitle>
                <span *ngIf="story.request.request_position_type == 1">Full-time -</span>
                <span *ngIf="story.request.request_position_type == 2">Part-time -</span>
              {{story.request.request_position_title}}</ion-card-subtitle>
            <ion-card-title>for</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p *ngIf="story.request && story.request.company">
              {{story.request.company.company_name}}
            </p>

            <ion-badge color="primary" *ngIf="story">
              <span *ngIf="story.story_status == 0"> Unstarted </span>
              <span *ngIf="story.story_status == 1"> Started </span>
              <span *ngIf="story.story_status == 3"> Delivered </span>
              <span *ngIf="story.story_status == 4"> Rejected </span>
              <span *ngIf="story.story_status == 5"> Accepted </span>
              <span *ngIf="story.story_status == 6">Cancelled </span>
            </ion-badge>
          </ion-card-content>
        </ion-card>

      </section>
    </ion-list>

    <loading-modal [loading]="loading || loadMore" type="text-list"></loading-modal>
  </div>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
