<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="addCompanyContact()">Add Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-list class="contact-list">
    <h3 class="title">
      Contacts
    </h3>
    <h4 class="company-name" *ngIf="company">
      {{ (company.company_common_name_en) ?  company.company_common_name_en:company.company_name }}
    </h4>
    <ion-item *ngFor="let companyContact of companyContacts" tappable (click)="openContactDetail(companyContact)" lines="none">
      <div tabindex="0"></div>

      <ion-label>
        <h4>{{ companyContact.contact_name }}</h4>
        <h2>
          {{ companyContact.contact_position }}
        </h2>

        <p>
          <a href="mailto:{{ companyContactEmail.email_address }}" (click)="doNothing($event)"
            *ngFor="let companyContactEmail of companyContact.companyContactEmails">
            <ion-icon name="mail-outline"></ion-icon> {{ companyContactEmail.email_address }}
          </a>
        </p>
        <p>
          <a href="tel:{{ companyContactPhone.phone_number }}" (click)="doNothing($event)"
            *ngFor="let companyContactPhone of companyContact.companyContactPhones">
            <ion-icon name="call-outline"></ion-icon> {{ companyContactPhone.phone_number }}
          </a>
        </p>
        <p>
          <a *ngIf="companyContact.notes && companyContact.notes.length > 0">
            <ion-icon name="time-outline"></ion-icon> Last note was {{ companyContact.notes[0].note_updated_datetime | timeAgo }}
          </a>
        </p>
        <div class="counts">
          <ion-badge>
            {{ companyContact.requests.length }} requests
          </ion-badge>
          <ion-badge>
            {{ companyContact.notes.length }} notes
          </ion-badge>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
