ion-back-button {
    display: block;
}

ion-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);
}

ion-content {
  --padding-start: 24px;
  --padding-top: 24px;
  --padding-end: 24px;
  background: var(--ion-color-custom-9);
  --background: var(--ion-color-custom-9);
}

.searchbar-wrapper {
  padding: 0 20px;

  ion-searchbar {
    --background: var(--ion-color-custom-8);
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    --placeholder-color: var(--ion-color-custom-7);
    color: var(--ion-color-custom-10);
    --box-shadow: none;
    --min-height: 40px;
    --height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    --icon-color: rgba(125, 125, 141, 0.7);
  }

  ion-button {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 0 0 0 16px;
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
  }

  ion-button.active::after { 
    content: " ";
    background: red;
    background: var(--ion-color-primary);
    border-radius: 100%;
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    padding: 5px;
  }
}

ion-list {
  background: transparent;
  padding: 0 30px;
}

.title {
  margin: 23px 0 3px 3px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

.company-name {
  margin: 3px 0 29px 3px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

ion-card {
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--ion-card-background);
  margin: 0 0 16px 0;

  ion-card-header {
    padding: 0;
    height: 80px;
  }

  ion-item {
    --padding-top: 4px;
  }
  
  ion-thumbnail {
    width: 48px;
    height: 48px;
    flex-grow: 0;
    margin: 0 12px 0 0;
    padding: 8px;
    border-radius: 12px;
    background-color: var(--ion-color-custom-43);
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--ion-color-custom-6);
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-custom-5);
  }

  ion-button {
    --box-shadow: none;
    --background: var(--ion-card-background);

    ion-icon {
      font-size: 24px;
    }
  }

  ion-card-content {
    padding: 16px;
    border-top: 1px solid var(--ion-color-custom-4);
    background-color: var(--ion-card-background);

    p {
      text-decoration: none;
      margin-bottom: 4px;
    }
  
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: var(--ion-color-custom-17);
    }

    ion-icon {
      font-size: 24px;
      position: relative;
      top: 7px;
      margin-inline-end: 4px;
    }
  }
}

.setting-icon{
  color:var(--ion-color-custom-7);
}

.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: var(--ion-color-custom-14);
  box-shadow: 0 4px 12px 0 rgba(38, 56, 121, 0.3);
  
  ion-icon {
    color:var(--ion-color-primary-contrast);
  }
}

ion-chip {
  margin-bottom: 15px;
}

.btn-email-verified {
  --color: red; 
  text-transform: none;
}