<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/company-view/{{ this.company_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-list class="contact-list">
    <ion-item *ngFor="let companyContact of companyContacts" [routerLink]="'/company-contact-view/' + companyContact.contact_uuid">
      <div tabindex="0"></div>

      <ion-label>
        <h4>{{ companyContact.contact_name }}</h4>
        <p>
          {{ companyContact.contact_position }}
        </p>

        <p>
          <a href="mailto:{{ companyContactEmail.email_address }}" (click)="doNothing($event)"
            *ngFor="let companyContactEmail of companyContact.companyContactEmails">
            <ion-icon name="mail-outline"></ion-icon> {{ companyContactEmail.email_address }}
          </a>
        </p>
        <p>
          <a href="tel:{{ companyContactPhone.phone_number }}" (click)="doNothing($event)"
            *ngFor="let companyContactPhone of companyContact.companyContactPhones">
            <ion-icon name="call-outline"></ion-icon> {{ companyContactPhone.phone_number }}
          </a>
        </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <div tabindex="0"></div>
      <ion-button (click)="addCompanyContact()">
        Add New Contact
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
