ion-back-button {
    display: block;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

ion-list {
  background: transparent;
  padding: 0 30px;
}

.title {
  margin: 23px 0 3px 3px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.company-name {
  margin: 3px 0 29px 3px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

ion-item {
  margin: 0 1px 9px 1px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 5px 0;

  ion-badge {
    margin: 0 7px 0 0;
    padding: 5px 10px;
    background-color: #f2f2f2;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    border-radius: 2px;
  }
}

h4 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
h2{
  //margin: 21px 0 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 16px;
}
p {
  margin-bottom: 4px;
  a {
    //margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    text-decoration: none;
    ion-icon {
      font-size:18px;
      margin-right: 10px;
    }
  }
}

.counts {
  margin-top: 13px;
}

ion-icon {
  position: relative;
}

ion-icon[name="mail-outline"] {
  top: 4px;
}

ion-icon[name="call-outline"] {
  top: 4px;
}

ion-icon[name="time-outline"] {
  top: 4px;
}
.not-verified {
  color: red;
}
