<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="addCompanyContact()">Add Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list class="contact-list">

      <h3 class="title">
        Contacts
      </h3>

      <h4 class="company-name" *ngIf="company">
        {{ (company.company_common_name_en) ?  company.company_common_name_en:company.company_name }}
      </h4>

      <ion-item *ngFor="let companyContact of companyContacts" tappable (click)="openContactDetail(companyContact)" lines="none">
        <div tabindex="0"></div>

        <ion-label>
          <h4>{{ companyContact.contact_name }}</h4>

          <h2>
            {{ companyContact.contact_position }} <small>({{ companyContact.role }})</small>
          </h2>

          <p *ngIf="companyContact.contact_email">
            <a href="mailto:{{ companyContact.contact_email }}" (click)="doNothing($event)">
              <ion-icon name="mail-outline"></ion-icon> {{ companyContact.contact_email }}
            </a>
          </p>

          <p>
            <a href="mailto:{{ contactEmail.email_address }}" (click)="doNothing($event)"
              *ngFor="let contactEmail of companyContact.contactEmails">
              <ion-icon name="mail-outline"></ion-icon> {{ contactEmail.email_address }}
            </a>
          </p>

          <p>
            <a href="tel:{{ contactPhone.phone_number }}" (click)="doNothing($event)"
              *ngFor="let contactPhone of companyContact.contactPhones">
              <ion-icon name="call-outline"></ion-icon> {{ contactPhone.phone_number }}
            </a>
          </p>

          <!--
          <p>
            <a *ngIf="companyContact.contactStats.lastNotes">
              <ion-icon name="time-outline"></ion-icon> Last note was {{ companyContact.contactStats.lastNotes.note_updated_datetime | timeAgo }}
            </a>
          </p>

          <div class="counts">
            <ion-badge>
              {{ companyContact.contactStats.requests }} requests
            </ion-badge>
            <ion-badge>
              {{ companyContact.contactStats.notes }} notes
            </ion-badge>
          </div>
          -->
        </ion-label>
      </ion-item>

      <loading-modal type="contact-list" [loading]="loading"></loading-modal>

    </ion-list>

    <no-items *ngIf="!loading && companyContacts.length ==0" message="~ No Contact data ~"></no-items>
  </div>
</ion-content>
