ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
}

ion-back-button {
    display: block;
}

h3 {
    margin: 23px 0 0 0;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

h4 {
    margin: 0 0 28px 0;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

ion-footer {
  ion-button {
    width: calc(100% - 28px);
    height: 53px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    display: block;
    margin: 10px 14px;
    --box-shadow: none;
    --background: #333333;
    color: #ffffff;
  }
}
