ion-item {
  height: 80px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  --inner-border-width: 0;
  margin-bottom: 16px;
  
  ion-badge {
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #edfcf3;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ca7f3e;
    height: 28px;
    margin: 16px 0px 0 0;
  }

  .badge-paid {
    background-color: #fff7f0;
    color: #29b564;;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #23233d;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #68687a;
  }
}

ion-fab {
  bottom: 28px;
  right: 13px;
}

ion-back-button {
  display: block;
}

ion-header {
  padding-bottom: 24px;
}

ion-title {
  padding: 0 24px;
}

ion-content {
  background: #f7f8fa;
  --background: #f7f8fa;
  --padding-start: 24px; 
  --padding-end: 24px; 
  --padding-top: 24px; 
}

ion-title.main {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #23233d;
  margin-bottom: 4px;
}

ion-title.secondary {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d8d;
}

.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: #4c70f2;
  box-shadow: 0 4px 12px 0 rgba(38, 56, 121, 0.3);
  
  ion-icon {
    color:#fff;
  }
}