<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/fulltimer-search"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="fulltimer">{{ fulltimer.fulltimer_name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="update()">
        Update
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-segment (ionChange)="segmentChanged($event)" [value]="sections">
    <ion-segment-button value="personal">
      <ion-label>Personal</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notes">
      <ion-label>Notes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="sections == 'personal'">
    <ion-list *ngIf="!loading">

      <ion-item>
        <ion-label>
          <h5>Nationality</h5>
          <p>{{ fulltimer.nationality.country_name_en }}</p>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="fulltimer.area && fulltimer.country">
        <ion-label>
          <h5>Area</h5>
          <p>{{ fulltimer.area.area_name_en }}, {{ fulltimer.country.country_name_en }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h5>Email</h5>
          <p>{{ fulltimer.fulltimer_email }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h5>Phone</h5>
          <p>{{ fulltimer.fulltimer_phone }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h5>Resume</h5>
          <a target="_blank" *ngIf="fulltimer.fulltimer_pdf_cv"
             href="{{ getResumeUrl() }}">
            {{ fulltimer.fulltimer_pdf_cv }}
          </a>
          <a href=""></a>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="fulltimer.fulltimerTags">
        <ion-label>
          <h5>Tags</h5>
          <ion-chip *ngFor="let fulltimerTag of fulltimer.fulltimerTags">
            {{ fulltimerTag.tag }}
          </ion-chip>
        </ion-label>
      </ion-item>

      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Suggestion Acceptance Ratio</h5>
          <p *ngIf="fulltimer.acceptanceRatio">{{fulltimer.acceptanceRatio}} %</p>
          <p *ngIf="!fulltimer.acceptanceRatio">-</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Suggestion Rejection Ratio</h5>
          <p *ngIf="fulltimer.rejectionRatio">{{fulltimer.rejectionRatio}} %</p>
          <p *ngIf="!fulltimer.rejectionRatio">-</p>
        </ion-label>
      </ion-item>

    </ion-list>
  </ng-container>
  <ng-container *ngIf="sections == 'notes'">
    <!-- note -->

    <section>

      <form [class.editor-inactive]="!editorFocused" [class.editor-focused]="editorFocused" [formGroup]="noteForm" *ngIf="noteForm">
        <ion-item *ngIf="['Suggested', 'Accepted', 'Rejected'].indexOf(noteForm.controls.type.value) == -1">
          <div tabindex="0"></div>
          <ion-label position="floating">Type</ion-label>
          <ion-select formControlName="type">
            <ion-select-option>Internal Note</ion-select-option>
            <ion-select-option>Phone Call</ion-select-option>
            <ion-select-option>Email</ion-select-option>
            <ion-select-option>Meeting</ion-select-option>
            <ion-select-option>Interview</ion-select-option>
            <ion-select-option>Task</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-list>
          <ion-item (click)="openClient($event)">
            <div tabindex="0"></div>
            <ion-label position="floating">Company Name</ion-label>
            <ion-input type="text" formControlName="company_name" readonly></ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item (click)="openRequest($event)">
            <div tabindex="0"></div>
            <ion-label position="floating">Request</ion-label>
            <ion-input type="text" formControlName="request_name" readonly></ion-input>
          </ion-item>
        </ion-list>

        <ckeditor [config]="editorConfig" #ckeditor [editor]="Editor" (focus)="onEditorFocus()"
                  (change)="onChange($event)"></ckeditor>

        <ion-item lines="none">
          <div tabindex="0"></div>

          <ion-buttons slot="start">

            <ion-button [disabled]="addingNote || !noteForm.valid" (click)="addNote()">
              <span *ngIf="!addingNote">
                <ng-container *ngIf="this.editNoteData && !this.editNoteData.note_uuid">Submit</ng-container>
                  <ng-container *ngIf="this.editNoteData && this.editNoteData.note_uuid">Update</ng-container>
              </span>
              <ion-spinner *ngIf="addingNote"></ion-spinner>
            </ion-button>

            <ion-button color="danger" (click)="cancelAddNote()">
              <span>Cancel</span>
            </ion-button>

          </ion-buttons>
        </ion-item>
      </form>

      <ion-list *ngIf="this.editNoteData && !this.editNoteData.note_uuid">
        <note *ngFor="let note of notes" [routerLink]="'/note-view/' + note.note_uuid" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>
      </ion-list>
    </section>
  </ng-container>

  <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="suggest()">
    Suggest this candidate
  </ion-button>
</ion-footer>
