<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/company-view/{{ this.company_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ng-container *ngIf="company && company.subCompanies">
    <app-company [company]="company" *ngFor="let company of company.subCompanies" (click)="rowSelected(company)">
    </app-company>
  </ng-container>

  <loading-modal [loading]="loading" type="text-list"></loading-modal>

</ion-content>
<ion-footer>
  <ion-button (click)="create()">
    Create Sub Company
  </ion-button>
</ion-footer>