ion-back-button {
    display: block;
}

ion-content {
  background: var(--ion-color-custom-9);
  --background: var(--ion-color-custom-9);
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
}

.request-title {
  margin: 0 0 3px 3px;

  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

.company-name {
  margin: 3px 0 29px 3px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-light-contrast);
}

ion-list {
  background: transparent;
}

ion-title {
  padding-left: 24px;
  padding-right: 24px;
}

.main {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-6);
}

.secondary{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--ion-color-custom-7);
  padding-bottom: 17px;
}
.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: var(--ion-color-custom-14);
  ion-icon {
    color:var(--ion-color-primary-contrast);
  }
}
.setting-icon{
  color:var(--ion-color-custom-7);
}
