ion-back-button {
  display: block;
}

ion-footer {
  div {
    font-size: 1.1em;
  }
}

h4 {
  //padding: 0 21px;
  //margin: 13px 0 0 0;
  color: #000;
  font-size: 16px;
}

.card-date-range {
  p {
    margin-bottom: 0;
  }
  
  .btn-clear-date-range {
    --padding-start: 0;
    --padding-end: 5px;
    position: relative;
    top: -5px;
    left: 5px;
  }
}
