<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/candidate-view/{{ candidate_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <h3>Candidate Invitation</h3>

    <h4 *ngIf="candidate">
      {{ candidate.candidate_name }}
      <span *ngIf="!candidate.candidate_name">{{ candidate.candidate_name_ar }}</span>
    </h4>

    <ng-container *ngFor="let invitation of invitations">
<!--      <invitation [model]="invitation" (click)="suggest(invitation)" (onUpdate)="loadInvitations()"></invitation>-->
      <request-listing [request]="invitation.request" [invitation]="invitation" [showStatus]="status == 1" (click)="requestDetail(invitation.request)"></request-listing>
<!--      <request-listing [request]="invitation.request" [invitation]="invitation" (click)="suggest(invitation)"></request-listing>-->
    </ng-container>

    <loading-modal [loading]="loading" type="note-list"></loading-modal>
  </div>
</ion-content>
