<ion-content [attr.dir]="translateService.direction()">\
  
  <ion-item [disabled]="updatingEmail" (click)="updateEmail()" tappable>
    <div tabindex="0"></div>
    <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
    <span *ngIf="!updatingEmail">Update Email</span>
    <ion-spinner *ngIf="updatingEmail"></ion-spinner>
  </ion-item>

  <ion-item [disabled]="exportingCv" (click)="exportCv()" tappable>
    <div tabindex="0"></div>
    <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
    <span *ngIf="!exportingCv">Export CV as PDF</span>
    <ion-spinner *ngIf="exportingCv"></ion-spinner>
  </ion-item>

  <ion-item [disabled]="sendingPassword" (click)="resetPassword()" tappable>
    <div tabindex="0"></div>
    <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
    <span *ngIf="!sendingPassword">Send Password Reset Email</span>
    <ion-spinner *ngIf="sendingPassword"></ion-spinner>
  </ion-item>

  <div *ngIf="candidate && candidate.store && candidate.candidateIdCard">
    <ion-item (click)="renewCard()" tappable *ngIf="candidate.candidateIdCard.expired">
      <div tabindex="0"></div>
      <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
      <ion-spinner *ngIf="expiring"></ion-spinner>
      <span *ngIf="!expiring">
        Renew the Card
      </span>
    </ion-item>

    <ion-item (click)="setExpire()" tappable *ngIf="candidate && !candidate.candidateIdCard.expired">
      <div tabindex="0"></div>
      <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
      <ion-spinner *ngIf="expiring"></ion-spinner>
      <span *ngIf="!expiring">
        Expire the Card
      </span>
    </ion-item>
  </div>

  <ion-item (click)="generateId()" tappable *ngIf="candidate && candidate.store && !candidate.candidateIdCard">
    <div tabindex="0"></div>
    <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
    <ion-spinner *ngIf="generating"></ion-spinner>
    <span *ngIf="!generating">
      Generate ID Card
    </span>
  </ion-item>
  
  <ng-container *ngIf="candidate && !candidate.candidate_job_search_status">
    <ion-item [disabled]="updatingJobSearchStatus" (click)="toggleJobSearchStatus('mark_as_looking')" tappable>
      <div tabindex="0"></div>
      <ion-spinner *ngIf="updatingJobSearchStatus"></ion-spinner>
      <span *ngIf="!updatingJobSearchStatus">
        Mark as Looking for Job
      </span>
    </ion-item>
  </ng-container>

  <ng-container
    *ngIf="candidate && candidate.candidate_job_search_status">

    <ion-item [disabled]="updatingJobSearchStatus" (click)="toggleJobSearchStatus('mark_as_not_looking')" tappable>
      <div tabindex="0"></div>
      <ion-spinner *ngIf="updatingJobSearchStatus"></ion-spinner>
      <span *ngIf="!updatingJobSearchStatus">
        Mark as Not Looking for Job
      </span>
    </ion-item>
  </ng-container>

  <ion-item tappable (click)="toggleCommitted()">
    <div tabindex="0"></div>
    <ion-label>
      <ion-icon src="assets/icon/icon-edit-2.svg"></ion-icon>
      <span *ngIf="candidate.candidate_committed">Mark as Not committed</span>
      <span *ngIf="!candidate.candidate_committed">Mark as committed</span>
    </ion-label>
  </ion-item>


</ion-content>
