<ion-content [attr.dir]="translateService.direction()">
  <ion-list *ngIf="candidate">

    <ion-item [disabled]="sendingPassword" (click)="resetPassword()" tappable>
      <div tabindex="0"></div>
      <span *ngIf="!sendingPassword">Send password reset email to candidate</span>
      <ion-spinner *ngIf="sendingPassword"></ion-spinner>
    </ion-item>

    <ng-container *ngIf="candidate && candidate.store_id && candidate.store && !assigning">
      <ion-item *ngIf="!unassinging && candidate.store" (click)="unassignCandidateFromStore()" tappable>
        <div tabindex="0"></div>
        Unassign candidate from {{ candidate.store.store_name }}
      </ion-item>
      <ion-spinner *ngIf="unassinging"></ion-spinner>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="candidate && !candidate.candidate_job_search_status && candidate.isProfileCompleted">
    <ion-item [disabled]="updatingJobSearchStatus" (click)="toggleJobSearchStatus('mark_as_looking')" tappable>
      <div tabindex="0"></div>
      <ion-spinner *ngIf="updatingJobSearchStatus"></ion-spinner>
      <span *ngIf="!updatingJobSearchStatus">
        Mark as looking for job
      </span>
    </ion-item>
  </ng-container>

  <ng-container
    *ngIf="candidate && candidate.candidate_job_search_status && !candidate.store_id && candidate.isProfileCompleted">

    <ion-item [disabled]="updatingJobSearchStatus" (click)="toggleJobSearchStatus('mark_as_not_looking')" tappable>
      <div tabindex="0"></div>
      <ion-spinner *ngIf="updatingJobSearchStatus"></ion-spinner>
      <span *ngIf="!updatingJobSearchStatus">
        Mark as not looking for job
      </span>
    </ion-item>
  </ng-container>

  <div *ngIf="candidate && candidate.store && candidate.candidateIdCard">
    <ion-item (click)="renewCard()" tappable *ngIf="candidate.candidateIdCard.expired">
      <div tabindex="0"></div>
      <ion-spinner *ngIf="expiring"></ion-spinner>
      <span *ngIf="!expiring">
        Renew the card
      </span>
    </ion-item>

    <ion-item (click)="setExpire()" tappable *ngIf="candidate && !candidate.candidateIdCard.expired">
      <div tabindex="0"></div>
      <ion-spinner *ngIf="expiring"></ion-spinner>
      <span *ngIf="!expiring">
        Expire the card
      </span>
    </ion-item>
  </div>

  <ion-item (click)="generateId()" tappable *ngIf="candidate && candidate.store && !candidate.candidateIdCard">
    <div tabindex="0"></div>
    <ion-spinner *ngIf="generating"></ion-spinner>
    <span *ngIf="!generating">
      Generate ID Card
    </span>
  </ion-item>

  <ion-item (click)="exportCV()" tappable *ngIf="candidate">
    <div tabindex="0"></div>
    <ion-spinner *ngIf="exportingCV"></ion-spinner>
    <span *ngIf="!exportingCV">
      Export CV as PDF
    </span>
  </ion-item>

  <ion-item (click)="suggest()" tappable *ngIf="candidate">
    Suggest this candidate
  </ion-item>

</ion-content>
