ion-back-button {
  display: block;
}

ion-footer {

  ion-grid {
    padding: 0;
  }

  ion-col {
    padding: 0 7px;
  }

  ion-row {
    padding: 10px 7px;
  }

  ion-button {
    width: 100%;
    height: 53px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    margin: 0;
    --color: #ffffff;
    --border-radius: 5px;
    --background: #333333;
    --box-shadow: none;
  }

  ion-button.mark-complete-btn {
    background: #79a336;
    --background: #79a336;
  }

  ion-grid {
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
  }
}
