ion-header {
 // --background: var(--ion-card-background)!important;
}

ion-title, ion-header{
  padding-left: 10px;
  padding-right: 10px;
}
ion-toolbar.title{
  padding: 31px 10px 10px;
}

ion-content {
  background: var(--ion-color-custom-9);
  --background: var(--ion-color-custom-9);
}

#heading-pending-request {
    margin-top: 15px;
    margin-bottom: 16px;
}

.heading-request {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-light-contrast);
    margin-top: 30px;
    margin-bottom: 22px;
}

ion-footer {
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--ion-card-background);

  ion-button {
    height: 53px;
    width: calc(100% - 24px);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    margin: 12px 10px;
    --color: var(--ion-color-primary-contrast);
    --border-radius: 5px;
    --background: var(--ion-color-custom-10);
    --box-shadow: none;
  }
}
.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: var(--ion-color-custom-14);
  ion-icon {
    color:var(--ion-color-primary-contrast);
  }
}
.ion-badge {
  background: var(--ion-color-custom-33);
  color:var(--ion-color-primary-contrast);
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}
.setting_btn {
  background: var(--ion-color-custom-8);
  border-radius: 8px;
  --border-radius: 8px;
  ion-icon {
    color:#9999A6;
  }
}

ion-toolbar ion-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: var(--ion-color-custom-6);
  //padding: 20px;
  text-align: justify;
}

ion-toolbar.title {
  margin-top: 15px;
}

ion-segment-button {
  text-transform: inherit;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--ion-color-custom-5);
}

ion-segment-button.segment-button-checked {
  font-weight: 600;
  color: var(--ion-color-custom-44);
  --indicator-color	:#263879;
  --border-color	:#263879;
}

.searchbar-wrapper {
  padding: 0 20px;

  ion-searchbar {
    --background: var(--ion-color-custom-8);
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    --placeholder-color: var(--ion-color-custom-7);
    color: var(--ion-color-custom-10);
    --box-shadow: none;
    --min-height: 40px;
    --height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    --icon-color: rgba(125, 125, 141, 0.7);
  }

  ion-button {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 0 0 0 16px;
    border-radius: 8px;
    background-color: var(--ion-color-custom-8);
  }

  ion-button.active::after { 
    content: " ";
    background: red;
    background: var(--ion-color-primary);
    border-radius: 100%;
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    padding: 5px;
  }
}

.update-alert {
  bottom: 80px;
}

.filter-tag {
  padding: 12px 0 0;
  ion-badge {
    text-transform: capitalize;
    margin-right:12px;
  }
}
