<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container title">
    <ion-title>
      <span *ngIf="segment == 'request'">Requests</span>
      <span *ngIf="segment == 'story'">Stories</span>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar  class="container searchbar-wrapper">
    <ion-searchbar mode="md" [(ngModel)]="query" (ionInput)="searchFilter($event)" debounce=250></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button class="setting_btn" (click)="openFilter()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar  class="container">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="request">

      <ion-segment-button  mode="md" value="request">
        <ion-label>Requests ({{total}})</ion-label>
      </ion-segment-button>

      <ion-segment-button  mode="md" value="story">
        <ion-label>Stories ({{storyTotal}})</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">

    <div *ngIf="segment == 'request'">
      <ng-container>
        <request-listing *ngFor="let request of activeRequests" tappable (click)="requestDetail(request)"
                         [request]="request" [showStatus]="false"></request-listing>
      </ng-container>

      <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <loading-modal [loading]="loading" type="request-list"></loading-modal>
    </div>

    <div *ngIf="segment == 'story'">

      <ng-container *ngIf="!loading">
          <h2 *ngIf="stories && stories.length == 0" class="ion-text-center">No Story Available</h2>
          <app-story-item *ngFor="let story of stories" [story]="story" (click)="rowSelected(story)"></app-story-item>
      </ng-container>

      <ion-infinite-scroll *ngIf="storyCurrentPage < storyPageCount" (ionInfinite)="doInfiniteStories($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>
  <div class="add-request mobile-only" tappable routerLink="/request-form">
    <ion-icon name="add-outline"></ion-icon>
  </div>
</ion-content>

<ion-footer class="container desktop-only">
  <ion-button routerLink="/request-form">
    <span>Create new request</span>
  </ion-button>
</ion-footer>
