ion-header{
  --background: #ffffff!important;
}

ion-content {
  background: #f7f8fa;
  --background: #f7f8fa;
}

#heading-pending-request {
    margin-top: 15px;
    margin-bottom: 16px;
}

.heading-request {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-top: 30px;
    margin-bottom: 22px;
}

ion-footer {
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  ion-button {
    height: 53px;
    width: calc(100% - 24px);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    margin: 12px 10px;
    --color: #ffffff;
    --border-radius: 5px;
    --background: #333333;
    --box-shadow: none;
  }
}
.add-request {
  position: fixed;
  bottom: 11px;
  z-index: 999;
  right: 17px;
  font-size: 33px;
  padding: 10px;
  height: 53px;
  border-radius: 50%;
  background: #4c70f2;
  ion-icon {
    color:#fff;
  }
}
.ion-badge {
  background: #2f80ed;
  color:#fff;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}
.setting_btn {
  background: #f5f5f7;
  border-radius: 8px;
  --border-radius: 8px;
  ion-icon {
    color:#9999A6;
  }
}

ion-toolbar ion-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #23233d;
  padding: 20px;
  text-align: justify;
}

ion-toolbar.title {
  margin-top: 15px;
}

ion-segment-button {
  text-transform: inherit;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #68687a;
}

ion-segment-button.segment-button-checked {
  font-weight: 600;
  color: #263879;
  --indicator-color	:#263879;
  --border-color	:#263879;
}

.searchbar-wrapper {
  padding: 0 20px;

  ion-searchbar {
    --background: #f5f5f7;
    border-radius: 8px;
    background-color: #f5f5f7;
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    --placeholder-color: #7d7d8d;
    color: #333333;
    --box-shadow: none;
    --min-height: 40px;
    --height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    --icon-color: rgba(125, 125, 141, 0.7);
  }

  ion-button {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin: 0 0 0 16px;
    border-radius: 8px;
    background-color: #f5f5f7;
  }
}