<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container title">
    <ion-title>
      <span *ngIf="segment == 'request'">Requests</span>
      <span *ngIf="segment == 'story'">Stories</span>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar  class="container searchbar-wrapper"  [class.hidden]="borderLimit">
    <ion-searchbar mode="md" [(ngModel)]="query" (ionInput)="searchFilter($event)" debounce=500></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button class="setting_btn" (click)="openFilter()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar  class="container"  [class.hidden]="borderLimit">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="request">

      <ion-segment-button  mode="md" value="request">
        <ion-label>Requests ({{total}})</ion-label>
      </ion-segment-button>

      <ion-segment-button  mode="md" value="story">
        <ion-label>Stories ({{storyTotal}})</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <div *ngIf="filters.requestStatus || filters.storyStatus || filters.position_type || filters.startDate || filters.endDate || filters.story_position_type" class="filter-tag">
      
      <ng-container *ngIf="segment == 'request'">
        
        <ng-container [ngSwitch]="filters.requestStatus">
          <ion-badge *ngSwitchCase="'re_work'">Re-Work</ion-badge>
          <ion-badge *ngSwitchCase="'finished_by_recruitment'">Finished</ion-badge>
          <ion-badge *ngSwitchDefault>{{ filters.requestStatus }}</ion-badge>
       </ng-container>
       
        <ion-badge *ngIf="filters.position_type">{{getPosition(this.filters.position_type)}}</ion-badge>
        <ion-badge *ngIf="filters.startDate">{{getDate(this.filters.startDate)}}</ion-badge>
        <ion-badge *ngIf="filters.endDate">{{getDate(this.filters.endDate)}}</ion-badge>
        <ion-badge color="danger" *ngIf="filters.requestStatus || filters.position_type || filters.startDate || filters.endDate" (click)="resetFilter('request')"  tappable>Reset</ion-badge>
      </ng-container>

      <ng-container *ngIf="segment == 'story'">
        <ion-badge *ngIf="filters.storyStatus">{{getStoryStatus(this.filters.storyStatus)}}</ion-badge>
        <ion-badge *ngIf="filters.story_position_type">{{getPosition(this.filters.story_position_type)}}</ion-badge>
        <ion-badge color="danger" *ngIf="filters.storyStatus || filters.story_position_type" (click)="resetFilter('story')" tappable>Reset</ion-badge>
      </ng-container>

    </div>
    <div *ngIf="segment == 'request'">
      
      <request-listing *ngFor="let request of requests" tappable (click)="requestDetail(request)"
                         [request]="request" [showStatus]="false"></request-listing>

      <no-items message="~ No Request Found ~" *ngIf="!loading && requests.length == 0"></no-items>

      <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <loading-modal [loading]="loading" type="request-list"></loading-modal>
    </div>

    <div *ngIf="segment == 'story'">

      <ng-container *ngIf="!loading">
        <app-story-item *ngFor="let story of stories" [story]="story" (click)="rowSelected(story)"></app-story-item>
      </ng-container>

      <no-items message="~ No Story Found ~" *ngIf="!loading && stories.length == 0"></no-items>
      
      <ion-infinite-scroll *ngIf="storyCurrentPage < storyPageCount" (ionInfinite)="doInfiniteStories($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div class="add-request" tappable routerLink="/request-form">
      <ion-icon name="add-outline"></ion-icon>
    </div>

  </div>

  <div class="update-alert" dir="ltr" *ngIf="alertRequestCountUpdated">
    <span class="wrapper">
        <span class="title">Requests updated</span>
        <span class="btn-refresh">
            &nbsp;
            <span class="ag a8k" tabindex="0" role="link" tappable (click)="loadAllRequest()">
              Refresh
            </span>
        </span>
    </span>
    <div tabindex="0" role="button" class="btn-close" tappable (click)="closeAlert()">
        <ion-icon name="close"></ion-icon>
    </div>
  </div>

</ion-content>
<!--
<ion-footer class="container desktop-only">
  <ion-button routerLink="/request-form">
    <span>Create new request</span>
  </ion-button>
</ion-footer>-->
