<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-title>Active Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/company-request-list">View Older</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <!-- Default Segment -->
    <ion-segment [(ngModel)]="section" [value]="section" (ionChange)="segmentChange($event)">
      <ion-segment-button value="part">
        <ion-label>Part Time <span class="ion-badge" *ngIf="partTimeRequests">{{partTotal}}</span></ion-label>
      </ion-segment-button>
      <ion-segment-button value="full">
        <ion-label>Full Time <span class="ion-badge" *ngIf="fullTimeRequests">{{fullTotal}}</span></ion-label>
      </ion-segment-button>
    </ion-segment>

    <ng-container *ngIf="section == 'part'">
      <request-listing *ngFor="let request of partTimeRequests" tappable (click)="requestDetail(request)"
                       [request]="request" [showStatus]="false"></request-listing>
    </ng-container>
    <ng-container *ngIf="section == 'full'">
      <request-listing *ngFor="let request of fullTimeRequests" tappable (click)="requestDetail(request)"
                       [request]="request" [showStatus]="false"></request-listing>
    </ng-container>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <loading-modal [loading]="loading" type="request-list"></loading-modal>
  </div>
  <div class="add-request mobile-only" tappable routerLink="/request-form">
    <ion-icon name="add-outline"></ion-icon>
  </div>
</ion-content>

<ion-footer class="container desktop-only">
  <ion-button routerLink="/request-form">
    <span>Create new request</span>
  </ion-button>
</ion-footer>
