<ion-card tappable>
  <ion-card-content>
    <div class="inner-card-content">
      <h1>({{ story.request.request_number_of_employees }}) {{story.request.request_position_title}}</h1>
      <h3 *ngIf="story.request.company">
        {{ story.request.company.company_common_name_en? story.request.company.company_common_name_en: story.request.company.company_name }}
      </h3>

      <div class="badge-section">
        <ion-badge *ngIf="story">
          <span *ngIf="story.story_status == 0"> Unstarted </span>
          <span *ngIf="story.story_status == 1"> Started </span>
          <span *ngIf="story.story_status == 3"> Delivered </span>
          <span *ngIf="story.story_status == 4"> Rejected </span>
          <span *ngIf="story.story_status == 5"> Accepted </span>
          <span *ngIf="story.story_status == 6"> Cancelled </span>
        </ion-badge>
        <ng-container *ngIf="story.request">
          
          <ion-badge *ngIf="story.request.request_position_type == 1">Full-time</ion-badge>
          <ion-badge *ngIf="story.request.request_location">{{story.request.request_location}}</ion-badge>
          <ion-badge *ngIf="story.request.request_position_type == 2">Part-time</ion-badge>
          
          <ng-container *ngIf="story.request.staffs"> 
            <ion-badge *ngFor="let staff of story.request.staffs">
              {{ staff.staff_name }}
            </ion-badge>
          </ng-container>
          
        </ng-container>
      </div>

    </div>
    <div class="content-footer ion-text-center" *ngIf="story.latestStoryActivity">
      {{story.latestStoryActivity.activity_last_updated_at | timeAgo}}
    </div>

  </ion-card-content>
</ion-card>
