<!------------------------ candidate -------------------->

<div *ngIf="loading && type == 'candidate'" #container>
  <ion-card class="candidate">
    <ion-card-content>

      <div class="background-masker image"></div>

      <h2 class="background-masker name"></h2>

      <small class="city">
        <div class="background-masker city-location"></div>
      </small>

      <div class="clearfix"></div>

      <p class="background-masker objective"></p>

      <hr />

      <p class="background-masker work"></p>

    </ion-card-content>
  </ion-card>

  <ion-card class="candidate">
    <ion-card-content>

      <div class="background-masker image"></div>

      <h2 class="background-masker name"></h2>

      <small class="city">
        <div class="background-masker city-location"></div>
      </small>

      <div class="clearfix"></div>

      <p class="background-masker objective"></p>

      <hr />

      <p class="background-masker work"></p>

    </ion-card-content>
  </ion-card>
</div>

<!------------------- candidate-filter ------------------------>

<div class="candidate-filter" *ngIf="loading && type == 'candidate-filter'">
  <div class="wrapper">
    <div class="background-masker title"></div>
  </div>
  <div class="wrapper">
    <div class="background-masker title"></div>
  </div>
  <div class="wrapper">
    <div class="background-masker title"></div>
  </div>
  <div class="wrapper">
    <div class="background-masker title"></div>
  </div>
  <div class="wrapper">
    <div class="background-masker title"></div>
  </div>
  <div class="wrapper">
    <div class="background-masker title"></div>
  </div>
</div>

<!------------------ text-list -------------------->

<div class="text-list" *ngIf="loading && type == 'text-list'">
  <ion-list>
    <ion-item><div tabindex="0"></div>
      <ion-skeleton-text></ion-skeleton-text>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-skeleton-text></ion-skeleton-text>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-skeleton-text></ion-skeleton-text>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-skeleton-text></ion-skeleton-text>
    </ion-item>
  </ion-list>
</div>

<div class="text-list-view" *ngIf="loading && type == 'text-list-view'">
  <ion-list>
    <ion-item><div tabindex="0"></div>
      <ion-label>
        <h5>
          <ion-skeleton-text></ion-skeleton-text>
        </h5>
        <p>
          <ion-skeleton-text></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-label>
        <h5>
          <ion-skeleton-text></ion-skeleton-text>
        </h5>
        <p>
          <ion-skeleton-text></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-label>
        <h5>
          <ion-skeleton-text></ion-skeleton-text>
        </h5>
        <p>
          <ion-skeleton-text></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-label>
        <h5>
          <ion-skeleton-text></ion-skeleton-text>
        </h5>
        <p>
          <ion-skeleton-text></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-label>
        <h5>
          <ion-skeleton-text></ion-skeleton-text>
        </h5>
        <p>
          <ion-skeleton-text></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-label>
        <h5>
          <ion-skeleton-text></ion-skeleton-text>
        </h5>
        <p>
          <ion-skeleton-text></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

<div class="candidate-list" *ngIf="loading && type == 'candidate-list'">
  <ion-list>
    <ion-item><div tabindex="0"></div>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item><div tabindex="0"></div>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

<div class="candidate-list" *ngIf="loading && type == 'candidate-form'">
  <!-- Grid for Required File Uploads -->
  <ion-grid id='uploads'>
    <ion-row>
      <ion-col>
        <ion-skeleton-text class="height-80" animated></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text class="height-80" animated></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text class="height-80" animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Rest of Form -->
  <ion-card>
    <ion-card-header>
      Civil ID
    </ion-card-header>
    <ion-card-content>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Civil ID Number</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Civil ID Expiry Date</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Personal Information
    </ion-card-header>
    <ion-card-content>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Name [English]</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Name [Arabic]</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Birth Date</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Payment
    </ion-card-header>
    <ion-card-content>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Hourly Rate (KWD)</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Bank Information
    </ion-card-header>
    <ion-card-content>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Beneficiary Name</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">IBAN</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Login Information
    </ion-card-header>
    <ion-card-content>
      <ion-item><div tabindex="0"></div>
        <ion-label position="stacked">Email</ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>

<div class="stats" *ngIf="loading && type == 'stats'">
  <ion-grid>
    <ion-row>
      <!-- New candidate id need to renew -->
      <ion-col size-lg="12" size-xl="12" size-md="6">
        <ion-card>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-col>

      <!-- New candidate id need to generate -->
      <ion-col size-lg="12" size-xl="12" size-md="6">
        <ion-card>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-col>

      <!-- Candidate Count Card -->
      <ion-col size-lg="12" size-xl="12" size-md="6">
        <ion-card>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>

<!-- candidate-view -->

<div class="candidate-view" *ngIf="loading && type == 'candidate-view'">

  <ion-thumbnail>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-thumbnail>

  <h2 class="candidate-name"><ion-skeleton-text animated></ion-skeleton-text></h2>

  <h4 class="candidate-name"><ion-skeleton-text animated></ion-skeleton-text></h4>

  <h5 class="hourly-rate"><ion-skeleton-text animated></ion-skeleton-text></h5>

  <div class="birth-date">

    <span class="txt-born-on">
      <ion-skeleton-text animated></ion-skeleton-text>
    </span>
    <ion-skeleton-text class="txt-birth-date" animated></ion-skeleton-text>

  </div>

  <ion-skeleton-text class="job-status" animated></ion-skeleton-text>

  <div class="objective">
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>

  <ion-item class="phone">
    <div tabindex="0"></div>
    <ion-label>
      <h5>Call</h5>
      <p> <ion-skeleton-text animated></ion-skeleton-text></p>
    </ion-label>
  </ion-item>

  <ion-item class="whatsapp">
    <div tabindex="0"></div>
    <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
    <ion-label>
      <h5>Whatsapp</h5>
      <p> <ion-skeleton-text animated></ion-skeleton-text></p>
    </ion-label>
  </ion-item>

  <ion-item class="email" lines="none">
    <div tabindex="0"></div>
    <ion-label>
      <h5>Email</h5>
      <p> <ion-skeleton-text animated></ion-skeleton-text></p>
    </ion-label>
  </ion-item>

  <div class="suggestion-wrapper">
    <h5 class="heading">Candidate has been</h5>

    <ion-item>
      <ion-label>Suggested</ion-label>
      <ion-note slot="end"><ion-skeleton-text animated></ion-skeleton-text></ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Accepted</ion-label>
      <ion-note class="accepted" slot="end"><ion-skeleton-text animated></ion-skeleton-text></ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Rejected</ion-label>
      <ion-note class="rejected" slot="end"><ion-skeleton-text animated></ion-skeleton-text></ion-note>
    </ion-item>
  </div>

  <div class="details">

    <ion-item class="video">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="resume">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="skills">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="experiences">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="area">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="nationality">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="gender">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="university">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="driving-license">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="mother-nationality">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="id-number">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="civil-front">
      <div tabindex="0"></div>

      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
        <span>
          <ion-skeleton-text class="civil-id-image" animated></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item>

    <ion-item class="civil-back">
      <div tabindex="0"></div>

      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
        <span>
          <ion-skeleton-text class="civil-id-image" animated></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item>

    <ion-item class="bank">
      <div tabindex="0"></div>
      <ion-label>
        <h5><ion-skeleton-text animated></ion-skeleton-text></h5>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>

    <ion-item class="created-at">
      <div tabindex="0"></div>
      <ion-label>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </div>

</div>

<!--------------------------- request-detail -------------------->

<div class="request-detail" *ngIf="loading && type == 'request-detail'">
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated class="title"></ion-skeleton-text>
      <ion-skeleton-text animated class="sub-title"></ion-skeleton-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-skeleton-text animated class="title"></ion-skeleton-text>
      <ion-skeleton-text animated class="sub-title"></ion-skeleton-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-skeleton-text animated class="title"></ion-skeleton-text>
      <ion-skeleton-text animated class="sub-title"></ion-skeleton-text>
    </ion-label>
  </ion-item>

</div>

<!--------------------------- request-list -------------------->

<div class="request-list" *ngIf="loading && type == 'request-list'">
  <ion-card>
    <ion-card-content>
      <h1><ion-skeleton-text animated class="title"></ion-skeleton-text></h1>
      <h3>
        <ion-skeleton-text animated class="title"></ion-skeleton-text>
        <span><ion-skeleton-text animated class="title"></ion-skeleton-text></span>
      </h3>

      <p class="txt-additional-info"><ion-skeleton-text animated class="title"></ion-skeleton-text></p>
      <small class="time"><ion-skeleton-text animated class="title"></ion-skeleton-text></small>
      <div class="content-footer">
        <ion-skeleton-text animated class="title"></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h1><ion-skeleton-text animated class="title"></ion-skeleton-text></h1>
      <h3>
        <ion-skeleton-text animated class="title"></ion-skeleton-text>
        <span><ion-skeleton-text animated class="title"></ion-skeleton-text></span>
      </h3>

      <p class="txt-additional-info"><ion-skeleton-text animated class="title"></ion-skeleton-text></p>
      <small class="time"><ion-skeleton-text animated class="title"></ion-skeleton-text></small>
      <div class="content-footer">
        <ion-skeleton-text animated class="title"></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>
</div>

<!--------------------------- note-list -------------------->

<div class="note-list" *ngIf="loading && type == 'note-list'">
  <ion-card>

    <ion-skeleton-text class="badge" animated></ion-skeleton-text>

    <p class="note">
      <ion-skeleton-text animated></ion-skeleton-text>

      <ion-skeleton-text animated></ion-skeleton-text>
    </p>

    <p class="txt-time">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
  </ion-card>

  <ion-card>

    <ion-skeleton-text class="badge" animated></ion-skeleton-text>

    <p class="note">
      <ion-skeleton-text animated></ion-skeleton-text>

      <ion-skeleton-text animated></ion-skeleton-text>
    </p>

    <p class="txt-time">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
  </ion-card>

  <ion-card>

    <ion-skeleton-text class="badge" animated></ion-skeleton-text>

    <p class="note">
      <ion-skeleton-text animated></ion-skeleton-text>

      <ion-skeleton-text animated></ion-skeleton-text>
    </p>

    <p class="txt-time">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
  </ion-card>

</div>





<!--------------------------- company-view -------------------->

<div class="note-list" *ngIf="loading && type == 'company-view'">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <div class="left-side">
          <h3 class="company-name">

            <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

            <ion-skeleton-text animated></ion-skeleton-text>
          </h3>

          <h4 class="company-name-english">
            <ion-skeleton-text animated></ion-skeleton-text>
          </h4>

          <h4 class="company-name-arabic arabic">
            <ion-skeleton-text animated></ion-skeleton-text>
          </h4>

          <div class="last-activity">
            <p class="followup">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>

            <p class="last-followup">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </div>

          <p class="email"><ion-skeleton-text animated></ion-skeleton-text></p>

          <p class="hourly-rate">
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>

          <p class="description"><ion-skeleton-text animated></ion-skeleton-text></p>

          <p class="description arabic"><ion-skeleton-text animated></ion-skeleton-text></p>

          <a class="website" target="_blank"><ion-skeleton-text animated></ion-skeleton-text></a>

          <h5><ion-skeleton-text animated></ion-skeleton-text></h5>

        </div>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <div class="right-side">
          <h5>Manage</h5>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>

          <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>


