/*---------------------- text-list --------------------*/

.text-list {
  ion-skeleton-text {
    height: 20px;
    margin: 0;
    padding: 0;
    display: block;
  }
}

/*---------------------- text-view --------------------*/

.text-list-view {
  h5 {
    ion-skeleton-text {
      height: 15px;
      margin: 0;
      padding: 0;
      width: 139px;
      display: block;
    }
  }

  p {
    ion-skeleton-text {
      height: 10px;
      margin: 0;
      padding: 0;
      width: 169px;
      display: block;
      margin-top: 11px;
    }
  }
}

/*---------------------- candidate-list --------------------*/

.candidate-list {

  /* Custom Skeleton Line Height and Margin */
  .custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }

  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
}

.height-80 {
  height: 80px;
}

/*---------------------- stats --------------------*/

.stats {
  ion-skeleton-text {
    height: 120px;
  }
}

/*---------------------- candidate ----------------------*/

[dir="ltr"] {
  .fulltimer .image,
  .candidate .image {
    margin: 0 15px 0 0;
  }
}

[dir="rtl"] {
  .candidate .image,
  .fulltimer .image {
    margin: 0 0 0 15px;
  }
}

.fulltimer,
.candidate {
  position: relative;
  border-radius: 4px;
  --border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2) !important;
  margin: 8px;

  .background-masker {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }

  .image {
    float: var(--start);
    width: 70px;
    height: 70px;
    padding: 1px;
    border: 1px solid #f2f2f2;
    background: #bdbdbd;
    border-radius: 100%;
  }

  .name {
    height: 25px;
    width: calc(100% - 90px);
    margin: 10px 0 0 0;
    display: inline-block;
  }

  .objective {
    height: 50px;
    width: 100%;
    margin: 10px 0 15px 0;
  }

  .work {
    height: 50px;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .school {
    height: 50px;
    width: 100%;
    margin: 10px 0 0 0;
  }

  hr {
    margin-bottom: 15px;
  }

  .city {
    margin-top: 54px;

    ion-icon {
      opacity: 1;
      font-size: 16px;
      margin-top: 2px;
      float: var(--start);
    }

    .city-location {
      width: 27%;
      margin: 0;
      height: 20px;
      float: var(--start);
    }
  }
}

/*---------------------- candidate-filter --------------------*/

[dir="ltr"] {
  .fulltimer-filter,
  .candidate-filter {
    .wrapper {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

[dir="rtl"] {
  .fulltimer-filter,
  .candidate-filter {
    .wrapper {
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

.fulltimer-filter,
.candidate-filter {
  .background-masker {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
    display: block;
  }

  .wrapper {
    border-radius: 4px;
    height: 50px;
    margin: 7px;
  }

  .title {
    height: 20px;
    margin: 10px;
    display: block;
    position: relative;
    top: 15px;
  }
}

/*---------------------- request-detail --------------------*/

.request-detail {
  .title {
    height: 12px;
    margin: 0 0 10px 0;
    max-width: 100px;
  }

  .sub-title {
    height: 14px;
    margin: 0 0 10px 0;
    max-width: 150px;
  }

  .message {
    height: 12px;
    margin: 0;
    max-width: 260px;
  }
}

/*---------------------- candidate-list --------------------*/

.request-list {

  ion-card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: none;

    ion-card-header {
      margin: 0;
      position: relative;
      background-color: #f2c94c;
      margin-bottom: 0;

      ion-card-title {
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      ion-card-subtitle {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        margin: 10px 0 5px 0;
      }
    }

    ion-card-content {
      position: relative;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #bdbdbd;

      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.65;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      padding: 17px 24px 70px 24px;

      .content-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;

        ion-skeleton-text {
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 3;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin: 0;
          padding: 0;
        }
      }

      .txt-additional-info {
        margin: 8px 0 9px;
        font-family: EffraLight;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
      }

      h1 {
        height: 18px;
        width: 220px;
        margin-bottom: 10px;
        margin-top: 5px;
      }

      h3 {
        height: 16px;
        width: 320px;
        margin-bottom: 17px;
        margin-top: 16px;
      }

      h5 {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        margin-top: 40px;
        margin-bottom: 10px;
      }

      .time {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
    }
  }

  .pending ion-card-header {
    background-color: #f2994a;
  }

  .background-red {
    background: #eb5757
  }

  .background-green {
    background: #219653
  }

  .pending-request {
    padding: 17px 24px 52px 24px !important;
  }

}

/*---------------------- note-list --------------------*/

.note-list {

  ion-card {
    margin: 0 0px 13.5px;
    padding: 16px 26px 15px 17px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }

  .badge {
    height: 25px;
    border-radius: 1px;
    width: 72px;
    margin: 0;
  }

  p {
    padding: 0 5px;
    margin: 14px 0 14px;

    ion-skeleton-text:first-child {
      width: 80%;
    }

    ion-skeleton-text:nth-child(2) {
      width: 60%;
    }
  }

  .txt-time {
    margin: 6px 0 5px 0px;
    width: 150px;
  }
}

/*---------------------- candidate-view --------------------*/


.fulltimer-view,
.candidate-view {

  ion-thumbnail {
    width: 136px;
    height: 136px;
    --border-radius: 100%;
    margin: 38px 0 32px 0;
  }

  .fulltimer-name,
  h2.candidate-name {
    margin: 32px 0 3px 0;
    height: 58px;
    width: 250px;
  }

  h4.candidate-name {
    margin: 5px 0 5px 0;
    height: 46px;
    width: 175px;
  }

  .hourly-rate {
    height: 26px;
    width: 300px;
    margin: 3px 0 4px 0;
  }

  .birth-date {
    margin: 0px 0 12px 0;

    .txt-born-on {
      width: 95px;
      height: 22px;
      display: block;
    }

    .txt-birth-date {
      width: 175px;
      height: 17px;
      margin-top: 12px;
    }
  }

  .tag,
  .job-status {
    width: 165px;
    height: 25px;
    margin: 0 0 17px 0px;
    border-radius: 0;
  }

  .objective {
    margin: 0 0 12px 0;

    ion-skeleton-text {
      height: 18px;
    }

    ion-skeleton-text:nth-child(1) {
      width: 60%;
    }

    ion-skeleton-text:nth-child(2) {
      width: 80%;
    }

    ion-skeleton-text:nth-child(3) {
      width: 40%;
    }
  }

  .details ion-item {
    --inner-border-width: 0;
    --padding-start: 58px;
    margin-bottom: 5px;

    ion-label {
      white-space: normal;
      margin-bottom: 5px;
    }

    h5 {
      margin: 0 0 7px 0;
      height: 19px;
    }

    p {
      margin: 3px 0 13px 0;
      height: 17px;
    }
  }

  .work-history-wrapper ion-item,
  .phone,
  .email,
  .whatsapp {
    --padding-start: 46px;
    --inner-border-width: 0;
    --padding-start: 58px;
    margin-bottom: 5px;

    ion-label {
      white-space: normal;
      margin-bottom: 0;
    }

    h5 {
      margin: 0;
      height: 19px;
    }

    p {
      margin: 3px 0 0 0;
      height: 17px;
    }
  }

  .skills,
  .experiences {
    p {
      margin-top: 10px;
    }

    span {
      clear: both;
      display: block;
    }
  }

  .video {
    --background: url('src/assets/images/ic_video.svg') no-repeat 0px 11px;

    ion-skeleton-text:nth-child(1) {
      width: 170px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .resume {
    --background: url('src/assets/images/ic_ad.svg') no-repeat 0px 11px;

    ion-skeleton-text:nth-child(1) {
      width: 80px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .skills {
    --background: url('src/assets/images/ic_food_tools.svg') no-repeat 0px 11px;

    ion-skeleton-text:nth-child(2) {
      width: 250px;
    }

    ion-skeleton-text:nth-child(1) {
      width: 50px;
    }
  }

  .experiences {
    --background: url('src/assets/images/ic_suitcase.svg') no-repeat 0px 11px;

    ion-skeleton-text:nth-child(2) {
      width: 250px;
    }

    ion-skeleton-text:nth-child(1) {
      width: 150px;
    }

  }

  .area {
    --background: url('src/assets/images/ic_home_2.svg') no-repeat 0px 11px;

    ion-skeleton-text:nth-child(1) {
      width: 180px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .phone {
    --background: url('src/assets/images/ic_phone.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 170px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .whatsapp {
    --padding-start: 0px;
    --background: none;

    ion-icon {
      color: #000;
    }

    ion-skeleton-text:nth-child(1) {
      width: 180px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .email {
    --background: url('src/assets/images/ic_message.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 180px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .nationality {
    --background: url('src/assets/images/ic_globe.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 70px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 120px;
    }
  }

  .gender {
    --background: url('src/assets/images/ic_swipe.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 160px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .university {
    --background: url('src/assets/images/md-school.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 160px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .driving-license {
    --background: url('src/assets/images/ic_car.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 160px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 150px;
    }
  }

  .mother-nationality {
    --background: url('src/assets/images/ic_username.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 170px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .id-number {
    --background: url('src/assets/images/ic_feed.svg') no-repeat 0px 15px;

    ion-skeleton-text:nth-child(1) {
      width: 160px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .civil-front,
  .civil-back {
    --background: url('src/assets/images/ic_profile_info.svg') no-repeat 0px 15px;

    p {
      margin-bottom: 7px;
    }

    ion-skeleton-text:nth-child(1) {
      width: 100px;
    }
  }

  .civil-id-image {
    height: 200px !important;
    width: 150px;
  }

  .bank {
    --background: url('src/assets/images/ic_bank.svg') no-repeat 0px 15px;

    h5,
    p {
      margin-bottom: 0 !important
    }

    ion-skeleton-text:nth-child(1) {
      width: 170px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 90%;
    }
  }

  .created-at {
    --background: url('src/assets/images/ic_timer.svg') no-repeat 0px 15px;

    p {
      margin-bottom: 0 !important;
    }

    ion-skeleton-text:nth-child(1) {
      width: 160px;
    }

    ion-skeleton-text:nth-child(2) {
      width: 180px;
    }
  }

  .area,
  .phone,
  .email,
  .nationality,
  .gender,
  .university,
  .driving-license,
  .mother-nationality,
  .id-number,
  .civil-front,
  .civil-back {
    margin-bottom: 5px;
  }

  .txt-expiring-on {
    opacity: 0.85;
  }

  .note-wrapper,
  .suggestion-wrapper {
    .heading {
      margin: 22px 0 24px 0;
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    note {
      margin: 0 0 9px;
    }

    ion-item {
      --inner-border-width: 0;
      --padding-top: 3px;
      --padding-end: 0px;
      --padding-bottom: 3px;
      --padding-start: 21px;
      --background: none;
      margin-bottom: 9px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);

      ion-label {
        line-height: 1.65;
      }

      ion-note {
        width: 34px;
        height: 25px;
        margin: 13px 0 0;
        padding: 5px 9px 2px;
        background-color: #f2f2f2;
      }
    }
  }

  .note-wrapper {
    margin-bottom: 23px;

    .heading {
      margin-top: 32px;
    }
  }

}

/*---------------------- candidate-view --------------------*/

.fulltimer-view {
  .area,
  .nationality,
  .created-at {
    --padding-start: 55px;
  }

  .whatsapp {
    --padding-start: 0 !important;
  }
}

.company-list {
  //background: #fcfcfc;
  ion-skeleton-text {
    padding: 0;
    margin: 0;
  }
  ion-item {
    margin: 7px 12px 12px;
    //padding: 17px 15px 17px 21px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    position: relative;
  }
  ion-badge {
    width: 20%;
    margin-right: 10px;
    border-radius: 2px;
    padding: 0;
    ion-skeleton-text {
      height: 29px;
    }
  }
  h2 {
    height: 27px;
    margin-bottom: 13px;
    width: 29%;
  }
  p {
    margin: 5px 48px 8px 0;
    line-height: 1.34;
    width:36%;
  }
  .small-detail {
    margin-bottom: 8px;
  }
  .company_status_badge {
    position: absolute;
    top: 17px;
    right: 15px;
    width: 11%;
  }
}
.company-view {
    --padding-start: 30px;
    --padding-end: 30px;

    ion-thumbnail {
      max-height: 71px;
      margin-bottom: 7px;
      margin-top: -12px;
    }

    h3 {
      margin: 23px 0px 0 0px;
      font-size: 36px;
      color: #000;
    }

    .company-name-arabic,
    .company-name-english {
      font-size: 24px;
      color: #000;
      margin: 0;
    }

    .last-activity {
      margin-top: 10px;
      font-size: 12px;
      color: #000;

      p {
        margin: 0;
      }

      .followup {
        font-size: 14px;
        color: #219653;
      }


    .email {
      margin: 13px 0 10px 0px;
      font-size: 12px;
      color: #000;
    }

    .hourly-rate {
      margin: 10px 0 13px 0;
      font-size: 12px;
      color: #000;
    }

    .description {
      margin: 18px 0 10px 0;
      font-size: 14px;
      color: #000;
    }

    .website {
      margin: 10px 0 27px 0;
      color: #2f80ed;
      text-decoration: none;
    }

    h5 {
      font-weight: bold;
      margin: 27px 0 24px 0;
    }

    .btn-view-notes {
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      width: 100%;
      height: 41px;
      text-transform: none;
      margin: 0;
      --background: none;
      --box-shadow: none;
    }

    note {
      margin: 0 0 9px;
    }

    ion-item {
      --inner-border-width: 0;
      --padding-top: 3px;
      --padding-end: 0px;
      --padding-bottom: 3px;
      --padding-start: 21px;
      --background: none;
      margin-bottom: 9px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);

      ion-label {
        color: #000;
      }

      ion-note {
        font-weight: bold;
        text-align: center;
        width: 34px;
        height: 25px;
        margin: 13px 0 0;
        padding: 5px 9px 2px;
        background-color: #f2f2f2;
      }
    }
  }

  ion-item {
    ion-badge {
      background-color: #f2f2f2;
      border-radius: 1px;
      color: #000;
      font-size: 12px;
      padding: 10px 15px;
      font-weight: bold;
    }
  }
  ion-grid, ion-col, ion-row {
    padding: 0;
  }
  .left-side {
    padding-right: 60px;
  }
  .right-side {
    padding-top: 165px;
    ion-item{
      background: #fff;
    }
  }
  @media only screen and (max-width:767px){
    .left-side {
      padding-right: 0;
    }

    .right-side {
      padding-top: 0;
    }
  }

  .last-activity {
    h5 ion-skeleton-text {
      height: 22px;
      width: 38%;
    }
    .txt-time {
      margin-bottom: 12px;
      width: 39%;
    }
    ion-badge {
      background: gainsboro;
      width: 96px;
    }
  }
  label ion-skeleton-text {
    height: 31px;
    width: 55%;
    margin-bottom: 13px;
  }
  .company-name-english ion-skeleton-text {
    height: 21px;
    margin-bottom: 23px;
    width: 55%;
  }

  .company-name-arabic ion-skeleton-text {
    height: 16px;
    width: 55%;
    margin-bottom: 21px;
  }
  .last-activity  p{
    width:69%
  }
  p.email {
    width: 36%;
  }

  .hourly-rate,.description,.website {
    width: 49%;
  }
}

.contact-list {

  ion-item {
    margin: 0 1px 9px 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding: 5px 0;
    --inner-border-width: 0;
  }

  h4 ion-skeleton-text {
    width: 21%;
    height: 10px;
  }

  h2 {
    margin-bottom: 14px;

    ion-skeleton-text {
      height: 20px;
      width: 36%;
    }
  }

  ion-icon {
    float: left;
    color: #000;
    font-size: 19px;
  }

  p {
    margin-bottom: 10px;

    a ion-skeleton-text {
      width: 30%;
      margin-left: 32px;
      }
  }

  ion-badge {
    background-color: #f2f2f2;
    color: #000;
    border-radius: 2px;
    width: 25%;
    padding: 0;
    margin: 0;
    margin-right: 15px;

    ion-skeleton-text {
      padding: 0;
      margin: 0;
      height: 24px;
    }
  }

  .counts {
    margin-top: 17px;
  }
}

.brand-list {
  h1 {
    width: 38%;
    margin-left: 15px;
    margin-top: 0;
    height: 20px;
  }
}

.company-file-list {

  .document {
    --border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin: 0 0 13.5px;


    .icon {
      width: 24px;
      height: 24px;
      margin: 3px 120px 5px 0;
      object-fit: contain;
    }

    .meta-data {
      margin: 0 6px 0 120px;
      padding: 1px 9px 2px;
      background-color: #f2f2f2;
      float: right;
      margin-left: 6px;
      width: 12%;
    }
  }
  h5 ion-skeleton-text {
    height: 16px;
    width: 40%;
  }
  .document-detail ion-skeleton-text {
    margin-top: 15px;
    height: 38px;
    width: 40%;
  }
  .date ion-skeleton-text {
    margin-top: 19px;
    width: 26%;
  }
}

.transfer-list {
  ion-list {
    background: transparent;
  }
  h1 {
    width: 16%;
  }
  h2 {
    width: 28%;
    height: 18px;
  }
  h3 {
    width: 31%;
  }
  h4 {
    width: 46%;
  }
}
.chart {
  p ion-skeleton-text {
      height: 202px;
      margin-top: 18px;
  }
  small ion-skeleton-text {
    width: 14%;
    float: left;
    margin-right: 12px;
    height: 17px;
  }
}

.mall-list {
  h1 {
    margin-left: 0;
  }
  ion-badge {
    width: 52px;
    background: gainsboro;
    border-radius: 0;
  }
}
.store-list {
  ion-card {
    margin: 13px 32px
  }
  p {
    margin-top: 15px;
    ion-icon {
      float: left;
    }
    ion-skeleton-text {
      margin-left: 22px;
      width: 38%;
    }
  }
  h5 ion-skeleton-text {
      height: 16px;
      width: 30%;
  }
}
