
.text-list {
     ion-skeleton-text{
        height: 20px;
        margin: 0;
        padding: 0;
        display: block;
    }
}
.text-list-view {
  h5 {
    ion-skeleton-text{
      height: 15px;
      margin: 0;
      padding: 0;
      width: 139px;
      display: block;
    }
  }
  p {
    ion-skeleton-text{
      height: 10px;
      margin: 0;
      padding: 0;
      width: 169px;
      display: block;
      margin-top: 11px;
    }
  }
}
.candidate-list {
  /* Custom Skeleton Line Height and Margin */
  .custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }

  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
}

.height-80{
  height: 80px;
}
.stats {
  ion-skeleton-text {
    height: 120px;
  }
}

/*---------------------- candidate ----------------------*/

[dir="ltr"] {
  .candidate .image {
      margin: 0 15px 0 0;
  }
}

[dir="rtl"] .candidate .image {
  margin: 0 0 0 15px;
}

.candidate {
  position: relative;
  border-radius: 4px;
  --border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2)!important;
  margin: 8px;

  .background-masker {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      height: 96px;
      position: relative;
  }

  .image {
      float: var(--start);
      width: 70px;
      height: 70px;
      padding: 1px;
      border: 1px solid #f2f2f2;
      background: #bdbdbd;
      border-radius: 100%;
  }

  .name {
      height: 25px;
      width: calc(100% - 90px);
      margin: 10px 0 0 0;
      display: inline-block;
  }

  .objective {
      height: 50px;
      width: 100%;
      margin: 10px 0 15px 0;
  }

  .work {
      height: 50px;
      width: 100%;
      margin: 10px 0 0 0;
  }

  .school {
      height: 50px;
      width: 100%;
      margin: 10px 0 0 0;
  }

  hr {
      margin-bottom: 15px;
  }

  .city {
      margin-top: 54px;

      ion-icon {
          opacity: 1;
          font-size: 16px;
          margin-top: 2px;
          float: var(--start);
      }

      .city-location {
          width: 27%;
          margin: 0;
          height: 20px;
          float: var(--start);
      }
  }
}

/*---------------------- candidate-filter --------------------*/

[dir="ltr"] .candidate-filter {
  .wrapper {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  }
}

[dir="rtl"] .candidate-filter {
  .wrapper {
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08), 2px 0 4px 0 rgba(0, 0, 0, 0.12);
  }
}

.candidate-filter {
  .background-masker {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      position: relative;
      display: block;
  }

  .wrapper {
      border-radius: 4px;
      height: 50px;
      margin: 7px;
  }

  .title {
      height: 20px;
      margin: 10px;
      display: block;
      position: relative;
      top: 15px;
  }
}
.candidate-view {
  .sub-span {
    float: left;
    padding: 6px;
    border: 1px solid;
    margin: 5px;
    border-radius: 15px;
  }
}

.request-detail {
  .title {
    height: 12px;
    margin: 0 0 10px 0;
    max-width: 100px;
  }

  .sub-title {
    height: 14px;
    margin: 0 0 10px 0;
    max-width: 150px;
  }

  .message {
    height: 12px;
    margin: 0;
    max-width: 260px;
  }
}
.request-list {

  ion-card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: none;

    ion-card-header {
      margin: 0;
      position: relative;
      background-color: #f2c94c;
      margin-bottom: 0;

      ion-card-title {
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      ion-card-subtitle {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }

      p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        margin: 10px 0 5px 0;
      }
    }

    ion-card-content {
      position: relative;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #bdbdbd;

      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.65;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      padding: 17px 24px 70px 24px;
      .content-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        ion-skeleton-text {
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 3;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin: 0;
          padding: 0;
        }
      }

      .txt-additional-info {
        margin: 8px 0 9px;
        font-family: EffraLight;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
      }

      h1 {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }
      h3 {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
      }
      h5 {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        margin-top: 40px;
        margin-bottom: 10px;
      }

      .time {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
    }
  }

  .pending ion-card-header {
    background-color: #f2994a;
  }
  .background-red {
    background: #eb5757
  }
  .background-green {
    background: #219653
  }

  .pending-request {
    padding: 17px 24px 52px 24px!important;
  }

}
